[2015-09-20 03:30] vnbang2003 opened #2 "Base Structure"
Define the basic structure and models to start.

[2015-09-20 03:34] vnbang2003 opened #3 "Integrate django-allauth for authentication"
We need to integrate django-allauth for  social account authentication.

[2015-09-20 03:37] vnbang2003 opened #4 "Signup using non-social accounts(based on EmailVerification )"
We should allow end users to register using personal email-ids as they are good chance institute will have their own email server which are not linked to Social accounts.

We should use Emailverificaiton system to validate users.
This task as to go in-hands with Ticket #3

[2015-09-20 08:54] DESHRAJ commented on #3
Hey @vnbang2003 I am interested in working on this.

[2015-09-20 13:53] vnbang2003 commented on #3
@DESHRAJ Sure.

[2015-09-20 13:56] vnbang2003 opened #5 "Create base templates"
create base templates like base, 404, 500.

[2015-09-20 14:01] vnbang2003 opened #6 "Profile Creation/Update page"
We need to have profile page where user will share additional details like twitter, GitHub,Phone and etc details.
We have 2 set of user
1) Organization: They should share details about college, location, Department, positions etc
2) Tutor: They need to share their experience level, Preferred location where can conduct workshops.
               Tutor also need to choose from set of predefined works

[2015-09-20 14:02] vnbang2003 opened #7 "Workshop creation/update/delete"

[2015-09-20 14:03] vnbang2003 opened #8 "Workshop selection page"
This page should allow tutor to select workshop or admin can assign workshop to tutor

[2015-09-20 14:06] vnbang2003 opened #9 "Workshop feedback page"
We need to have in place feedback mechanism it should be mandatory for organisation and tutor to share feedback.
Organisation shouldn't be allowed to request next workshop if they don't share feedback for previous conducted workshop.
Tutor shouldn't be allowed to take up next request until he give feedback to previous workshop.

[2015-09-20 14:08] vnbang2003 opened #10 "Admin User should be able to add/delete regional Lead(POC)"
Admin should be allowed to make one user regional lead . We can have more than one regional POC.

[2015-09-20 14:09] vnbang2003 opened #11 "Email alert for each step of workshop"
Once we have workshop request in the system.

#Requested:
   1) we should send automatic emails to all tutor who have shared their interest to conduct workshop of that region.
  2) The email should also be sent to regional leads to understand activity happening.
  3) Email should be sent to requester saying " we are working on find volunteering for requested workshop"

 #Accepted
    1) we should

[2015-09-20 14:11] vnbang2003 opened #12 "User Landing Page"
Once user login we need to display dashboard with based on usertype.
System has 4 types of user
1) Tutor: In tutor landing page we should display list of workshop request(not accepted) where they shared interest to conduct workshop.Button to provide feedback for completed workshop
2) Regional Lead: Visit #13 to find details
3) College POC: He should be able to see who all belong to his organizatio

[2015-09-20 14:11] vnbang2003 opened #13 "Regional POC landing page"
In his page
He should be seeing workshop accepted, pending .
He should also being stat number of tutor who expressed interest to conduct workshop in his region. Organization belonging to his region.

[2015-09-20 14:11] vnbang2003 opened #14 "Admin landing page"
In the Page
Admin should see total workshop with different status(Pagination: 10)
Admin Should see total conference with different region(Pagination: 10)
Admin should see button where he can send email to by button click(Requester/Accepted) who haven't shared feedback to workshop conducted.
Admin should be add new regional leads(State wise)

[2015-09-20 14:13] vnbang2003 opened #15 "Email Notification on confirming Workshop"
Once any tutor confirm workshop . Email needs to sent to all regional people to understand workshop is confirmed.

[2015-09-20 14:18] vnbang2003 opened #16 "Profile display page"
Plan is to create a profile page which will function like facebook and github.
example:
    github: github.com/pyconindia(Personal)
    facebook: facebook.com/PyConIndia(Orgnaisation)

By default page is public but user can choose to make it private by making settings.
This page basically contains details on number of workshop  requested, conducted and how activate user is and all. It should also

[2015-09-20 14:22] vnbang2003 opened #17 "Contact us page"
We need to add form with below fields
1) Email Id
2) Phone number
3)Dropdown with option (Profile, Workshop, Organisation and others)
4) Text Box

Once user click on submit button it should send email to admins and Regional Leads with form details.

[2015-09-20 14:23] vnbang2003 opened #18 "FAQ/help page"
We should add static page which explain how to use the system.
Probably ReadMe page will do but add it a placeholder for now.

[2015-09-20 14:48] vnbang2003 opened #19 "Partnership page"
We should add contact page where Open source Organizations can send request for Partnership.
This emails should be sent to admins.

[2015-10-05 09:45] shankig commented on #7
@vnbang2003 I can take it up. Let me know if its fine.

One more thing CBV vs FBV, which one is preferred . I have checked login, its using FBV. Pls confirm.

[2015-10-05 09:45] shankig commented on #8
@vnbang2003 I can take it up. Let me know if its fine.

[2015-10-05 09:45] shankig commented on #9
@vnbang2003 I can take it up. Let me know if its fine.

[2015-10-05 10:03] vnbang2003 commented on #7
CBV would be good . Login page was temp it gone change soon.
@shankig please assign to your self

[2015-10-05 10:06] vnbang2003 commented on #8
@shankig let take one at a time . Any unassigned issues can be taken up.

[2015-10-05 10:06] vnbang2003 commented on #2
Completed.

[2015-10-05 10:06] #2 closed

[2015-10-05 12:30] shankig commented on #7
@vnbang2003 I don't have the permission to assign.

[2015-10-07 04:02] shankig opened #23 "Fix string formatting issue for __str__ function in workshops/models"
For workshops models the \__str__ function have string formatting issue.

For example \__str__ function for WorkshopLevel model is as below

    def __str__(self):
        return '{}' % (self.name)

To fix this issue we need to use .format, sample below

    def __str__(self):
        return '{}'.format(self.name)

While working on issue #7 , I will fix this.

[2015-10-07 05:06] theskumar commented on #23
+1

[2015-10-07 16:31] shankig commented on #7
@vnbang2003 . I was just checking the settings files and saw it includes rest_framework library.

So, I am creating api using django rest framework for this task. Or you want me to implement it as normally django CBV .

[2015-10-07 16:48] vnbang2003 commented on #7
@shankig API we will do it in Phase2

[2015-10-07 17:33] shankig commented on #7
Ok, thanks

[2015-10-09 05:22] ultimatecoder commented on #6
@vnbang2003  I want to work on this issue. Will it be possible to assign this to me? I will consider confirmation once you will assign this issue to me. Thanks.

[2015-10-09 12:34] ultimatecoder commented on #6
@vnbang2003  Should I have to start work directly and put PR for issue? Waiting for a confirmation call from your side to starting work on this issue.

[2015-10-09 12:36] ChillarAnand commented on #6
@ultimatecoder  Before working on an issue, just leave a comment that you are working so that others wont start working on the same.

You dont need to wait. Go forth :-)

[2015-10-09 12:38] ultimatecoder commented on #6
@ChillarAnand  Thanks! Everyone, with this message I am letting you know that I am working on this.

[2015-10-09 12:48] ChillarAnand opened #27 "docs: Describe wye"
How is it pronounced? Ans: Y
Why it is named wye? Ans: as it works as connector to Organization  and Python community.
A brief description about project.: Will do in few days

[2015-10-09 15:18] vnbang2003 commented on #6
@ultimatecoder  Let me know if anything is not clear description.

[2015-10-09 15:26] vnbang2003 commented on #27
@ChillarAnand Have answered two question inline. Description will add in few days

[2015-10-10 03:44] vnbang2003 commented on #27
done

[2015-10-10 03:44] #27 closed

[2015-10-10 04:51] vnbang2003 commented on #6
@ultimatecoder have just added slug fields which will be unique to the system in profile model.
While working on profile creation/updation make a validation that slug field is unique

[2015-10-10 05:53] vnbang2003 opened #29 "Worskshop life Cycle"
Each workshop request needs to go through below state
1) requested(when new request is done)
2) accepted(when user/tutor accept it)
3) declined(if not resource available)
4) completed(Feedback is shared hence we say it completed)

[2015-10-10 06:51] vnbang2003 commented on #8
@shankig This page require some javascript work as this page needs to list of all workshop and tutor name of the region. Do let me know if you are fine if i ask UI expert to work on .

[2015-10-10 07:00] shankig commented on #8
@vnbang2003 , workshop listing feature is implemented in #7 . I will implement the backend logic for tutor self assignment.

+1 . for UI expert. It will be good if you assign this task to me, I can take it up next.

[2015-10-10 09:01] vnbang2003 commented on #8
@shankig  Please assign to your self or else put comment you are working on it.

[2015-10-10 09:24] vnbang2003 commented on #16
I will work on it

[2015-10-10 13:38] theskumar commented on #29
I think we can also add `draft` status.

[2015-10-10 16:28] vnbang2003 commented on #29
Have added Workshop status constant in wye/base/constants.py.

[2015-10-10 16:39] vnbang2003 commented on #15
it's duplicate hence closing it #11

[2015-10-10 16:39] #15 closed

[2015-10-10 17:20] vnbang2003 opened #30 "blog"
Blog post about monthly workshops or any specific workshop should be posted.
In mailing list this library was recommended
https://github.com/Fantomas42/django-blog-zinnia

[2015-10-10 17:23] vnbang2003 commented on #3
@DESHRAJ  Are you working on it ?

[2015-10-10 17:25] DESHRAJ commented on #3
Yes, I have integrated django allauth and its templates but designing needs to be done over the templates.

[2015-10-10 17:44] vnbang2003 commented on #3
Cool Thanks. Hope to see you pull request soon.
Am assigning it to you.

[2015-10-11 07:04] staranjeet opened #31 "Double requirement given"
In `base.txt`, there is a double requirement given for `djangorestframewrok` and `django-filter`. The following snippet shows this

[code]

I think for both the higher version should be used.

[2015-10-11 07:41] vnbang2003 commented on #3
@DESHRAJ I have merged code as initial configuration checkin. But we need to get social login and normal login work to close this issue. Do Let you know if you can fix them ?

[2015-10-11 08:23] shankig commented on #7
Fixed and merged
Commit# 5732162ef0008a3b88ac72d9be89c94dbd6bd4a7

[2015-10-11 08:23] shankig commented on #23
Fixed and merged
commit# 5732162ef0008a3b88ac72d9be89c94dbd6bd4a7

[2015-10-11 08:23] #23 closed

[2015-10-11 08:24] shankig commented on #7
@vnbang2003 pls close this issue

[2015-10-11 08:31] DESHRAJ commented on #3
Ok sure. I can add the social login. :)

[2015-10-11 08:45] shankig commented on #8
I am working on it.

[2015-10-11 08:49] DESHRAJ opened #33 "Integrate Social login using django-allauth"
This includes integrating the social authentication using following providers:

a) Google
b) Twitter
c) Github

[2015-10-11 08:50] DESHRAJ commented on #33
@vnbang2003, Please assign it me. :)

[2015-10-11 09:04] vnbang2003 commented on #33
Done

[2015-10-11 09:05] vnbang2003 commented on #3
Close this as basic integration is done. Next steps are worked in #33

[2015-10-11 09:05] #3 closed

[2015-10-11 09:06] vnbang2003 commented on #4
Duplicate issue hence closing it #33

[2015-10-11 09:06] #4 closed

[2015-10-11 09:06] #31 closed

[2015-10-11 09:06] #5 closed

[2015-10-11 09:07] #7 closed

[2015-10-11 09:08] DESHRAJ commented on #4
@vnbang2003 , do we need the email based authentication ? If yes, then let me know because I need to change the settings.

[2015-10-11 09:19] vnbang2003 commented on #4
@DESHRAJ Yes email based will be good.

[2015-10-11 09:21] vnbang2003 commented on #13
Duplicate to #12 hence closing it

[2015-10-11 09:21] vnbang2003 commented on #14
Duplicate to #12 hence closing it

[2015-10-11 10:02] staranjeet commented on #30
I can work on this issue. But I will need some more information about how and what to do.
@vnbang2003

[2015-10-11 12:23] vnbang2003 opened #36 "When we login with local credtinals it throws error."
Once we entered login details it throwing below error.

AttributeError at /accounts/login/

'tuple' object has no attribute 'encode'

Request Method: 	POST
Request URL: 	http://localhost:8000/accounts/login/
Django Version: 	1.8.5
Exception Type: 	AttributeError
Exception Value:

'tuple' object has no attribute 'encode'

Exception Location: 	/Library/Frameworks/Python.framework/Versions/3.4/lib/py

[2015-10-11 12:24] vnbang2003 commented on #36
@DESHRAJ Can you look in to this. Once i added email details it throwing error.

[2015-10-11 13:05] DESHRAJ commented on #36
I think there is some error with smtp. Can you try setting the EMAIL_BACKEND to console using the following line:
EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'

Hope this helps.

[2015-10-11 14:22] theskumar opened #39 "Enable travis to run on this project"
@vnbang2003 can you please enable travis for this project, so the failing test are visible during PR. Also, it would be nice we can encourage people to write test for the features they are submitting. It really become a pain point to write test later in the development cycle.

[2015-10-11 15:22] kracekumar commented on #39
+100.

[2015-10-11 15:34] vnbang2003 commented on #39
@theskumar For test case +1 .
For Travis i think its too early let gets project to some shape and enable it.

[2015-10-11 15:40] vnbang2003 opened #40 "Testing Layout"
We need to enable testing layout for this project.
Plan is to use pytest

[2015-10-11 15:41] vnbang2003 commented on #40
@theskumar Can you help with this?

[2015-10-11 16:51] mascot6699 commented on #39
@theskumar @vnbang2003 Please tag me when we enable travis I really want to learn how its done. Thanks in advance.

[2015-10-12 12:20] shankig commented on #8
@vnbang2003
Per Workshop models we can have multiple presenter, I think we should restrict the number of presenter for a workshop. Your thought?

If  we restrict the number of presenter, so what should be the number.

[2015-10-12 12:33] kracekumar commented on #8
My 2p. It is always possible to have multiple tutors for a workshop. Let's
not limit number of tutors for workshop now.

On Mon, Oct 12, 2015 at 5:50 PM, shanki <notifications@github.com> wrote:

--
Regards
Kracekumar Ramaraj
http://kracekumar.com

[2015-10-12 15:01] vnbang2003 commented on #8
We will also have use case where workshop has multiple tracks(Parallel) we need to make changes to models to incorporate also.

[2015-10-12 17:02] vnbang2003 opened #44 "New Workshop default state and Emails"
When user request for workshop by default Workshop should be either in Draft and Requested.
With the existing form we should not display (1) Is_active.
Date Fields format need to display for user to enter. (Preferred to use calendar widget)
It should also send emails to admins, POC and requester.

[2015-10-12 17:03] vnbang2003 commented on #44
@shankig Can you please take it as you are working on workshop section ?

[2015-10-12 17:11] vnbang2003 commented on #16
Completed /profile/<slug>/

[2015-10-12 17:11] #16 closed

[2015-10-12 18:21] shankig commented on #44
@vnbang2003 Ok assign it to me.

[2015-10-12 18:31] shankig commented on #8
Ok, that's fine. Then we should have 2 flag for,

- Tracking if workshop is over. No such attribute is available in Workshop model, like **completed**
- Stopping presenters to assign workshop to themselves. Where admin can go and change the flag.

[2015-10-12 18:38] DESHRAJ commented on #33
@vnbang2003 , I think this issue is resolved and now it can be closed. If anything else need to be done on this issue, then please let me know.

[2015-10-12 19:00] shankig commented on #8
Got new update in Workshop models **status** , this should work for me.

[2015-10-12 19:07] staranjeet opened #45 "ModelAdmin class for each model"
For each model, there should be a ModelAdmin class, which will include important fields like
`list_per_page`, `list_display`, `exclude`, `list_display_links`, `search_fields`, `list_filter`.

[2015-10-12 19:07] staranjeet commented on #45
I can work on this.

[2015-10-13 11:43] vnbang2003 commented on #45
This is not on high priority as it good to have feature. Do you mind to pick other issue which are of high priority ? Like #12 #13 #14

[2015-10-13 11:47] vnbang2003 commented on #8
@shankig  not clear with you point "Stopping presenters to assign workshop to themselves. Where admin can go and change the flag."

[2015-10-13 11:50] shankig commented on #8
@vnbang2003  for now lets leave this topic. Let me complete this feature then we can discuss.

[2015-10-13 11:50] vnbang2003 commented on #33
@DESHRAJ Can we display logo instead of Text? Reference https://in.pycon.org/cfp/accounts/login/?next=/cfp/

[2015-10-13 11:52] vnbang2003 commented on #36
@DESHRAJ  If this is fixed can you close the ticket ?

[2015-10-13 12:38] DESHRAJ commented on #36
Yes this issue is fixed now. I think I dont have rights to close the issue. So, @vnbang2003 can you do it for me ?

[2015-10-13 12:48] #36 closed

[2015-10-13 13:01] staranjeet commented on #12
For this I will have to create a new app or use profile app. Also this involves fetching all the objects from the database. Some elaboration from your side will really help me.

[2015-10-13 13:03] vnbang2003 opened #46 "Rebase Migration once basic functionality is done"
Rebase Migration once basic functionality is done.
I will work on it after few days one DB structure is stable.

[2015-10-13 13:35] vnbang2003 commented on #12
@staranjeet This is dependent of #6 . But you can still assume user profile url will be /account/profile/ page and work on this ticket

[2015-10-13 16:46] vnbang2003 commented on #30
@staranjeet We need to integrate this library and make a document how to use it .
We will be having many blog to be written for this product.

[2015-10-13 16:54] ultimatecoder commented on #12
@vnbang2003  @staranjeet Master loads profile of user with "profile/<slug>".

[2015-10-14 00:43] staranjeet commented on #30
Ok. I am working on this. I will initially present a draft of how to integrate the blogging app into `wye`.

[2015-10-14 04:47] vnbang2003 commented on #12
@ultimatecoder As said before he needs to assume and work. Once you complete your profile page work we can decide on URL. #6 .

[2015-10-16 04:01] shankisg opened #47 "Disable E125 for flake8"
While validating code using flake8, for code block below it throws **E125 continuation line does not distinguish itself from next logical line
** , can we disable it.

[code]

[2015-10-16 04:05] vnbang2003 commented on #6
@ultimatecoder Can we get this code up faster as it blocker few other features ?

[2015-10-16 04:37] vnbang2003 opened #49 "Workshop Withdrawl"
We should allow requester to withdraw workshop(Move to draft position). Once requester withdraw we need to unassign workshop from presenter and send email on the change in workshop status.
While he withdraw workshop we need to force user to provide reason for withdrawal of workshop.

[2015-10-16 04:40] ultimatecoder commented on #6
@vnbang2003  Yes. Apologizing for delay. You should expect PR by tomorrow from my side.

[2015-10-16 08:04] theskumar commented on #47
[code]
vs
[code]

I don't think there is much of the difference.

I understand you might have a style of writing the code. I don't want to be sounding like a advocate of typographical design. But the standard there is for a reason, whether good or bad, they help in keep the code consistent and look same for every developer developers.

There are some tools/plugins like

https://pypi.python.org/pyp

[2015-10-16 10:49] vnbang2003 commented on #6
@ultimatecoder just one more while create profile we need to ask him to register as tutor or College POC other option(Regional Lead and admin) are created by admin.

[2015-10-17 03:00] vnbang2003 opened #50 "Organisation create/update"
If the user type is Organization we should show button "Add organization". User can update organization details.
If the user type is POC, they can add organization with all the detail and POC become requester.

[2015-10-17 03:30] vnbang2003 opened #51 "Student should be able to share feedback for workshop attended"
This is place holder for now. Need to discuss with all to take it forward.

Student should be able to share feedback for workshop attended

[2015-10-17 06:26] kracekumar commented on #51
Students don't have login option and will the feedback url has to
unguessable to avoid spams.

On Sat, Oct 17, 2015 at 9:00 AM, Vijay <notifications@github.com> wrote:

--
Regards
Kracekumar Ramaraj
http://kracekumar.com

[2015-10-17 07:55] vnbang2003 commented on #50
Have completed create/ details view.
Will work on Update and deactivate soon

[2015-10-17 07:59] shankig commented on #47
Actually I am adapted to this way formatting the code, but will give try to your suggestion and see how it goes.

Will keep open this ticket for few days, if someone want to  express  there concern/suggestions.

[2015-10-17 09:39] vnbang2003 commented on #50
Close it  url
1) /organisation/create
2) /organisation/<id>/
3) /organisation/edit/
4) /organisation/deactive/

[2015-10-17 09:39] #50 closed

[2015-10-18 06:55] DESHRAJ commented on #33
Hey @vnbang2003 , exams are going in my college. I will do this next week. :)

[2015-10-20 02:26] vnbang2003 commented on #6
@ultimatecoder We need profile page to earliest possible. Let me know if you can complete it If not will assign to other or take up myself.

[2015-10-20 04:41] vnbang2003 opened #57 "Moving all email template to common folder"
To make it simple i think it best to move all email template to common folder inside template direction.
I have created temp  folder  and add few place holder https://github.com/pythonindia/wye/tree/master/wye/templates/email_messages

We need to add both .txt and .html files there to make it simple for everyone to see content.

[2015-10-20 04:46] harisibrahimkv commented on #57
Thanks @vnbang2003. @shankig I am not familiar with the project structure that much. If you could add the basic content for all the templates, I can review and edit it if necessary. For each template, I'll need to know whom the email is being sent to and what the email will be notifying that person of.

[2015-10-20 06:55] shankisg commented on #57
@vnbang2003 @harisibrahimkv

Let me add a pull request with required changes, then you guys can share feedback.  I think that will be good.

[2015-10-20 14:24] mascot6699 opened #58 "Incorporate UserType creation in sample_data.py"
I feel so get started with the flow of user redirection after login UserType creation is necessary for all. Though there is a comment as to what values will go in it. IMO it would be better to incorporate the UserType creation in sample_data.py script so it can be setup at start. This will allow smooth functioning once the flow in integrated. Also I see email being sent to by querying the user for

[2015-10-20 14:44] vnbang2003 opened #59 "Home page to display gird to show stats"
In the home page we need to display gird showing number of organization registered, workshop completed, Tutor registered. In future we will have student register and etc.
There are two section for this feature
1) Design the Grid in home page
2) Write query to get this count from the system.

@Praseetha-KR Can you help us with first point  ?

[2015-10-20 14:46] vnbang2003 opened #60 "Workshop listing page"
We need workshop listing page more detailed information with different sections in it.
I have added 4 variable defining what am looking us.
@shankisg  Can you work on this as you have control on app better ?

[2015-10-20 14:53] vnbang2003 opened #61 "UI: Add Navigation breadcrumb"
We need to add breadcrumbs section in the system so user know which page is in and can go back other pages easily.

[2015-10-20 15:03] vnbang2003 commented on #58
@mascot6699 +1 Can you please take up and add script as it looks straight forward.

[2015-10-20 15:08] ultimatecoder commented on #58
@mascot6699  @vnbang2003  In my branch, I have already added code for adding UserType in sample_data command. I will decorate it while making final PR. https://github.com/ultimatecoder/wye/tree/master-add-profile-page

[2015-10-20 15:11] vnbang2003 commented on #58
@mascot6699 I assign it to @ultimatecoder  as he already done it.

[2015-10-20 15:14] mascot6699 commented on #58
@vnbang2003  @ultimatecoder  :+1:
Additional note: Some places where get_user_by_type() function is used will be needed to rechecked for correct relations

[2015-10-20 18:04] shankisg commented on #60
@vnbang2003 assign it to me, will take care.

[2015-10-20 18:07] shankisg commented on #8
Commit # 906c59bb7113063ec802376d7e3fe48d0455dd9a

[2015-10-20 18:08] shankisg commented on #8
@vnbang2003 pls close this issue.

[2015-10-21 02:48] #8 closed

[2015-10-21 02:50] vnbang2003 commented on #47
@shankisg Am closing it as i have seen any problem . In any case i have enable heroku build for project and that will take care of minor issues.

[2015-10-21 02:50] #47 closed

[2015-10-21 03:48] shankisg commented on #44
@vnbang2003 do you want calendar widget from django. May we can use https://jqueryui.com/datepicker/ for date-picker in frontend. What you say?

[2015-10-21 03:51] shankisg commented on #44
@vnbang2003
Some more points, pls share your thoughts
- Create workshop should display **Current Status** also.
- what should be done for edit, are we going to display Current Status and edit Or no.

[2015-10-21 04:06] shankisg commented on #58
@ultimatecoder
yes get_user_by_type() method needs to be updated accordingly. Currently it refer to display_name, it would be good,  if we can add slug in the query. like

Q(display_name__in=list_input) | Q(slug__in=list_input)

[2015-10-21 07:31] vnbang2003 commented on #44
@shankisg
1) Am fine with any option with calendar widget.
2) yes create workshop should not ask for current status by default it requested. User is allowed to hold if need by changing it to draft mode.
3) Is_Active flag is True by default but when user withdraws workshop then is_active flag will be false. Issue #49  has more details

[2015-10-21 18:26] mascot6699 commented on #59
@vnbang2003 May I work on the second part ?

[2015-10-21 18:57] ChillarAnand opened #62 "Generate sample data"
Not able to create workshop/organisation, as `Requester`, `Location`, `Workshop section` are choice fields and they don't have default values.

[2015-10-21 18:58] vnbang2003 commented on #59
@mascot6699 it dependent of first part once that is done you can work.

[2015-10-21 19:01] mascot6699 commented on #59
:+1:

[2015-10-21 19:02] ChillarAnand opened #63 "Align forms fields"
Some fields in workshop/organisation creation forms are left aligned and some fields are right aligned.

![w1](https://cloud.githubusercontent.com/assets/4463796/10647080/15c19a12-7854-11e5-9eeb-2b4043e5a377.png)

[2015-10-21 19:07] ChillarAnand opened #64 "Show upcoming workshops in home page."
It is good to show upcoming workshops on home page, if there are any.

[2015-10-21 20:38] vnbang2003 commented on #64
Am not in favour of it. We can show number and region details i don't want to show it.
In any case we send email when new workshop is requested with all details.

[2015-10-21 20:39] vnbang2003 commented on #63
yep this is because of autofill library usage. I saw it and probably work soon

[2015-10-21 20:40] vnbang2003 commented on #62
Organization become requester. Hence we need sample data for Location and workshop section only.

[2015-10-22 02:51] harisibrahimkv commented on #64
I think this is a good one to have once we've established an initial momentum with workshops. Seeing many upcoming workshops on the front page will be a motivation for other organizations to sign up and conduct more workshops as well as for trainers to visit them more often.

[2015-10-22 03:45] shankisg commented on #64
+1 @harisibrahimkv @ChillarAnand

Yes, it would be good to display upcoming workshop, as well some of completed workshops(may be last 3 or 4 completed workshops).

[2015-10-22 03:47] shankisg commented on #44
Ok

[2015-10-22 06:02] staranjeet commented on #30
This got a bit late as I was a little busy. The installation of zinnia blog is very easy. Docs are a good starting point. I have integrated in my [branch](https://github.com/staranjeet/wye/tree/zinnia-blog-integration). Most of the part lies in customizing the look and feel of the blog. For that we need to edit `zinnia/base.html` which will involve mainly the css and a bit of html. Also it has a v

[2015-10-22 06:59] vnbang2003 commented on #30
Looks good. @kracekumar @harisibrahimkv  Any inputs ?

[2015-10-22 06:59] vnbang2003 commented on #62
@ChillarAnand Can you help with this ?

[2015-10-22 07:28] kracekumar commented on #30
We can't allow users to use Django Admin to create a blog post. I will
provide more details tomorrow.

On Thu, Oct 22, 2015 at 12:29 PM, Vijay <notifications@github.com> wrote:

--
Regards
Kracekumar Ramaraj
http://kracekumar.com

[2015-10-22 07:28] staranjeet commented on #63
@vnbang2003 : If anyone is not working on this, I can work on it.

[2015-10-22 07:41] vnbang2003 commented on #63
if you want to start work just leave comment saying you are working on it.

[2015-10-22 07:48] vnbang2003 commented on #12
@staranjeet Are you on this ?

[2015-10-22 08:21] staranjeet commented on #12
yeah. Though I have not done much, but yes I am doing.

[2015-10-22 08:27] vnbang2003 commented on #12
What is not clear Let me know .

[2015-10-22 09:21] staranjeet commented on #12
One thing which i am not clear is for each type of profile, the view will be same or different. If same then I will to have use `if` to check the type of the user and then corresponding to that fetch the required workshop details. If you know any other way of doing this, please suggest.

[2015-10-22 09:38] vnbang2003 commented on #12
View will be same but content will keep changing as per role. Yes we need to add if condition and handle it.

[2015-10-22 10:03] ChillarAnand opened #69 "Login with username or email"
When sample data is generated, it creates superuser `admin/123123`.
But we cant login to wye using username.

It is better if we allow login with username or email in general.

[2015-10-22 10:03] #62 closed

[2015-10-22 10:06] ChillarAnand opened #70 "Add logout button"

[2015-10-22 13:14] curioswati commented on #70
It was already there. was a bootstrap.js missing problem. Fixed it. Should I make a PR?

[2015-10-22 13:16] ChillarAnand commented on #70
@curioswati Yes please

[2015-10-22 13:19] vnbang2003 commented on #69
I personal prefer email id so let stick to it. We can just change text inlogin page to say it as email id instead of username

[2015-10-22 13:19] curioswati commented on #70
Since its a small change. Need I follow the PR guidelines?

[2015-10-22 13:21] vnbang2003 commented on #6
@ultimatecoder it becoming blocker now. Can we please close this PR as high priority  ?

[2015-10-22 13:31] vnbang2003 commented on #10
I will work on it.

[2015-10-22 13:41] #70 closed

[2015-10-22 13:58] vnbang2003 commented on #64
In the home page we will show number of upcoming workshop and other stats which is good .
If anyone is interested to know details let them login and see details of upcoming workshop.
further point can be discussed there #59  . Hence closing it as duplicate

[2015-10-22 13:58] #64 closed

[2015-10-22 15:21] vnbang2003 commented on #44
@shankisg I have made clean and  some changes. Whole migrations is cleanup now. you might need to update before running any further migrations locally

[2015-10-22 15:21] vnbang2003 commented on #6
@ultimatecoder  I have made clean and  some changes. Whole migrations is cleanup now. you might need to update before running any further migrations locally

[2015-10-22 15:22] vnbang2003 commented on #46
Clean up migration hence closing it.

[2015-10-22 15:22] #46 closed

[2015-10-22 15:37] mascot6699 commented on #63
Its not because of autofill rather all text inputs have `float-right;` right now. and thus an override of css is needed. We need to write this in all places where text field will be generated by forms.

`<style>
    form input[type=text]{float:none;}
</style>`

But am not sure where to put this css. Puting it at 4 places (ie create and update html of organisation and workshop) seems repetitive. Wh

[2015-10-22 15:54] mascot6699 commented on #69
@ChillarAnand  you can use `admin@fossevents.in` to login. We shall add this email also to the output of the sample_data.py and readme.md

[2015-10-22 16:01] mascot6699 commented on #33
I get `SocialApp matching query does not exist.` googling for the error says the app_id and secrets needs to generated. I guess you did not put them in database.py as they need to be secret. but for development /testing purpose can you illustrate the process of getting them in readme or point to docs or circulate among collaborators via email? Just a suggestion.

[2015-10-22 16:13] vnbang2003 commented on #33
@mascot6699 you need to generate own secret key for local development.
You can read details here : http://django-allauth.readthedocs.org/en/latest/

[2015-10-22 16:15] vnbang2003 commented on #63
You can add css in app.css
https://github.com/pythonindia/wye/blob/master/wye/static/css/app.css

[2015-10-22 20:06] Praseetha-KR commented on #59
Grid to show stats are included in #72

[2015-10-23 03:16] vnbang2003 commented on #10
admin user can see regional leads page /region/
![screen shot 2015-10-23 at 8 44 42 am](https://cloud.githubusercontent.com/assets/316253/10683723/8fa31c48-7962-11e5-8eb2-8460447f8140.png)

[2015-10-23 03:16] #10 closed

[2015-10-23 03:20] vnbang2003 opened #73 "Regional Page UI Changes"
We need to better show the regional lead page. Attached is screenshot showing present state.
This page is visible only if user is admin
@Praseetha-KR  : Some more help here ?
![screen shot 2015-10-23 at 8 44 42 am](https://cloud.githubusercontent.com/assets/316253/10683759/07c260bc-7963-11e5-8c08-8ca952132ade.png)

[2015-10-23 03:21] vnbang2003 commented on #59
@mascot6699 can you please complete second part ?

[2015-10-23 03:28] vnbang2003 commented on #57
@shankisg I have moved it hence closing it. Next fixes can go that directory

[2015-10-23 03:28] #57 closed

[2015-10-23 03:29] vnbang2003 commented on #17
@harisibrahimkv Can you please help with content ?

[2015-10-23 03:33] vnbang2003 commented on #63
It been fixed. Hence closing it.

[2015-10-23 03:33] #63 closed

[2015-10-23 03:37] vnbang2003 commented on #11
@harisibrahimkv Can you help us create email content for the above case.
You can add them in the folder /template/email_message/workshop/

[2015-10-23 03:41] vnbang2003 commented on #6
@ultimatecoder We need to get beta version live by Nov 1st. Can you please confirm if we can get by Nov 26 th.

[2015-10-23 03:42] vnbang2003 commented on #12
@staranjeet We need to get beta verison live by Nov 1st. Can we get thing moving fast ?

[2015-10-23 03:43] vnbang2003 commented on #33
@DESHRAJ We need to get beta verison live by Nov 1st. Can we get this issue close asap ?

[2015-10-23 03:44] vnbang2003 commented on #61
@ChillarAnand Can you help with this ?

[2015-10-23 04:04] shankisg commented on #44
Ok, will do

[2015-10-23 04:06] vnbang2003 commented on #40
@theskumar are you on it ?
@kracekumar Can you also help on it?

[2015-10-23 04:30] vnbang2003 opened #74 "Beta verison release plan"
We need to make beta release plan.
Tentative plan: Nov 1st.

[2015-10-23 04:48] ultimatecoder commented on #6
@vnbang2003 : Sorry for the delay. I will be able to complete this before 26th. Thank you.

[2015-10-23 04:55] vnbang2003 opened #75 "Signup/Login panel UI"
Login/Signup Panel text is overlapping.
![screen shot 2015-10-23 at 10 23 57 am](https://cloud.githubusercontent.com/assets/316253/10684904/530e67de-7970-11e5-98b9-6f3611198716.png)

[2015-10-23 04:55] vnbang2003 commented on #75
@Praseetha-KR Can you help with this also ?

[2015-10-23 04:59] mascot6699 commented on #59
Yes I wil send a PR by 11pm

[2015-10-23 05:21] vnbang2003 opened #76 "twiiter buzz"
When new workshop request is made we need to automatic tweet using pythonexpress twitter account.

[2015-10-23 05:26] harisibrahimkv commented on #76
I can work on this.

On 23 October 2015 at 10:51, Vijay <notifications@github.com> wrote:

--
Haris Ibrahim K. V.
http://sosaysharis.wordpress.com
@harisibrahimkv <http://twitter.com/harisibrahimkv>

[2015-10-23 05:28] shankisg commented on #74
@vnbang2003
It will be good, if you can set the milestone for the features those are expected in V0.1. So that contributors can plan accordingly.

[2015-10-23 05:28] vnbang2003 commented on #76
@harisibrahimkv We have tentative plan for Nov 1st beta live if so i will change milestone to v0.1 ?

[2015-10-23 05:31] vnbang2003 commented on #74
@shankisg I have already done.

[2015-10-23 05:33] harisibrahimkv commented on #76
@vnbang2003 Yes. Could you make the scope clearer though? What is a `new workshop request`? Do you want the automatic tweet when:
1. A new workshop is created?
2. A Tutor is assigned?
3. Anything else?

[2015-10-23 05:34] vnbang2003 commented on #9
@shankisg If you plate is full let me know. We need to be a bit aggressive for next few days.

[2015-10-23 05:35] vnbang2003 commented on #29
Closing it as we have defined workflow status.

[2015-10-23 05:35] #29 closed

[2015-10-23 05:36] vnbang2003 commented on #33
Just saw @Praseetha-KR  has fixed it. Hence closing it.

[2015-10-23 05:36] #33 closed

[2015-10-23 05:37] vnbang2003 commented on #76
@harisibrahimkv to start this is good.

[2015-10-23 05:40] harisibrahimkv commented on #76
Okai! :+1:

[2015-10-23 05:46] kracekumar commented on #76
On Oct 23, 2015 11:03, "Haris Ibrahim K. V." <notifications@github.com>
wrote:

workshop request? Do you want the automatic tweet when:

This will look like a spam in twitter timeline and suggest auto tweet only
when a workshop is created.

[2015-10-23 05:49] harisibrahimkv commented on #76
On 23 October 2015 at 11:16, Kracekumar Ramaraju <notifications@github.com>
wrote:

Hmm. Yeah, maybe. Let's start with just new workshop tweets and then see
what we need to tweak. I'll need to make an app on Twitter from the
PythonExpress account to do this. Either someone does this and puts the
keys in the server's environment or if I can be granted access, I'll do it.

--
Haris Ibrahim K. V.
htt

[2015-10-23 05:52] harisibrahimkv commented on #76
We need the following 4 environment variables set in the server's
.bashrc and exported as well.

[code]

[2015-10-23 06:06] staranjeet commented on #12
most probably by Sunday afternoon. One thing where I need input from your side is : A user can have many user types, so for each type we need to add details in the context or there will be some priority in case of many fields like the user will see details of which type.

[2015-10-23 06:08] vnbang2003 commented on #76
we already have pyconexpress account .Let use same twitter account.

[2015-10-23 06:10] vnbang2003 commented on #12
Let make each section on role basis so it easy to make changes.
Display priority we can change later also as it will be just UI change.

[2015-10-23 06:17] vnbang2003 opened #77 "Reporting Page"
Need to Think but you can add point if you any here.

[2015-10-23 06:32] harisibrahimkv commented on #76
On 23 October 2015 at 11:38, Vijay <notifications@github.com> wrote:

Sure. But we need to make an `app` on https://apps.twitter.com/ and get all
the 4 tokens mentioned above. So someone who has access to the account
should do it and put the keys on the server.

--
Haris Ibrahim K. V.
http://sosaysharis.wordpress.com
@harisibrahimkv <http://twitter.com/harisibrahimkv>

[2015-10-23 07:54] curioswati commented on #69
@mascot6699 Can I work on this?

[2015-10-23 08:00] vnbang2003 commented on #69
@curioswati We haven't accepted it as bug. Design of application is to work with email and i think we should continue with this to keep it simple.

[2015-10-23 08:01] vnbang2003 commented on #69
@curioswati If you have sometime you can help with this issue:  #45 .

[2015-10-23 08:02] shankisg commented on #74
great

[2015-10-23 08:02] curioswati commented on #69
Yes. I get it. I was talking about changing the output of sample_data.py and readme.md. I have changed it.

[2015-10-23 08:15] curioswati commented on #45
@vnbang2003 I am willing to work on this issue.

[2015-10-23 08:33] vnbang2003 commented on #45
@curioswati Looking forward to see pull request.

[2015-10-23 09:10] kracekumar opened #79 "Remove reference to third party email address"
https://github.com/pythonindia/wye/blob/master/wye/base/management/commands/sample_data.py#L34 uses `fossevents.in`, it is good to use `@example.com`.

[2015-10-23 09:29] vnbang2003 commented on #79
@kracekumar Can you help with this ?

[2015-10-23 09:30] curioswati commented on #45
@staranjeet what should be the values for these fields?

[2015-10-23 10:59] shankisg commented on #60
@vnbang2003
Can you share the logic for
- workshop_feedback_pending
- workshop_withdrawn
- workshop_in_queue

We don't have any constants that define above status for workshop.

For  *workshop_feedback_pending* I can query  WorkshopFeedBack models to check if any entry for the workshop exists by checking the count.

[2015-10-23 11:28] curioswati commented on #45
Okay, I have taken the values by my understanding. Please see if any changes are required. Do I need to attach screenshots for each model's admin interface with PR? And also do I need to write tests? And if yes then where should I write them as currently there are no tests written where I can add mine.

[2015-10-23 12:12] vnbang2003 commented on #60
Logic is simple For every Complete workshop we want Both Presenter and requester to share feedback.
If there any completed workshop with no feedback from either part we don't allow them to request/submit any new workshop.

[2015-10-23 12:13] vnbang2003 commented on #45
@curioswati we don't need screenshot for this part as we can understand from Pull request.
But if you have screenshot that will easy all.

[2015-10-23 12:13] vnbang2003 commented on #79
How about admin@pythonexpress.in ?

[2015-10-23 12:29] vnbang2003 commented on #9
@shankisg Can we make it high priority . We can hold other PR if required ?

[2015-10-23 13:03] shankisg commented on #60
@vnbang2003
Let me complete #9 , then we can get back to this.

[2015-10-23 13:15] shankisg commented on #44
Commit# bad3f61187dfd75065716bfb51bb8f997568a04f

[2015-10-23 13:15] shankisg commented on #44
@vnbang2003 pls close this issue

[2015-10-23 13:41] vnbang2003 opened #82 "Production social account"
We need to get social app credentials for production setup.
We will support google, github and twitter ?
@kracekumar @vigneshsarma : Can one you take care of this ?

[2015-10-23 13:47] shankisg commented on #9
@vnbang2003
I assuming nothing has been implemented for feedback. Thinks I need to do
- Feedback models design
- Share feedback link with organisation and tutors.
- Then adding constraints for organisation and tutors to complete feedback else not allowing then go ahead with next workshop.

Questions
- What are the points we should add for feedback. My recommendation below and add you points also

[2015-10-23 14:15] staranjeet commented on #12
I am not clear whether I should use get_context_data or get. If I use get_context_data then the model which fits here is `Workshop` because all we are doing is displaying workshop filtered by usertype. If I use get, then I will need to send a dict of objects. Any suggestions?

[2015-10-23 14:22] mascot6699 commented on #59
Query to show stats are included in #83

[2015-10-23 15:40] #45 closed

[2015-10-23 16:24] mascot6699 commented on #59
@vnbang2003 You may close this now.

[2015-10-23 16:32] kracekumar commented on #30
@harisibrahimkv Auto deploy on non full time projects are tricky. Deployed code can cause `Internal Server Error`, so it is advised to deploy the code when someone is around to revert back.

[2015-10-23 16:32] vnbang2003 commented on #12
Take a look and see the example: https://github.com/pythonindia/wye/blob/master/wye/organisations/views.py

[2015-10-23 16:51] kracekumar commented on #30
@staranjeet has covered most of the parts. One required feature is to allow `tutors/admin` to post and reviewed by moderators (Zinnia has moderators concept).

[2015-10-23 17:30] staranjeet commented on #12
I have pushed the initial part of Tutor in my branch `dashboard-user`. Have a look at the commit and let me know whether I am proceeding in the right direction or not.
[commit](https://github.com/pythonindia/wye/compare/master...staranjeet:dashboard-user)

[2015-10-23 17:52] #44 closed

[2015-10-23 17:55] vnbang2003 commented on #9
We already have models WorkshopRatingValues, WorkshopVoting and WorkshopFeedBack.
We need to implement logic where we ask them to rate workshop for different type
1) Infra
2) Co-operation
and others.

[2015-10-23 17:56] vnbang2003 commented on #9
Yes we need to add multiple choice  and ask them to rate it.

[2015-10-23 17:57] #79 closed

[2015-10-23 18:04] vnbang2003 commented on #12
Looks fine Please continue will do final review in sometime.

[2015-10-23 18:12] #59 closed

[2015-10-23 18:33] vnbang2003 opened #88 "Change signup page fields"
We need to change signup page to request
1) Email
2) Password (Only once)
3) First name
4) Last Name
5) Mobile no (let add validation)

@DESHRAJ  : Can you help with this as you were handling this part ?

[2015-10-23 18:35] shankisg commented on #9
But in any of the models above we not maintaining any reference to user/presenter/organisation, to know has vote or not.

[2015-10-23 18:39] vnbang2003 commented on #9
@shankisg we need to rate for workshop . Each workshop completed will have presenter and requester.

[2015-10-23 18:42] vnbang2003 commented on #75
Increase panel size. Doesn't look perfect but manageable

[2015-10-23 18:42] #75 closed

[2015-10-23 18:45] shankisg commented on #9
Thats true, but somewhere need to store which presenter or requester have shared the feedback.

[2015-10-23 19:03] Praseetha-KR commented on #75
Increased panel size & applied fluid width to input fields in #89

[2015-10-23 19:18] vnbang2003 commented on #9
requester_rating = models.ForeignKey(
        WorkshopRatingValues, related_name='requester_rating')
    presenter_rating = models.ForeignKey(
        WorkshopRatingValues, related_name='presenter_rating')
It show different in rating .

[2015-10-24 02:59] vnbang2003 commented on #39
@theskumar We are in very good shape . Would you like to take and close it.

[2015-10-24 03:43] theskumar commented on #40
@vnbang2003 i'll take a stab today.

[2015-10-24 03:43] theskumar commented on #39
Sure, will do.

[2015-10-24 03:45] theskumar commented on #39
Things look good. I'm closing this up.

[2015-10-24 03:45] #39 closed

[2015-10-24 07:33] staranjeet commented on #12
@vnbang2003 : I have added the views part for Regional Lead. Have a look at it. Html I will add soon. Let me know If I am not going in the right direction.

[2015-10-24 08:22] vnbang2003 commented on #12
@staranjeet Go ahead and send pull request . We can changes things over the period.

[2015-10-24 08:33] ChillarAnand opened #90 "Not able to create region lead"
In region page (http://127.0.0.1:8000/region/), create region lead(http://127.0.0.1:8000/region/lead/create/)  is not working.

![wye](https://cloud.githubusercontent.com/assets/4463796/10709763/f1885626-7a57-11e5-8be0-f7b107989155.png)

[2015-10-24 10:05] curioswati commented on #61
@vnbang2003 Can I work on this?

[2015-10-24 10:11] vnbang2003 commented on #61
If you interested to work on any project just drop comment saying you working on it. No need to ask permission.

Yes please work on it.

[2015-10-24 10:13] vnbang2003 commented on #90
Fixed it. Latest code check in with work.

[2015-10-24 10:13] #90 closed

[2015-10-24 10:18] curioswati commented on #61
okay. I am working on it.

[2015-10-24 10:37] ChillarAnand commented on #90
:+1:

[2015-10-24 10:52] vnbang2003 opened #94 "Accept workshop"
As as presenter i should be allowed the accept workshop.
The button has to displayed in workshop list page.
Once workshop is accept email get triggered to Requester/ Presenter and Regional POC.

[2015-10-24 11:06] vnbang2003 opened #96 "Draft/Hold Workshop"
As a requester I should be able to keep the workshop on Hold .
Once user click on hold button the workshop status will be Draft.
If the workshop was accepted email should be triggered to presenters saying work is been kept on hold.

[2015-10-24 11:33] vnbang2003 opened #98 "Presenter should be allowed to reject workshop"
As a presenter i can reject the workshop.  Once rejected we need to make workshop status as ACCEPTED. Email needs to be triggered to POC, Requester and Presenters.

[2015-10-24 11:35] vnbang2003 opened #99 "HTML Email Template"
For HTML emails we need to design base template so all other html email  can extend and change content .
The base template needs to be in /template/email_messages/

@Praseetha-KR : Can you help us with this  ?

[2015-10-24 12:50] vnbang2003 opened #101 "User can request to disable organisation"
Once User request to disable organization we should trigger email to all member of organization informing
"x" user has requested to disable organization. If they Y person want it to active they need to reach out to us at contact@pythonexpress.in. In case Y person ask us to keep it active we will remove X person to be member of organization.

[2015-10-24 12:59] #61 closed

[2015-10-24 13:12] vnbang2003 opened #102 "Workshop Feedback button should be display once work is completed"
We need to display feedback button for each completed workshop.
It should be displayed for both Presenter/Requester.
Once Feedback is given we need to disable display of button

[2015-10-24 13:20] vnbang2003 opened #103 "Footer of about us page"
The content of about us page is overlapping the footer.
@harisibrahimkv  : Can you please fix this ?
![screen shot 2015-10-24 at 6 46 40 pm](https://cloud.githubusercontent.com/assets/316253/10710630/b040c45a-7a7f-11e5-999a-92faa5411b64.png)

[2015-10-24 13:21] vnbang2003 commented on #40
@theskumar  Assigning to you as you are working on it.

[2015-10-24 14:08] vnbang2003 opened #105 "Dashboard page break in case profile is not created"
If user has not created profile page the dashboard break . We need to redirect user to create profile page in case it profile object is not created.
@staranjeet This bug is for you are you check in has broken functionality .

[2015-10-24 14:09] vnbang2003 opened #106 "User with Role Tutor Should not be allowed to create organisation"
User with role Tutor Should not be allowed to create Organization.
He should also not see organization tab.

[2015-10-24 14:17] staranjeet commented on #105
Whenever I login, I get this error. I am not sure whether this error is specific to my machine or everyone is facing it.

`AttributeError at /accounts/login/`
`'tuple' object has no attribute 'encode'`

[2015-10-24 14:29] vnbang2003 commented on #105
I have seen it.

[2015-10-24 14:32] vnbang2003 commented on #60
@SudShekhar @shankisg  Just noticed that Workshop listing page design is changed hence this bug is not more valid. hence closing it.

[2015-10-24 14:32] #60 closed

[2015-10-24 14:32] vnbang2003 commented on #94
@SudShekhar Can you help with this ?

[2015-10-24 15:54] mascot6699 commented on #58
This has yet not been pushed. Its needed to get consistency in code. I see people using different slug_name which will break code later on.

[2015-10-24 18:44] SudShekhar commented on #94
@vnbang2003 : I would love to but I won't be able to commit changes before monday night I think. If that's okay, I will do so.

[2015-10-24 19:04] staranjeet commented on #105
PR #107

[2015-10-25 05:35] harisibrahimkv commented on #103
Ehh. @Praseetha-KR Is this something to do with the styling? Or should I reduce the content?

[2015-10-25 08:28] staranjeet commented on #14
what does conference with different region mean here?

[2015-10-25 08:40] kracekumar commented on #14
:-) It is workshop not conference.

[2015-10-25 08:43] staranjeet commented on #14
@kracekumar : +1:

[2015-10-25 08:46] staranjeet commented on #14
this issue is related with #12 , #13 . How should I go for the html part. I mean for each user type I have a different set of context variables. So I should display all of them with in a single page or any other approach can be used ?
@kracekumar @vnbang2003

[2015-10-25 14:22] kracekumar commented on #14
@staranjeet have a different view for each of use case.

[2015-10-25 14:24] kracekumar commented on #94
Sure.

On Sun, Oct 25, 2015 at 12:14 AM, Sudhanshu Shekhar <
notifications@github.com> wrote:

--
Regards
Kracekumar Ramaraj
http://kracekumar.com

[2015-10-25 14:54] staranjeet commented on #14
So this will involve writing `DetailView` for each usertype and then calling each view as MyView.as_view(). Is this right?

[2015-10-25 15:47] kracekumar commented on #14
No, From html there will be relevant buttons/urls to take to relevant pages. Yes detail view with different urls.

[2015-10-25 15:47] kracekumar commented on #14
Other approach is to have single view with different template to each type.

[2015-10-25 21:20] SudShekhar commented on #94
Some questions:

1) Do we have a distinction between eligible presenters and other users right now? From what I saw, UserType does this but I wasn't able to confirm whether it is being used right now or not (No profiles were created in my database by the startup command)

2) Continuing from above, eligible presenters will see an accept button on the workshop list page only? Maybe something like a

[2015-10-26 15:26] ChillarAnand commented on #103
Looks like its fixed.

[2015-10-26 15:39] ChillarAnand commented on #11
Who will change status from requested to accepted?
Admins or tutors who are interested?
Should we add a page for them to do that?

[2015-10-27 05:04] #40 closed

[2015-10-27 05:08] vnbang2003 commented on #11
I have added few thing on how flow will happen and where to add button and what scenario they will be Available.
I think we just need to add backend code more than front end.

[2015-10-27 06:34] theskumar opened #112 "Ensure slug uniqueness of profile model"
Slug requirement on profile is not enforced to be unique properly: https://travis-ci.org/pythonindia/wye/builds/87602968
Options:
1. Remove the slug property and use `user.username` instead everywhere
2. Override `save()` of Profile Model, so that slug is always created.

[2015-10-27 09:13] ultimatecoder opened #113 "Rewrite Breadcrumbs"
**Problem:** The present breadcrumbs are not properly visible. It is conflicting with other elements at view side.

**Image:**
![problem_breadcrumbs](https://cloud.githubusercontent.com/assets/3719122/10753713/eb113192-7cb8-11e5-94a7-e0423499ba58.png)

**Solution:**:
Use [Bootstrap Breadcrumb classes](http://getbootstrap.com/components/#breadcrumbs).

[2015-10-27 09:27] vnbang2003 opened #114 "Build Fail"
I see test case are failing and build is failing.
https://travis-ci.org/pythonindia/wye/builds/87602968

@theskumar : Can you look into  ?

[2015-10-27 09:34] theskumar commented on #114
@vnbang2003 The build is failing due to code got introduced in `master` before merging the testing PR. Here is ticket for the bug, with possible solution: https://github.com/pythonindia/wye/issues/112

[2015-10-27 12:02] shankisg commented on #9
@vnbang2003

Implementation of next part will contain

- Restricting organisation to add workshop unless they complete feedback
- Restricting presenter to take up next workshop unless they complete feedback
- Display message to presenter/organiser to share feedback.

Question:
If one presenter and one organisation had already share the feedback,  are we going to show the share feedback message Yes

[2015-10-27 12:33] curioswati commented on #113
Ok. I will fix it.

[2015-10-27 14:05] vnbang2003 commented on #9
We will show already existing message and allow other to share if they want.

[2015-10-27 14:09] vnbang2003 commented on #114
@theskumar Can we assign to person who introduced the bug so they fix it. Let fix the build.

[2015-10-27 14:13] vnbang2003 commented on #9
@shankisg I think the basic version is check in right ?

[2015-10-27 16:58] shankisg commented on #9
Following logic has been added for feedback
- Dynamic generation of feedback form depending on question in WorkshopRatingValues.
- Form will display all the questions from WorkshopRatingValues models plus a comment box.
- The workshop url will throw 404, unless workshop is completed.

So the restriction logic for feedback is pending. What you say?

Last question, when should we stop displaying mes

[2015-10-27 18:38] theskumar commented on #112
@staranjeet can you please have a look at this issue, which is also causing the tests to fail. Let me know your thoughts?

[2015-10-27 18:43] staranjeet commented on #112
@theskumar : While using post_save signal, what if instead of
`profile, created = Profile.objects.get_or_create(user=instance)`
we do it like this
`profile, created = Profile.objects.get_or_create(user=instance, slug=user.username)`

[2015-10-27 19:02] theskumar commented on #112
@staranjeet Basically, I am trying to understand, is there any reason to de-normalize the `slug` to `Profile` model.  Denormalization comes with it own issues:

What if the username get changed for some user the slug will become inconsistent. I think ideally we should allow for change in `username`. Now that said, since user is able to pick their own username while signing up, we need to make we p

[2015-10-27 19:05] theskumar commented on #112
[code]
Here a new user profile will be created if the username is changed.
[code]
I think this would make more sense.

[2015-10-27 19:07] theskumar commented on #112
I thinking more on the line of having slug a class property.

[code]

[2015-10-27 19:18] staranjeet commented on #112
What about `USERNAME_FIELD`? Will that work with this?
I think it should because username is always unique. What my concern is that it is normally a string describing the name of a field. Of property I am not aware.
@theskumar

[2015-10-27 19:22] theskumar commented on #112
@staranjeet I think the `USERNAME_FIELD` is required on a `AUTH_USER_MODEL` (i.e, `User`)not on profile. Am I missing on something here?

[2015-10-27 19:28] theskumar commented on #112
For now, i'm going with removing the `slug` field from the database and calculate it when needed, so that all the test passes in master to close #114.

But I am keeping this issue open for further discussion. To understand the problem better.

[2015-10-27 19:29] #114 closed

[2015-10-28 04:27] vnbang2003 commented on #9
@shankisg We can take who gave feedback in version 0.2 . You  can open issue and mark for milestone v0.2. Let focus to get basic functionality up

[2015-10-28 04:38] vnbang2003 commented on #94
@SudShekhar :
1) Presenter is person with userType Tutor
2) If presenter had chosen interest in x region he will be show accept button and Yes Accepted can reject and he will be only one who can see reject button.
3) Once presenter accept we will not display button instead we will show X presenter has accepted.
4)Once workshop with have status "Requested" will show accepted button.

Let me know if

[2015-10-28 05:53] harisibrahimkv commented on #76
Pull request here: https://github.com/pythonindia/wye/pull/116

[2015-10-28 21:35] SudShekhar commented on #94
What about the fact that the associated user profile isn't being made till now? (it wasn't in my system). Should I assume every user will have a profile already made?

[2015-10-29 03:58] shankisg commented on #9
@vnbang2003
By Today I will add a pull request for organisation and presenter restriction logic to share feedback.

[2015-10-29 04:09] vnbang2003 commented on #94
If profile is not there we can redirect user to profile creation page.

[2015-10-29 04:14] vnbang2003 commented on #103
@harisibrahimkv @Praseetha-KR Can you please verify if fixed let's close it.

[2015-10-29 04:15] vnbang2003 commented on #102
@shankisg Can you please add this button as you are aware of Url. It should be easy fix.

[2015-10-29 04:16] vnbang2003 commented on #88
@ChillarAnand Can you please help us with this change in model ?

[2015-10-29 04:24] Praseetha-KR commented on #103
Its fixed in 2915ac39fbf1e2263ca19e50c2dd5b3673ed3cf0, but that branch is work-in-progress

[2015-10-29 04:42] shankisg commented on #9
@vnbang2003
one question
For presenter we are storing user_type as TUTOR, but what is the user_type for organisation users.

[2015-10-29 04:42] vnbang2003 commented on #103
Closing this issue as it's been fixed.

[2015-10-29 04:42] #103 closed

[2015-10-29 04:43] vnbang2003 commented on #9
For Organisation user type is POC or regional POC.

[2015-10-29 04:44] shankisg commented on #102
@vnbang2003
Will do.  Where should the feedback button  be displayed.

[2015-10-29 04:52] vnbang2003 commented on #102
@shankisg In workshop list page we need to display button on the status.

[2015-10-29 06:19] vnbang2003 opened #118 "Static page to display different kind of workshop"
We need to add static page to display different kind of workshop we conduct and if possible topic we will cover.
1) Python 101
2) Get started with Django
3) get Started with Flask
4) Scipy 101
etc.

@Praseetha-KR : Can you help with design the page ?

[2015-10-29 07:31] harisibrahimkv commented on #11
@shankisg @vnbang2003 Am I right in understanding that this one email (https://github.com/pythonindia/wye/blob/master/wye/templates/email_messages/workshop/create_workshop/message.html) will be sent to all the following?

[code]

[2015-10-29 07:36] vnbang2003 commented on #11
@harisibrahimkv you are write we need 3 email for activity so keep everyone updated.

[2015-10-29 19:00] DESHRAJ commented on #88
Yeah sure I can. Sorry, I was at home for last 7 days so I was unable to work on the project. :)

[2015-10-29 19:13] shankisg commented on #9
ok

[2015-10-29 22:37] Praseetha-KR commented on #118
Added `/workshops_info` in 5256be89da3c2b6fcca11b1b35fa2cd294ff3d23

[2015-10-30 05:06] vnbang2003 commented on #118
@Praseetha-KR We need to add topic  with subtitle
for example Python101 will have below topics
1.    Introduction & language basics
2.    Some background to Python
3.    Value, types, expressions, and statements
4.    Data types (Lists, tuples, and dictionaries)
5.    Functions
6.    Class
7.    Regular Expression
8.    New style class
9.    Decorator, Generator
10.  Files, modules, directories an

[2015-10-30 05:37] kracekumar commented on #118
On Fri, Oct 30, 2015 at 10:36 AM, Vijay <notifications@github.com> wrote:

2p:

Please check the topics, it isn't practically feasible to cover 7, 9, 11,
12 and doesn't classify as 101.

--
Regards
Kracekumar Ramaraj
http://kracekumar.com

[2015-10-30 05:39] vnbang2003 commented on #118
@kracekumar I just shared example so @Praseetha-KR can design page. I even think it to much to cover the topic.  Let discuss what we will cover in 1 and 2 days workshop in mailing list .

[2015-10-31 03:15] vnbang2003 opened #123 "Profile Dashbaord Page show error"
@staranjeet Am getting this error below error when i open http://localhost:8000/profile/dashboard/

FieldError at /profile/dashboard/

Cannot resolve keyword 'slug' into field. Choices are: interested_locations, interested_sections, mobile, user, user_id, usertype

Request Method: 	GET
Request URL: 	http://localhost:8000/profile/dashboard/
Django Version: 	1.8.5
Exception Type: 	FieldError
Excepti

[2015-10-31 03:16] staranjeet commented on #123
Have you run the migrations? because slug field is now removed.

[2015-10-31 07:36] vnbang2003 commented on #123
The error message says we are referring slug fields in code which doesn't exists.
Can you update you local clean and run migrations once and see if you face same issue.

[2015-10-31 08:27] shankisg commented on #94
@SudShekhar Are you working on this or done.

[2015-10-31 08:30] shankisg commented on #49
@vnbang2003 I would like to work on this. let me know if it's fine. If yes, it would be good if you can assign me.

[2015-10-31 09:13] staranjeet commented on #123
I think I have figured out the problem. slug field is removed from Profile model, but in the detail view we are still referencing that. The possible workaround for this is, pass primary key now. Changes that it will require are

`url(r'^(?P<pk>[0-9]+)/$', views.ProfileView.as_view(),name='profile_page')`
In the `get_context_data` of `ProfileView` model,

`pk = self.kwargs['pk']
self.object = model

[2015-10-31 09:45] vnbang2003 commented on #123
/profile/dashboard/ uses UserDashboard view so i don't see reason why it should effect it ?

[2015-10-31 09:48] staranjeet commented on #123
but in the urls, `profile_page` is above `dashboard` urls. So may be it is catching it over there. I have seen every other piece of code in the profiles app. Only reason I could figure out is either this url or the migration which removes slug field from the model and instead lists it as a cached property are the possible reason.
Its working fine on my system.

[2015-10-31 09:50] vnbang2003 commented on #49
Done

[2015-10-31 10:05] shankisg commented on #49
@vnbang2003

Questions
- Can't we add to new status as **withdrawn**. On withdrawal, if we moving status to **draft*, How we can differentiate new  workshop request vs withdrawn workshop.

- In workshop update page, I can still see the status dropdown, organisations are going to use this.
Or a button on right hand side top beside **Edit workshop** button, in  workshop details page(recommended ) to

[2015-10-31 10:06] vnbang2003 commented on #123
I found couple of issue 1) Url name (2) ProfielView.
I will fix them. Thanks

[2015-10-31 10:14] vnbang2003 commented on #49
New workshop will be in status "Requested".
organisation can changes status by button click no other options.

[2015-10-31 10:38] #123 closed

[2015-10-31 10:52] vnbang2003 opened #124 "Add TestCase for Workshop and Organisation"
We need to add more test case for workshop and organisaiton
We have too many option and out code is not covering all the option.

[2015-10-31 11:34] vnbang2003 opened #125 "Workshop create"
When user request for workshop  in create form we need to display fields with below criteria
1) Organization : He belong to and he created to(Only Active organisation)
2)Location value can be taken from Organisation Models hence we can skip display
3) Status by default is "Requested" hence we should not display it.

@shankisg : Can you take it as high priority to fix the issue. The same logic need

[2015-10-31 12:09] shankisg commented on #125
Ok
On 31 Oct 2015 17:04, "Vijay" <notifications@github.com> wrote:

[2015-10-31 14:01] vnbang2003 commented on #6
Done

[2015-10-31 14:01] #6 closed

[2015-10-31 14:01] #9 closed

[2015-10-31 14:01] #12 closed

[2015-10-31 14:01] #13 closed

[2015-10-31 14:01] #14 closed

[2015-10-31 14:01] #76 closed

[2015-10-31 14:02] #118 closed

[2015-10-31 14:11] vnbang2003 opened #126 "Signup Page having too many fields"
Right now Signup page is show profile creation page. We need to have just below fields.
1) First Name
2)  Last Name
3) Mobile : optional
4) username
5) email id
6) Password
7) Confirm password.

@ultimatecoder Looks like this bug is up after you code changes. Can you please fix it today ?

[2015-10-31 14:15] vnbang2003 opened #127 "workshop list page weird message"
Workshop list page is show weird message as show in screenshot. This is display only when we login and visit workshop page for first time.

![screen shot 2015-10-31 at 7 43 21 pm](https://cloud.githubusercontent.com/assets/316253/10864079/f2837456-8007-11e5-9e2b-01df8e3a6bc4.png)

[2015-10-31 14:16] ultimatecoder commented on #126
@vnbang2003  Actually done this discussion with @theskumar over IRC before making final changes. I took his advice to put these fields here. If we consider normal website flow, Signup page contains minimal important things. Which includes some important part of profile as well as system. As you know, with my previous merge we had removed profile create view because it is overkill.
I believe, it wi

[2015-10-31 14:19] vnbang2003 opened #128 "Navigation Bar and Profile page CSS broken"
Css for Navigation  bar and profile page is broken.
@Praseetha-KR : You help is required

![screen shot 2015-10-31 at 7 47 52 pm](https://cloud.githubusercontent.com/assets/316253/10864095/5c09b5ac-8008-11e5-8242-eac42f3c11a3.png)

[2015-10-31 14:20] ultimatecoder commented on #126
@vnbang2003 : Consider Example, After signing up with only username, password, email, firstname, lastname. Users are bit lazy to update important part of system which is their **location, User type and Interested Topics, and interested location**. So, it is better to ask them once they are signing up and allow them to edit it after rather then giving another choice.

[2015-10-31 14:23] vnbang2003 opened #129 "Profile Page fields"
In the Profile view page we will not be displaying phone number and email id.

[2015-10-31 14:25] ultimatecoder commented on #129
@vnbang2003  Well, I believe we should give choice to user. Consider example of Github profile. User might want to put their this profile as reference of their work.

[2015-10-31 14:25] vnbang2003 commented on #126
@ultimatecoder We are enforcing user to fill profile if not created this will work for both Social login and signup. Signup should be very minimal possible will not be interested to fill big form.

[2015-10-31 14:27] ultimatecoder commented on #126
@vnbang2003 : On a nod of signup user from other social login, I will be agree with you! I will fix this.

[2015-10-31 14:42] vnbang2003 opened #130 "We shouldn't allow user to change the select user type"
I think we shouldn't allow users to change the user type once fill by the user.
This will avoid the scenarios where they keep changing user types and system will have inconsistent data.

@theskumar @kracekumar @kirang89 : Share your thought ?

[2015-10-31 14:44] vnbang2003 commented on #129
@ultimatecoder I agree with you . Can you work on this once you complete signup page ?

[2015-10-31 14:46] ultimatecoder commented on #129
@vnbang2003  By giving choices for displaying their phone number and email to their profile? or Just removing them from the profile view?

[2015-10-31 15:57] vnbang2003 commented on #129
Let user decide if they want to share email and phone number.

[2015-10-31 17:21] theskumar commented on #51
- Should be able to to open/close the feedback at a specified time, as a workshop tutor. (?)
- Should use cookie based per browser, restrict voting to only once. (?)
- Should have a standard set of questions for feedback.
- The results should be visible to tutor and regional lead.

Add suggest to this initial set of requirements.

[2015-10-31 17:29] theskumar commented on #58
Already in master closing this.

[2015-10-31 17:29] #58 closed

[2015-10-31 18:15] vnbang2003 opened #131 "Once user login we need to redirect to /dashboard/ page"
Once user login we need to redirect to /dashboard/ page . Presently it redirect to / page.
We need to change configuration in settings.py  but the changes are impacting test script hence @theskumar can you take it up and work so you can change your testcases also.

@theskumar if possible can you add example test script for creation of organization or profile so other contributors start using it a

[2015-10-31 18:17] vnbang2003 commented on #124
@theskumar Can you work on this ?

[2015-10-31 18:18] #74 closed

[2015-10-31 18:19] vnbang2003 commented on #69
I still think let stick to email closing bug as won't fix.

[2015-10-31 18:19] #69 closed

[2015-10-31 18:21] vnbang2003 commented on #88
Closing this bug

[2015-10-31 18:21] #88 closed

[2015-10-31 18:22] #105 closed

[2015-10-31 18:23] vnbang2003 commented on #96
Same as #49

[2015-10-31 18:23] #96 closed

[2015-10-31 20:08] #73 closed

[2015-10-31 20:13] vnbang2003 commented on #127
Done

[2015-10-31 20:13] #127 closed

[2015-10-31 23:57] kirang89 opened #132 "Align register buttons in home page"
![home___pythonexpress](https://cloud.githubusercontent.com/assets/1074304/10866540/f159beea-8058-11e5-8373-e206b3374a15.png)

[2015-11-01 00:05] kirang89 opened #133 "Align user avatar with text in menu"
![home___pythonexpress](https://cloud.githubusercontent.com/assets/1074304/10866571/57a6b7e2-805a-11e5-899d-a8637bf62912.png)

[2015-11-01 00:29] kirang89 opened #134 "Irrelevant location options for local organisations"
![organisation___pythonexpress](https://cloud.githubusercontent.com/assets/1074304/10866609/8e7cdc9a-805c-11e5-94e3-36624f4af883.png)

[2015-11-01 00:59] kirang89 opened #135 "Incorrect organisation type being set"
Funnily enough, this only happens when I select/edit organisation type as "College".

![organisation___pythonexpress](https://cloud.githubusercontent.com/assets/1074304/10866686/60ff9e9c-8061-11e5-812b-bb74e8314b5c.png)

[2015-11-01 01:28] kirang89 opened #136 "Error when selecting "Others" as organisation type"
The following error happens when I edit an organisation type and set it to "Others":

![indexerror_at__organisation_](https://cloud.githubusercontent.com/assets/1074304/10866762/d512c012-8065-11e5-8a67-910203d5c8de.png)

[2015-11-01 02:05] kirang89 commented on #130
@vnbang2003 If we were to disable this, what would the process be for a user registered as a college poc, for example, to also register as a tutor ?

[2015-11-01 02:18] kirang89 opened #137 "Add placeholder for empty dashboard"
![pythonexpress_and_we_shouldn_t_allow_user_to_change_the_select_user_type_ _issue__130_ _pythonindia_wye_and_gpg_suite](https://cloud.githubusercontent.com/assets/1074304/10866908/b1c89436-806c-11e5-94c4-453395868eb5.png)

[2015-11-01 02:27] kirang89 opened #138 "Add datepicker in workshop creation view"
![pythonexpress](https://cloud.githubusercontent.com/assets/1074304/10866926/eb027252-806d-11e5-9f37-e4bf4ca31c3d.png)

[2015-11-01 04:35] vnbang2003 commented on #136
Fixed

[2015-11-01 04:35] #136 closed

[2015-11-01 04:35] vnbang2003 commented on #135
Fixed it

[2015-11-01 04:35] #135 closed

[2015-11-01 04:37] vnbang2003 commented on #134
@kirang89 We need to display all the location name as we are not sure which location college belongs to.Let me know if i missed something.

[2015-11-01 04:39] vnbang2003 commented on #133
Is it similar to #128  ?

[2015-11-01 04:56] vnbang2003 opened #139 "usertype 'POC','Lead','Admin' are allowed to create organization and workshop"
We should allow user with usertype 'POC','Lead','Admin' are allowed to create organization and workshop.
In case of other Usetype it should display message 404 page with message "You don't have permission to create new Organization"

[2015-11-01 05:17] kirang89 commented on #133
Ah yes it is.

On Sun, Nov 1, 2015, at 10:09 AM, Vijay wrote:

--
Kiran Gangadharan
http://kirang.in

Links:

  1. https://github.com/pythonindia/wye/issues/128
  2. https://github.com/pythonindia/wye/issues/133#issuecomment-152793696

[2015-11-01 05:23] vnbang2003 opened #140 "Accept/Reject Workshop"
Workshop accept and reject is throwing error.

ImproperlyConfigured at /workshop/1/opt_in/

Using ModelFormMixin (base class of WorkshopAssignMe) without the 'fields' attribute is prohibited.

Request Method: 	GET
Request URL: 	http://localhost:8000/workshop/1/opt_in/
Django Version: 	1.8.5
Exception Type: 	ImproperlyConfigured
Exception Value:

Using ModelFormMixin (base class of WorkshopAssignMe

[2015-11-01 05:24] vnbang2003 commented on #139
@DESHRAJ Can you help with this bug ?

[2015-11-01 05:24] vnbang2003 commented on #138
@curioswati Can you help with this ?

[2015-11-01 05:25] vnbang2003 commented on #112
@staranjeet Can you help with this ?

[2015-11-01 05:34] vnbang2003 commented on #133
Can we make this PR and duplicate and close it?

[2015-11-01 05:35] vnbang2003 commented on #106
More detailed permission are defined in #139 . hence marking this as duplicate.

[2015-11-01 05:36] #106 closed

[2015-11-01 05:42] kirang89 commented on #133
Please go ahead.

On Sun, Nov 1, 2015, at 11:04 AM, Vijay wrote:

--
Kiran Gangadharan
http://kirang.in

Links:

  1. https://github.com/pythonindia/wye/issues/133#issuecomment-152795034

[2015-11-01 05:54] #133 closed

[2015-11-01 09:56] curioswati commented on #138
ok @vnbang2003 . I am working on this.

[2015-11-01 10:40] kirang89 commented on #134
@vnbang2003 I mean, shouldn't we have 2 elements, one for the city, and one for the area ?

[2015-11-01 10:46] kirang89 opened #141 "Forbidden to edit details for workshop that I created"
I get a ```403 Forbidden``` when I try to edit the details of a workshop that I created.

![pythonexpress](https://cloud.githubusercontent.com/assets/1074304/10868416/ee9f6dd4-80b3-11e5-8aa7-c7a4965ff7d5.jpg)

[2015-11-01 10:49] kirang89 commented on #137
@vnbang2003 This seems to have been fixed. I'm closing this.

[2015-11-01 10:49] #137 closed

[2015-11-01 10:58] kirang89 opened #142 "Forbidden from sharing feedback for workshops"
I get a ```403 Forbidden``` when I try to share feedback for any workshop.

[2015-11-01 11:03] kirang89 opened #144 "Wrong title/data?"
I'm not sure what the actual bug is –– either the title "My workshops" is incorrect or the list should only show the workshops that I have accepted

![pythonexpress](https://cloud.githubusercontent.com/assets/1074304/10868501/0e34ae78-80b6-11e5-9d5d-8a6462ddda88.jpg)

[2015-11-01 12:30] shankisg commented on #138
@vnbang2003 @curioswati

The datepicker is already their. Due to some changes in base.html it was not working, I have fix that issue.

Fix is available in this pull request https://github.com/pythonindia/wye/pull/145

[2015-11-01 12:37] shankisg commented on #141
@kirang89

You need to be member of an organisation(requester) to edit any workshop requested by that organisation.

In other words you can only edit workshop related to the organisation you belong to.

[2015-11-01 12:38] shankisg commented on #141
Pls close this issue, if working as discussed in my previous comment.

[2015-11-01 12:55] shankisg commented on #142
@kirang89
Where you are testing, is this application hosted. If yes share the url. Try to test the app by setting debud True, so that can see the real cause

[2015-11-01 13:00] shankisg commented on #142
Seems like whoever have done the change in UI have not tested.

![feedback](https://cloud.githubusercontent.com/assets/1298328/10869015/7cdbdaf8-80c6-11e5-845d-425a0ecd0b35.png)

[2015-11-01 13:16] vnbang2003 commented on #144
yes it's a bug . We need to add that filter in workshop listing page.

[2015-11-01 13:19] vnbang2003 commented on #141
@kirang89 I agree with @shankisg . You can edit workshop only which you are part of.
@shankisg Can you confirm if regional lead and admin user are allowed to edit workshop ?

[2015-11-01 13:25] vnbang2003 commented on #126
@ultimatecoder Can you make this as priority as it blocker.

[2015-11-01 13:27] vnbang2003 commented on #142
@shankisg Let fix it . I think you know this part so i would request you to help send patch for this.

[2015-11-01 13:39] vnbang2003 commented on #125
@shankisg Present logic assume user will belong to one Organization but we will have scenario where one user can belong to more than one organization.
Example: X user of Open source community can be in touch with n organization hence he will create n organization.
Can you please make changes accordingly ?

[2015-11-01 13:41] shankisg commented on #142
@kirang89
Pls update you, do one more test for this and share some more data point to fix this. It will good if can quickly and try to keep debug True.

- What is your usertype.
- Are you associated with the workshop that your are trying to share feedback. As tutor or organisation user.

[2015-11-01 13:43] shankisg commented on #142
@vnbang2003

Question:
If you are not associated with a workshop as presenter or requester. It throws 403. Do you want me to display message in place of that and redirect the user to workshop listing page.

[2015-11-01 13:48] vnbang2003 commented on #142
@shankisg let show better error message without breaking flow. The problem with 403 page is it break navigation and looks very bad.

[2015-11-01 13:55] ultimatecoder commented on #126
@vnbang2003  PR is done. Requesting to check. Thank you.

[2015-11-01 14:08] ultimatecoder opened #147 "Resize Profile Picture before storing to database"
* **Problem:** Presently, we are not converting any image uploaded as profile picture. As a result we have to store actual image with having any size at the data base. This can overload database without any specific reason.

* **Solution:** Allow User to upload any size of image but re-size, render image to smaller size before finally storing it to the database.

[2015-11-01 14:41] shankisg commented on #125
I can do the change.
Is it possible for on user to be tutor as well as organisation user.

[2015-11-01 14:43] shankisg commented on #142
Will do.

Just be clear, who can share feedback? usertype tutor, collage poc and poc. Please correctme  if I am wrong

[2015-11-01 14:45] shankisg commented on #141
@vnbang2003
regional lead and admin are not allowed. Let me know if you want to change the logic

[2015-11-01 14:46] SudShekhar commented on #94
Hey,

I am in the USA right now regarding an office project.. will reach india on wednesday, if it's acceptable I will submit the PR that day itself. Sorry for the late intimation.

[2015-11-01 17:58] vnbang2003 commented on #125
Yes user can have multiple roles(Types).
I have explained who all can create/edit workshops in PR #139 .
Even Let display proper error message instead of just 403 page.

[2015-11-01 17:58] vnbang2003 commented on #147
@ultimatecoder Let push to Version 0.2 as it not critical right now

[2015-11-01 18:05] vnbang2003 commented on #142
usertype with slug 'tutor' and 'poc'.
I have added slug in sample_data_script.

[2015-11-01 22:25] kirang89 commented on #141
@vnbang2003 @shankisg If that's the case, we should mention that when the user tries to share feedback instead of just showing a 403.

The behaviour was confusing and that's why I raised the issue.

[2015-11-01 22:28] kirang89 commented on #142
@shankisg Looks like it's the same problem as #141. Like @vnbang2003 suggested, we need to show a better error message.

[2015-11-02 02:14] shankisg commented on #125
@vnbang2003

**Confusion** If a user could belong to multiple organisation, how do we know for which organisation the workshop is created **1) Organization : He belong to and he created to(Only Active organisation)**

[2015-11-02 02:20] vnbang2003 commented on #125
@shankisg User can have multiple roles
I as a lecture can conduct python workshop in my college right ?
In the requester list we just display organization logged in user is member of.(Organisation.objects.filter(
            user=self.request.user)

[2015-11-02 02:24] #128 closed

[2015-11-02 02:29] vnbang2003 opened #150 "User Profile page by default should not display email and mobile number"
User profile page by default should not display email and mobile number.

[2015-11-02 03:07] shankisg opened #151 "Think before manipulating/removing code"
Multiple instances I saw codes are getting removed or restructured without thinking on the impact.

- Instance one: Change in jquery import position in base.html, that effect the calendar widget in workshop create/update. Rather then working on real issue I figured out the issue and fixed that. https://github.com/pythonindia/wye/commit/88e6aaa40fe18a56ebf005b8a7f3b8f46a38120c

- Instance two: I ha

[2015-11-02 03:19] vnbang2003 commented on #151
@shankisg Message block was removed by me as it was show very weird message. #127 .
If you can help fine to tune messages to be only for workshop level it would be great.

[2015-11-02 03:24] vnbang2003 commented on #151
For jquery issue i think you can add import in workshop list page itself by using extracss block.
{% block extracss %} {% endblock %}
This is avoid your scenarios someone else overwriting your preferred way to import jquery.

[2015-11-02 03:27] shankisg commented on #151
After looking into #127 ,  it seems during login and logout some where in the code message.info(request, some message) is set. It is not getting displayed as their is no message block in any other page keeping the message in session, but in workshop we have message block, so its gets displayed here.

[2015-11-02 03:31] theskumar commented on #112
The current implementation in the master branch takes care of this so, i'm closing this. Please re-open as necessary.

[2015-11-02 03:31] #112 closed

[2015-11-02 03:32] shankisg commented on #151
@vnbang2003

For beta, these problems could be fixed but for long run it might be a problem. So the label shouldn't be  **invalid**.

[2015-11-02 03:35] vnbang2003 commented on #151
@shankisg This is general discussion and just mark it as invalid issue.
Once we get testcase fixed we will surely not hit the blockers due to others code changes as testcase itself will fail.
Let do this add messages in the context object and display to avoid this scenarios. Let make it specific to workshop only.

[2015-11-02 03:37] shankisg commented on #151
OK

[2015-11-02 03:40] theskumar commented on #124
I can't any see testcase for workshop/organisation in the codebase. It seems we just need to add the test cases. Title of this issue need to be altered? @vnbang2003

[2015-11-02 03:55] theskumar commented on #151
I personal recommendation would be to write tests for the features/bug fixes to avoid such instances. Given a pull-request to review, it's very hard to predict if it breaks something else somewhere. My 2 cents.

[2015-11-02 04:04] theskumar commented on #147
I just want to add here that
- there is no overhead on database if the original photos are saved, it will only add to more disk requirement.
- The "ideal" solution would be resize the uploaded images client size to something reasonable size, say 500px or 1000px so that they are still usable if we need a little bigger size images. This will save upload bandwidth and may avoid upload limit on server

[2015-11-02 04:11] #126 closed

[2015-11-02 04:12] #131 closed

[2015-11-02 04:12] theskumar opened #152 "Add testcase for user registration flow"

[2015-11-02 04:13] theskumar commented on #131
New issue created for adding the testcase at https://github.com/pythonindia/wye/issues/152

[2015-11-02 04:13] #151 closed

[2015-11-02 04:14] #113 closed

[2015-11-02 04:40] vnbang2003 commented on #144
@kirang89 Even requester can see workshops hence i think we can just better text.
If Lead/Admin logins we need to show different set of workshop.

[2015-11-02 04:47] #138 closed

[2015-11-02 06:39] ultimatecoder commented on #151
Well, I will be agree with @theskumar  that test cases are the only solution to find other breaks but I also believe that till system are finally working with agreed flow we should not begun for test cases. Because, with every development we have different vision and that might create modification in previous development. Once we are finalize with the system flow then and then test case should be

[2015-11-02 06:43] kirang89 commented on #144
@vnbang2003 In that case, a user should only be able to view workshops that haven't been accepted yet, in which case, we don't need the column for sharing feedback at all. Am I correct here or have I missed something ?

[2015-11-02 06:44] vnbang2003 commented on #144
Feedback button is only for workshop completed and feedback not shared. We need to implement logic to control the display.

[2015-11-02 06:47] ultimatecoder opened #153 "IRC, Gitter channel for developers"
**Description:**

1 **Gitter, IRC** channel where developers can talk on issues, new development. Let us be there and talk there every time.

2 **Weekly Hangouts** where we all can share their problems with the tool, communication gap and other improvements they think is required. This will improve our quality, we have to think in one direction. Presently there are many confusions regarding the fl

[2015-11-02 06:51] vnbang2003 commented on #153
@ultimatecoder Let take discussion in mailing list .
Am +1 for weekly hangout i had proposed it before but got carried out with other things and lost track.
I propose Wednesday evening 7.30 PM hangout if it works for everyone.

Adding @shankisg @vanishan for discussion

[2015-11-02 06:56] ultimatecoder commented on #153
@vnbang2003  Mailing list okay.
On Weekly hangout I personally believe because it will held on every week, I think Weekend is more preferable. I will be agree with the time. I personally don't have issue with Wednesday.
If I clear you, were you insisting Wednesday for every hangout or just for first Hangout?

[2015-11-02 07:01] vnbang2003 commented on #153
I have started thread in mailing list lets discuss there.
@ultimatecoder you can drop email to me for meeting i can help join hangout and help you understand my point of view.

[2015-11-02 07:03] ultimatecoder commented on #153
@vnbang2003  Got that!

[2015-11-02 07:07] vnbang2003 commented on #153
@ultimatecoder As this software is completely volunteer driven from different location . Workflow are gone change very often for next few days as we all have different plan in mind.
Let plan to get this product very professional is only thing i can request.

[2015-11-02 07:09] ultimatecoder commented on #153
:+1:

[2015-11-02 08:33] vnbang2003 commented on #150
@ultimatecoder Can you take up this PR ?

[2015-11-02 08:34] vnbang2003 commented on #129
@ultimatecoder Is this done ?

[2015-11-02 08:35] ultimatecoder commented on #129
@vnbang2003  Yes. You had merged it yesterday. You can close this.

[2015-11-02 08:35] ultimatecoder commented on #150
@vnbang2003  Okay. Assign it to me.

[2015-11-02 08:36] vnbang2003 commented on #99
@Praseetha-KR I have added template example in /template/email_messages/organisaiton/new.html
Can you help us update the html with better head and footer .
Even the Logo in HTML email is can be smaller.

[2015-11-02 08:36] #129 closed

[2015-11-02 08:39] vnbang2003 commented on #11
@harisibrahimkv @shankisg Whats status with this ?Do we have all the emails templates check in ?
@harisibrahimkv : I wil assign it you ?

[2015-11-02 08:41] vnbang2003 commented on #94
@SudShekhar If not one is working hasn't started working on this PR by that time . You can just work and send pull request.
The button are displayed in workshop listing page.

[2015-11-02 08:44] vnbang2003 opened #154 "Add reference to Github repo and emailing list in Footer"
We should add github repo path and Mailing list path in the Footer of website so new members can join and help us .

@Praseetha-KR : Can you help us with this ?

[2015-11-02 08:45] vnbang2003 commented on #144
We have feedback button issue #102 . @kirang89 Can we close this ?

[2015-11-02 08:48] vnbang2003 opened #155 "Generic Mixin to handle Permission error(403)"
We need to write generic mixin (in base app) to handle 403 error and display 403 page with custom error message.
If possible let method so that i can handle other error messages.

[2015-11-02 10:37] kirang89 commented on #144
Yes, please go ahead.

[2015-11-02 15:36] harisibrahimkv commented on #11
This https://github.com/pythonindia/wye/pull/148 has all the email content. I would like both of you to review the content and make sure it is being sent to the proper entity with the proper message. The PR has placeholders for all the context data and links. You will need to edit the files and put them in.

[2015-11-02 16:01] vnbang2003 commented on #11
@harisibrahimkv We need few more email content
new: You have added it
accepted: Once presenter accept workshop we need to send email to presenter and poc.
rejected: Once presenter reject workshop we need to send email to presenter and poc
completed: Once presenter complete workshop we need to send email to presenter and poc to submit feedback for workshop.

[2015-11-02 16:06] vnbang2003 opened #156 "Organization edit permission"
Presently we allow all organization member to edit organization details.
Should we restrict organization member to edit organization details  and allow only organization created user to edit ?

[2015-11-02 16:18] vnbang2003 opened #157 "Regional lead addition/removal"
When admin user add new regional lead/update we should update usertype object in the user profile page.If user is removed from all regional lead position we need to remove his role as userType.

[2015-11-02 16:21] vnbang2003 opened #158 "Profile validation"
Presently we validate if profile object is created and assume profile created has userType selected.
We need to change validation in all places to make sure profile object has usertype role selected.

[2015-11-02 16:23] ultimatecoder commented on #158
@vnbang2003  and Redirect user to profile edit page if user-type is null.

[2015-11-02 16:35] vnbang2003 commented on #150
I just fixed as it was minor. Sorry for hijacking it.

[2015-11-02 16:35] #150 closed

[2015-11-02 16:36] vnbang2003 commented on #158
@ultimatecoder Yes

[2015-11-02 16:42] harisibrahimkv commented on #11
@vnbang2003 Take a look at this: https://github.com/pythonindia/wye/blob/master/wye/templates/email_messages/workshop/assign_me/message.html

I believe that caters to the `accepted` and `rejected` part that you have mentioned above?

Also this: https://github.com/pythonindia/wye/blob/master/wye/templates/email_messages/workshop/create_workshop/message.html

Doesn't that cater to the `new` that you

[2015-11-02 16:55] harisibrahimkv commented on #132
This should fix it: https://github.com/pythonindia/wye/pull/159

[2015-11-02 16:58] vnbang2003 commented on #11
@harisibrahimkv We might not have added .html and .txt file can you add new file with content ?

[2015-11-02 20:33] kirang89 commented on #132
Awesome! Closing this then.

[2015-11-02 20:33] #132 closed

[2015-11-03 02:30] vnbang2003 commented on #94
@shankisg I am getting below error when i click on accept workshop. Can you please fix it
"
ImproperlyConfigured at /workshop/1/opt_in/

Using ModelFormMixin (base class of WorkshopAssignMe) without the 'fields' attribute is prohibited.
"

[2015-11-03 02:45] shankisg commented on #94
@vnbang2003

Yesterday, I also saw the error .  Let me check.

[2015-11-03 03:01] vnbang2003 opened #161 "Display of workshop action button"
In the workshop list page Presently we display 4-5 button depending on status only.
We need to add more logic to show button based on logged in person
1) Hold button should be displayed only if logged-in person is member of workshop requested organisation and workshop is not completed.
2) Requested button should be display only if logged-in person is member of workshop requested organisation and w

[2015-11-03 03:02] vnbang2003 opened #162 "Regional Lead can assign workshop"
Regional Leads should be able to add workshop to tutor who had contacted them offline.
Regional lead can assign workshop only region they belong to.
This button should be displayed only to regional Lead.

[2015-11-03 03:56] vnbang2003 commented on #94
@shankisg I personally think we need to rename the class to workshopAction(or better name) and make it work for all button click
/workshop/<id>/accept/
/workshop/<id>/reject/
/workshop/<id>/hold/
/workshop/<id>/decline/
/workshop/<id>/assign/

Do you mind to rewrite this part of code ?

[2015-11-03 05:43] shankisg commented on #94
@vnbang2003

Same thought with me also. Let me give it a try, also will add fix for the error above.

[2015-11-03 07:40] Praseetha-KR commented on #99
I have added mailer base layout in /template/email_messages/layout.html #163

[2015-11-03 17:10] shankisg commented on #139
Fix merged commit #2a02a31c79ec70e3b5653d87f964cbd1916e0e59

[2015-11-03 17:10] shankisg commented on #139
@vnbang2003 pls close this issue

[2015-11-03 17:14] shankisg commented on #125
Fix implemented commit  # 75ddd948ed6f231c13180d52776381ee2fe21000

[2015-11-03 17:14] shankisg commented on #125
@vnbang2003 pls close this issue

[2015-11-03 17:27] vnbang2003 commented on #125
@shankisg We need to get HTML email stuff also in hence it open.

[2015-11-03 17:28] vnbang2003 commented on #139
@shankisg workshop section is done but organization section we need to work hence it's open

[2015-11-03 17:31] vnbang2003 commented on #99
@harisibrahimkv Can you help us moving all html email template to format share by @Praseetha-KR ?
@shankisg Can you create dummy .html and .txt file for email so Haris can work on content for the same.

[2015-11-03 17:40] shankisg commented on #94
@vnbang2003
Just to be clear:
- **accept and decline** will be used by tutor. Correct me if wrong
- Who have the rights to **reject, hold, assign**?

[2015-11-03 17:43] shankisg commented on #139
Ok, got it

[2015-11-03 17:48] vnbang2003 commented on #124
@theskumar Can we please disable testing section for build . It really getting confusion to accept any pull request . Once we fix testcase we can enable it back

[2015-11-03 17:50] vnbang2003 commented on #94
Aceept and reject(decline) by tutor.
Hold by Organiser(requester)
Assign by Regional Lead .(Functionality of this isexpalined in issue #162 )

[2015-11-03 18:39] shankisg commented on #94
ok

[2015-11-04 04:58] vnbang2003 commented on #82
@kracekumar @vigneshsarma can we plan for beta push this sunday  ?

[2015-11-04 04:58] vnbang2003 commented on #153
Closing this as we can discuss this things in mailing list

[2015-11-04 04:58] #153 closed

[2015-11-04 04:59] #154 closed

[2015-11-04 06:02] ultimatecoder commented on #124
@theskumar  @vnbang2003  Are we expecting for Unit testing or Functional testing or Both for Organization and Workshop? I think we should split task of Testing for Organization, Workshop, Profile.

[2015-11-04 06:07] vnbang2003 commented on #124
@ultimatecoder I agree with you but keep this PR open .
For profile we already have tescase #152 .
I would say let send pull request for each tescase possible and keep improvising test coverage.
Once we reach to 80% mark we can close this PR.

[2015-11-04 06:15] ultimatecoder commented on #124
@vnbang2003  Okay.
**First Point:** Issue #152 Not containing description related to some methods of Profile model. I think it will be irrelevant to add description to that Issue. I am Creating new issue for that.

**Second Point:** As Unit testing and Functional testing is different part. Person like me don't have experience in Functional testing but having little of Unit testing. So, It will be

[2015-11-04 06:18] vnbang2003 commented on #124
@ultimatecoder The goal of this PR is to add testcase and remainder to us to know we have to fix it.
I would request you to keep send Pull request with Testcase(unit or functional)and we will keep accept it. Is not this a simple process ?

[2015-11-04 06:20] ultimatecoder opened #166 "Test cases for Profile"
* **Description:**
Write Test cases for User profile. Mainly try to cover available methods of Profile model.

* **Guidelines:**
[Django Unit testing](https://docs.djangoproject.com/en/1.8/topics/testing/overview/)

[2015-11-04 06:26] #144 closed

[2015-11-04 06:31] ultimatecoder commented on #124
@vnbang2003 Yes, It is simple process but I am much familiar with the workflow of this framework but think about new person who is coming first time to contribute this project. Various experience level will be there. From novice to expert. So, it would be great to at least at some more description to PR on what steps to follow, which part is completed and which part is remaining.

* Little Example

[2015-11-04 06:33] ultimatecoder commented on #124
@vnbang2003 : I can see the **Testing** label but in issues it is not attached to. It will be good to update. Thanks!

[2015-11-04 15:16] kirang89 opened #167 "Notify ROCs when new workshop is requested in their locality of interest"
Every ROC/Tutor should be notified(via email) when a new workshop is requested in their area of interest.

[2015-11-05 03:49] vnbang2003 opened #168 "Adding new member in the organisation"
We need to allow college member to add new members to the system.
There are two option to add new members to the system
1) Existing user : Criteria to add existing member should be he belong to same location
           email template already there:/email_message/organisation/additional_member.html
2) New user: We need to send invite to new user saying person "x" has request you to join organizatio

[2015-11-05 03:50] vnbang2003 commented on #168
@ultimatecoder : Do you want to take it up . This is help you understand Organization module also ?

[2015-11-05 03:52] vnbang2003 commented on #158
@ultimatecoder : If requirement is clear do you want to take it up as it a blocker for beta release ?

[2015-11-05 03:55] #11 closed

[2015-11-05 03:55] #99 closed

[2015-11-05 05:31] vnbang2003 commented on #161
@curioswati Can you help us with this ?

[2015-11-05 05:33] #94 closed

[2015-11-05 05:33] #125 closed

[2015-11-05 07:16] curioswati commented on #161
ok. I am doing it.

[2015-11-05 07:43] curioswati commented on #161
I can do it in evening, will that be okay?

[2015-11-05 07:45] vnbang2003 commented on #161
@curioswati that should be problem. If anything is not clear let us know.

[2015-11-05 07:51] curioswati commented on #161
ok.

[2015-11-05 09:21] ultimatecoder commented on #158
![](http://cdn.memegenerator.net/instances/400x/31291114.jpg)

[2015-11-05 10:36] #140 closed

[2015-11-05 10:38] vnbang2003 commented on #142
@shankisg Can we work on this as priority than the assign feature ?
Assign take be taken in version 2 ?
Let concentrate on v0.1 items: https://github.com/pythonindia/wye/milestones/V0.1

[2015-11-05 10:38] vnbang2003 commented on #49
@shankisg I think it done by button Hold  right ?

[2015-11-05 10:46] vnbang2003 commented on #17
@staranjeet Can you help us create the functionality ?

[2015-11-05 10:53] staranjeet commented on #17
yeah. What should be the fields here? Name, Email, Address, Mobile, Inquiry msg, and captcha.
Also This involves creating a new model, so that model should be in profiles app or any other app?

[2015-11-05 10:56] vnbang2003 commented on #17
Yes captcha is good point.
I was think no need to store this ? but if email goes in spam it better to store ?
@theskumar @kirang89 @kracekumar what do you guys think ?

[2015-11-05 10:58] staranjeet commented on #17
yeah suggestions please. I was a little busy yesterday so I missed the hangout. When are we having the next hangout?

[2015-11-05 11:30] vnbang2003 commented on #139
@shankisg look like i will work .

[2015-11-05 14:02] kirang89 commented on #17
@vnbang2003  Quick comments:
- Why do we need to ask for phone number ? The lesser information we ask for, the better, IMO.

Apart from this, I agree with Vijay about not having to store any information. The page is just a simple interface for reaching out to us.

[2015-11-05 14:07] kirang89 commented on #142
@vnbang2003 Please use an issue number in your comment instead of "assign feature". It'll make it easier for any beginner(like me) to understand the issue you're referring to :)

[2015-11-05 16:16] vnbang2003 commented on #142
Assign button Issue number : #162

[2015-11-05 16:19] vnbang2003 commented on #17
The purpose of the page is to get feedback . It a simple interface with more details to understand what feedback they want to give to us.
Mobile number can be optional this might help us create account for them if they face trouble creating account .

[2015-11-05 16:52] kirang89 commented on #17
The reason I asked about the purpose of the page was because of the above option.

Agreed. So, now if someone has trouble creating an account, the dropdown should be optional as well right ?

[2015-11-05 17:14] vnbang2003 commented on #17
agreed

[2015-11-07 06:20] #139 closed

[2015-11-07 06:23] vnbang2003 commented on #141
Disabled edit option for tutor

[2015-11-07 06:23] #141 closed

[2015-11-07 06:25] vnbang2003 commented on #102
Closing it as issue #161  has action button logic explained.

[2015-11-07 06:25] #102 closed

[2015-11-07 06:26] #49 closed

[2015-11-07 06:28] vnbang2003 commented on #158
Can we get fix today . As we are almost ready for going live.

[2015-11-07 06:28] vnbang2003 commented on #161
Can we get fix today . As we are almost ready for going live.

[2015-11-07 07:20] vnbang2003 commented on #167
FIx is check in
https://github.com/pythonindia/wye/commit/56c6e19de7d4b40c1a6e37c5f87a774000875d16

[2015-11-07 07:20] #167 closed

[2015-11-07 07:23] vnbang2003 commented on #82
@kirang89 @theskumar @shankisg @ultimatecoder @curioswati @DESHRAJ @harisibrahimkv
Guys,
    We are almost done with v0.1 milestone issue. Can you guys test and find issue if any.

@kracekumar @vigneshsarma
  Can you guys plan for push tomorrow with beta.pythonexpres.in so we can ask community to help us test and open issues so in next 15 days we are ready to make it live.

[2015-11-07 09:18] vnbang2003 opened #170 "when poc user request workshop without create workshop we show permission denied error"
When the College POC login first time we show button "Request for workshop" . When user click on the button "request the workshop" without he/she belonging to any organization or create organization it show PermissionDenied error.
It would be good to show proper error message saying "Workshop can be requested if you register organization or you are member of some organization register with Pythone

[2015-11-07 10:17] curioswati commented on #161
Yes, I will complete it by today evening.

[2015-11-07 11:34] kracekumar commented on #82
While setting up server we will do the required social media settings.

On Sat, Nov 7, 2015 at 12:53 PM, Vijay <notifications@github.com> wrote:

--
Regards
Kracekumar Ramaraj
http://kracekumar.com

[2015-11-07 14:41] vnbang2003 opened #171 "Regional Lead usertype update"
When a regional lead is revoked we need to verify if user is still playing lead role for other regions.
In case he is not playing lead role for any region we need to remove usertype region lead from his profile and make him tutor.

[2015-11-07 17:08] curioswati commented on #161
Sorry, but I am stuck at a point and will not be able to implement this fix today. I was trying to write template tags so that I could access session info in model, but facing some issue. If some one else can do it, please take it.

[2015-11-08 05:37] vnbang2003 commented on #161
@curioswati we just need to define 4 variable in view's context and display button accordingly.
Let me know if you still available to take it up else i will complete it.

[2015-11-08 07:15] vnbang2003 commented on #161
@curioswati I just check in example for custom tag with 2 variable . Were you thinking of similar ?
https://github.com/pythonindia/wye/commit/ccb20865f1a35b6f4b0673bb3b1162a94048503d
Do you want to continue and finish the PR ?

[2015-11-08 08:37] curioswati commented on #161
yes exactly, I was trying the same. But When I called the method in templatetag, It says, boolean can't be called. I was calling the model property from the template tag, but I see, you have defined them in the template tag itself. Yes I can do it this way.

[2015-11-08 08:57] vnbang2003 commented on #161
Cool than i will wait for PR from you .

[2015-11-08 09:38] vnbang2003 commented on #142
403 error should be visible once button as properly display as per #161 . Hence closing it

[2015-11-08 09:38] #142 closed

[2015-11-08 09:39] vnbang2003 commented on #158
@ultimatecoder this is only issue open for v0.1 can you please update us on status so we can plan for beta release ?

[2015-11-08 10:26] curioswati commented on #161
@vnbang2003 where can I get the workshop completion date from?

[2015-11-08 12:08] vnbang2003 commented on #161
where can I get the workshop completion date from?: if workshop expected_date is less than today we count it as complete.

[2015-11-08 12:12] curioswati commented on #161
yes I did that only.

[2015-11-09 03:32] #161 closed

[2015-11-09 05:39] vnbang2003 commented on #17
@staranjeet Can it be possible to get this feature asap so we can get it live along with beta version live ?

[2015-11-09 06:25] staranjeet commented on #17
when is beta going to be live?

[2015-11-09 08:33] vnbang2003 commented on #17
Probably Wednesday or Thursday . We are just wait for E2E machine provision.

[2015-11-09 08:49] DESHRAJ commented on #17
Great. :)

[2015-11-10 09:22] staranjeet commented on #17
I have pushed a branch contact-us-page and created a diff from my [master](https://github.com/staranjeet/wye/pull/1).

Some things needs discussion or suggestions:

* Placed the views code in profiles app. Is it ok or not?
* The mail template is not beautified. The details are listed on individual lines.
* Taking name, email, content, query_topic and mobile(optional). Labels needs to be changed.
*

[2015-11-10 17:37] vnbang2003 commented on #17
Placed the views code in profiles app. Is it ok or not?
- For now it ok.

The mail template is not beautified. The details are listed on individual lines.

- Have provided feedback to extend now. @harisibrahimkv Can help you generate it
- We need two email (1) to Python express team(regional leads and admins (2) to requester

Taking name, email, content, query_topic and mobile(optional). Labels ne

[2015-11-11 06:55] staranjeet commented on #17
Have updated the [pull](https://github.com/staranjeet/wye/commit/5924f06ff5e002b2ef0339d90f3b0db5c57bac2b) as per the changes suggested by @vnbang2003 .

What does verifying email and mobile means here? Do you means sending mail and message to the one who is trying to contact us, so that we can verify is he/she authentic?

I think for a contact us page, this should not be required. Captcha is enou

[2015-11-13 04:31] vnbang2003 commented on #17
I mean validate email and mobile else we will be listed soon in spams.
For not let move on without captcha. Let open issue and plan for v0.2

[2015-11-13 04:32] vnbang2003 opened #173 "Add Captcha for contact us page"
We need to add captcha for contact us form to make sure we are not spammed.

[2015-11-13 04:39] staranjeet commented on #17
so u mean a individual clean function for mobile and email which checks the following
* clean_mobile : whether the entered mobile number is of 10 digits or 11 for landline
* clean_email : checks whether the email is a valid email through regex.
?

[2015-11-13 04:40] vnbang2003 commented on #17
yep

[2015-11-13 04:42] staranjeet commented on #17
ok i will do this. rest all changes are fine. If so then I will create a PR from wye's master now?

[2015-11-13 04:51] vnbang2003 commented on #17
@staranjeet Have shared feedback on your branch.

[2015-11-13 04:55] staranjeet commented on #17
yeah I have seen. I will do the changes.

[2015-11-14 04:24] vnbang2003 commented on #173
@staranjeet  Do you want to plan around this libraries and come up with best and easy compatibility library ?
https://github.com/alsoicode/django-simple-math-captcha
https://github.com/mbi/django-simple-captcha

If you more time you can do play around with all the libraries
https://www.djangopackages.com/grids/g/captcha/

[2015-11-14 04:25] vnbang2003 commented on #30
@staranjeet Can you help answer @kracekumar query so we can plan this for v0.2 ?

[2015-11-14 04:27] vnbang2003 commented on #158
@ultimatecoder Any progress on this?

[2015-11-14 05:42] staranjeet commented on #30
Ok I will have a look at his query and get back regarding this soon.

[2015-11-14 13:21] staranjeet commented on #173
I think `django-simple-math-captcha` is apt here. It does not require any changes in settings file nor any migrations. It is simple add, subtract and multiply. Infact we can pass in the error messages also like

`captcha = MathCaptchaField(error_messages={
        'invalid': 'Wrong answer. Check your maths and try again',
        })
`

The initial captcha:
![initialcaptcha](https://cloud.githubuse

[2015-11-14 13:23] staranjeet commented on #173
#177

[2015-11-15 05:47] #173 closed

[2015-11-15 07:24] kracekumar opened #178 "Social accounts missing in SignUp"
Login page allows social accounts like `Github`, `Google`, `Twitter`, signup page doesn't have those options.

![screen shot 2015-11-15 at 12 54 54 pm](https://cloud.githubusercontent.com/assets/311929/11167797/00941a14-8b98-11e5-95bf-1a9fbd925502.png)
![screen shot 2015-11-15 at 12 55 08 pm](https://cloud.githubusercontent.com/assets/311929/11167801/068eab82-8b98-11e5-8a48-f43c720f1556.png)

[2015-11-15 07:27] kracekumar opened #179 "Sign Up page doesn't indicate mandatory fields with '*'"
![screen shot 2015-11-15 at 12 57 01 pm](https://cloud.githubusercontent.com/assets/311929/11167803/50c3de52-8b98-11e5-810f-a850b950801e.png)

[2015-11-15 07:49] vnbang2003 commented on #178
@DESHRAJ Can you fix it . This is blocking us to go live ?

[2015-11-15 07:50] vnbang2003 commented on #179
@DESHRAJ Can you even take it and it minor change ?

[2015-11-15 09:23] DESHRAJ commented on #178
ok sure @vnbang2003, I will fix this by today itself.

[2015-11-15 09:23] DESHRAJ commented on #179
ok sure. I will fix this one too. :)

[2015-11-15 09:46] kracekumar opened #180 "Connect Social Profiles"
User A signs up with web form, verifies the email and logs out. Now, when the User A logs in using `Github`, `Google`, the user A is redirected to signup page with pre filled email address and other details. This experience is broken whereas User A should be logged in since email is already available.

Twitter doesn't provide email address after successful authentication. Once a user A is logged i

[2015-11-15 11:56] vnbang2003 commented on #180
@DESHRAJ Once more for you . Can you take it also ?

[2015-11-15 12:03] vnbang2003 opened #181 "User with username having email id is failing"
Internal Server Error: /favicon.ico
Traceback (most recent call last):
  File "/opt/envs/wye/local/lib/python2.7/site-packages/django/core/handlers/base.py", line 87, in get_exception_response
    response = callback(request, **param_dict)
  File "/opt/envs/wye/local/lib/python2.7/site-packages/django/utils/decorators.py", line 110, in _wrapped_view
    response = view_func(request, *args, **kwarg

[2015-11-15 12:03] vnbang2003 commented on #181
@staranjeet Can you look in to this ? You can try on beta version which is live : http://beta.pythonexpress.in/

[2015-11-15 12:38] vnbang2003 opened #182 "Migrate Data from Old server to new server"
We need to move data from old server to new server.

[2015-11-15 12:40] vnbang2003 commented on #182
@vigneshsarma @kracekumar let take on our hands this issue so we can plan it.

[2015-11-15 13:54] vnbang2003 opened #183 "The Avatar image for profile is not loading"
The default avatar image is not getting loaded in production.
Looks like some setting is missing . @ultimatecoder Can you look into it as you were working on it.
![screen shot 2015-11-15 at 7 21 15 pm](https://cloud.githubusercontent.com/assets/316253/11169029/7d45e214-8bce-11e5-96d0-9f70c6863708.png)

[2015-11-15 15:27] vnbang2003 opened #185 "Adding twitter account info in footer"
Adding twitter account info in the footer along with mailing list and Github.
https://twitter.com/pythonexpress/

[2015-11-15 15:35] vnbang2003 commented on #185
@curioswati Can you help us with this?

[2015-11-15 18:37] staranjeet commented on #181
in this case, slug is your email id. Right?

[2015-11-15 18:42] staranjeet commented on #181
In that case, we need to update the regex in the urls as
`    url(r'^(?P<slug>[a-zA-Z0-9@.]+)/$',
        views.ProfileView.as_view(), name='profile-page'),
    url(r'^(?P<slug>[a-zA-Z0-9@.]+)/edit$',
        views.ProfileEditView.as_view(), name='profile-edit')
`

[2015-11-15 20:41] DESHRAJ commented on #180
Hey @vnbang2003, @kracekumar  , I have resolved the first problem of logging the user directly when he tries to login through social account and he has signed up previously using simple registration form. The pull request https://github.com/pythonindia/wye/pull/187 contains the code.

For resolving the twitter problem, I have a doubt.
For instance user has already signed up and verified his email

[2015-11-15 20:43] DESHRAJ commented on #179
Fixed in https://github.com/pythonindia/wye/pull/187

[2015-11-15 20:43] DESHRAJ commented on #178
Fixed in https://github.com/pythonindia/wye/pull/187

[2015-11-16 06:19] curioswati commented on #185
OK.

[2015-11-16 10:01] vigneshstack opened #188 "Email Template footer Details"
Update footer details on email template

Follow on Twitter   Friend on Facebook   Forward to Friend
Copyright © *|CURRENT_YEAR|* *|LIST:COMPANY|*, All rights reserved.
*|IFNOT:ARCHIVE_PAGE|* *|LIST:DESCRIPTION|*

Our mailing address is:
*|HTML:LIST_ADDRESS_HTML|* *|END:IF|*
unsubscribe from this list   update subscription preferences

[2015-11-16 11:00] #185 closed

[2015-11-16 11:01] vnbang2003 commented on #181
Looks like that should fix it . Can you send pul request for it.

[2015-11-16 11:05] vnbang2003 commented on #188
@Praseetha-KR Can you help with this ?

[2015-11-16 11:06] vnbang2003 commented on #170
@shankisg Can you help us with this ?

[2015-11-16 11:52] staranjeet commented on #181
PR #190

[2015-11-16 13:04] vnbang2003 opened #191 "twitter message"
We need to change the twitter message to show details . The link is of not use as it will be visible only after login.
"
Python3 workshop at AboutHive-2-Bengaluru on 2015-11-28 confirmed! Details at http://beta.pythonexpress.in/workshop/1/
"
to

Received Python3 workshop request from <org> , <Locaiton> on date. Login to account and accept workshop if interested to conduct this workshop.

@harisibr

[2015-11-16 14:18] harisibrahimkv commented on #191
@vnbang2003 With all due respect, I think the workshop details link should be public. The tweet does not make sense if it does not have a link to take people there.

[2015-11-16 16:22] vnbang2003 commented on #191
@harisibrahimkv I get your point but i still feel -1 for make it public.
Twitter handler is just to let them know workshop is requested. Making it public doesn't help as he can't selected workshop without creating profile.
Let show details only to serious guys who created account with us.

[2015-11-16 17:50] saideepchandg opened #192 "Other organisations I am member of - Automatically added"
After registering as 'POC', when I go into the 'Organizations' I see other organizations I am member of already having filled with 'AboutHive'. Below is the screen shot as I see it:
![image](https://cloud.githubusercontent.com/assets/11366144/11189825/5ae4c63c-8cb8-11e5-86f1-d05e947596ac.png)

[2015-11-16 17:51] saideepchandg opened #193 "Hyderabad spelling in Location dropdown is incorrect"
Hyderabad spelling in Location dropdown is incorrect.
It is Hyderbad instead of Hyderabad.

[2015-11-16 19:30] kracekumar commented on #180
When a user logins in via `twitter`, page should display the option to `connect existing profile` or `create profile`.

### Case 1: Create profile

Create profile should take to normal page and post profile creation, `all auth/custom backend` should store connection between profile and twitter. Next time user logins with twitter, the correct profile is associated. All auth must take care of this.

[2015-11-16 23:42] vnbang2003 commented on #193
Fixed it

[2015-11-16 23:42] #193 closed

[2015-11-17 03:55] saideepchandg opened #194 "Workshop request should allowed only for future dates"
I am able to request for a workshop in a past date. See the image below:
![image](https://cloud.githubusercontent.com/assets/11366144/11202328/f7da3d2e-8d0c-11e5-953f-cf9dcb5cde09.png)

We may need to discuss how far in future (after 1 week?) can a workshop be requested. But back-dated workshop shouldnt be allowed.

[2015-11-17 04:26] kutuhal commented on #180
###Case 2a: Incorrect Email while connecting profile
Few points to consider.
- If user gives the mail for connecting and hasn't authenticated. But again logins with Twitter account. Should we show the usual awaiting authentication?
- If user accidentally gives incorrect email, what are his options to re-enter the correct email.

[2015-11-17 08:17] vnbang2003 commented on #194
We need to allowed users to request workshop only for future dates. I think we need atleast 2 weeks time to plan for workshop as we need to find the volunteer for that regions.

@staranjeet Can you help with this . Requesting you as @shankisg is on vacation ?

[2015-11-17 08:17] vnbang2003 commented on #192
@curioswati Do you have sometime to look into this ?

[2015-11-17 09:07] staranjeet commented on #194
Sure I will do it.

[2015-11-17 09:13] harisibrahimkv commented on #191
@vnbang2003 I disagree with you.

The workshop details should be public so that anyone who sees the page can decide whether to sign up or not and decide whether to teach there or not.

Signing up/Logging in every now and then just to check for "workshops that require a tutor" is not a good idea.

In any case, the tweet message is a small change to be made. Since I don't see the point in not making

[2015-11-17 09:16] vnbang2003 commented on #191
I see valid point you made.  Let me rethink .
@theskumar @kirang89 What do you guys suggest ?

[2015-11-17 10:29] satyaakam opened #195 "Delhi and other Cities not mentioned"
Hi,

After registering as a tutor i am not seeing Delhi and many other cities in the drop down menu.

one suggestion is if we can capture both State and City name that would be good.

[2015-11-17 10:58] vnbang2003 commented on #195
@satyaakam Presently system has 29 states and 38 cities added.
As Dehli was Union territory we missing it.I have fixed it by adding it to system.
Please help us point to different cities we can add to system .

[2015-11-17 11:02] satyaakam commented on #195
this list is a good start https://en.wikipedia.org/wiki/List_of_cities_in_India_by_population

[2015-11-17 11:04] vnbang2003 commented on #195
@satyaakam Thanks this will help a lot.

[2015-11-17 11:46] curioswati commented on #192
Ok. I will.

[2015-11-17 11:54] kirang89 commented on #191
@vnbang2003 I agree with @harisibrahimkv

As a user, I would like to know all the details of the workshop (topic, agenda, venue) before I decide to attend it. Making me to signup just to see that adds inertia, so I'm likely to not do the same.

I'd suggest keeping the details public but requiring them to login in order to register for the workshop. In doing so, we'll have to make it clear in the w

[2015-11-17 15:13] saideepchandg opened #196 "POC (of Organization) shouldn't be allowed to Accept workshop"
Currently, as a POC of an organization, I can Accept/Reject the Worshop. This shouldn't be allowed. Only presenter/tutor should be allowed to accept or reject a workshop.

[2015-11-17 15:15] vnbang2003 commented on #196
Did you select yourself as both POC and Tutor ?

[2015-11-17 15:25] saideepchandg opened #197 "Loading profile picture ends in 413 error"
The profile image that I tried to upload was about 9 MB.
![image](https://cloud.githubusercontent.com/assets/11366144/11215633/469e0890-8d6d-11e5-8c6d-3c1aaa13d4db.png)

I see that there is an requirement for resizing the image before uploading to server. This would be related to that issue.

[2015-11-17 15:30] saideepchandg commented on #196
No. I selected myself as only POC.

[2015-11-17 15:30] saideepchandg opened #198 "Loading profile picture ends in 413 error"
The profile image that I tried to upload was about 9 MB.
![image](https://cloud.githubusercontent.com/assets/11366144/11215633/469e0890-8d6d-11e5-8c6d-3c1aaa13d4db.png)

I see that there is an requirement for resizing the image before uploading to server. This would be related to that issue.

[2015-11-17 15:31] saideepchandg commented on #198
duplicate

[2015-11-17 15:31] #198 closed

[2015-11-17 15:58] staranjeet commented on #194
@vnbang2003 : so this involves writing a clean function for date field, which raises an error if the input date is less than 2 weeks from present date or in past. Right?

[2015-11-17 16:00] vnbang2003 commented on #194
@staranjeet Yep

[2015-11-17 16:44] curioswati commented on #192
In which case a user is considered a member of an organisation? Currently in the list of "Other organisations I am member of" part, all organisations except those created by the user are shown, which is not desired as it is listing all the organisations(those also which does not include the user as its member). I am assuming, a user is member of an organisation which it created. If that is so, the

[2015-11-17 16:56] vnbang2003 commented on #192
@curioswati
My Organization should show organization where created_by is logged in user.
Other organization should show Organization am member of (fields user should have logged in user name) but exclude those i have created as by default created user will be added in user list.
Let me know if this answer your query.

[2015-11-17 16:59] staranjeet commented on #170
The workaround here can be as follows:
In `workshops/mixin.py`, we need to split the if else conditon into separate if condition which have a fallback as their else conditon. In that fallback we set the error message and that error message can be passed to the custom exception class. The custom exception class can be written as per [link](http://stackoverflow.com/a/25379870/2534102)

[2015-11-17 16:59] vnbang2003 commented on #196
I have added the filter to show button only if you have selected your role as tutor.
Commit : https://github.com/pythonindia/wye/commit/0445c8a8e82d3ed5c05537b43616a3b94dcf786f

[2015-11-17 17:18] vnbang2003 commented on #170
@staranjeet Can you try & share how UI will look?
We need to do same for Organization also hence try to write generic code with take message as input

[2015-11-17 17:40] vnbang2003 commented on #196
@saideepchandg Can you confirm if this fixed ?

[2015-11-17 17:40] vnbang2003 commented on #194
It pushed to production hence closing ti

[2015-11-17 17:40] #194 closed

[2015-11-17 17:55] kracekumar commented on #180
Yes, similar to password reset/account verification.

`All auth` should provide an option to disconnect.

[2015-11-17 18:15] staranjeet commented on #170
the solution that i think is a custom middleware, with a little tweak to insert a custom message into html
[link](http://mitchfournier.com/2010/07/12/show-a-custom-403-forbidden-error-page-in-django/)
Let me know if this is ok so that i can proceed with it.

[2015-11-17 19:02] saideepchandg commented on #194
@staranjeet - Do you want to have a look at the message?
- Message is repeated twice
- expected_date can be removed
Other than that, it works.
![image](https://cloud.githubusercontent.com/assets/11366144/11221499/7c6d1588-8d8b-11e5-946e-f502ce77749f.png)

[2015-11-17 19:05] saideepchandg commented on #196
@vnbang2003 - This issue is fixed but we have another issue.After I put it on hold, I cannot publish/request again. The 'publish/request' button does nothing.

[2015-11-17 19:09] saideepchandg opened #200 "What is the Max number of particpants ?"
Can we agree on the number of max participants? Currently, it seems to allow 2147483647 - which I feel is quite large number.
![image](https://cloud.githubusercontent.com/assets/11366144/11221696/7dde4aee-8d8c-11e5-800f-04a1cc6f073a.png)

[2015-11-17 19:13] saideepchandg opened #201 "Option to delete Workshop"
As a POC of a college or organization, I can:
- Create a new Workshop
- Hold the workshop
- re-submit / publish the workshop
- Edit the workshop

But I dont see an option to be able to delete workshop. Was this intentional?

If we are planning to delete workshops, than we need to put validations:
- **e.g.** Completed workshops cannot be deleted

[2015-11-17 19:20] saideepchandg opened #202 "Organization | 'Delete' button not working & taking to update page"
I click on the delete button in below screen.
![image](https://cloud.githubusercontent.com/assets/11366144/11221993/05de5118-8d8e-11e5-93d1-1fd643ca56aa.png)
It takes me to this screen instead of deleting.
![image](https://cloud.githubusercontent.com/assets/11366144/11222024/248de11e-8d8e-11e5-8a71-bb407dc6ace9.png)

If we are allowing deletion of Organization, what are the checks before deleting?

[2015-11-17 19:46] staranjeet commented on #170
I have a created a PR from my [master](https://github.com/staranjeet/wye/pull/2).implementing a custom middleware which requires a 403.html.
Right now the if condition part in `mixins.py` is not ok. If the custom 403 is ok, then we can handle that with independent if else. Html may need editing also.

[2015-11-17 22:25] DESHRAJ commented on #180
Ok sure. I will look into all these cases and will resolve this soon. I will ping you @kracekumar if need some help.

[2015-11-18 03:07] staranjeet commented on #194
@saideepchandg : That message will repeat twice in every field. But I have fixed the `expected_date` one.
PR #203

[2015-11-18 04:04] vnbang2003 commented on #194
@staranjeet i think we can remove form.errors  in template workshop_create.html.
field level error  and form.error is duplicating error message.
Can you give a try ?

[2015-11-18 04:09] vnbang2003 commented on #170
Let write custom 403 so we can use it everywhere. Can we write this custom 403 class /fucntion in base app ?

[2015-11-18 04:19] staranjeet commented on #194
Yeah I will have a look.

[2015-11-18 04:20] staranjeet commented on #170
I have written in base app only. This approach is not ok?

[2015-11-18 09:01] vnbang2003 commented on #170
yes

[2015-11-18 10:14] staranjeet commented on #170
so what can be the other way?

[2015-11-18 17:24] #192 closed

[2015-11-18 17:56] staranjeet commented on #194
removing `{{form.errors}}` works. submitting a PR which removes all such case but per app, so that it becomes easy for you to review.

[2015-11-18 18:03] staranjeet commented on #194
submitted PR #205 and #206 . Let me know if this ok, so that I can do it for other apps as well?

[2015-11-19 01:37] vnbang2003 commented on #200
@curioswati Can you please help with this . Max we should allow per workshop is 100.
@kracekumar @kirang89 @theskumar What do you guys think  ?

[2015-11-19 01:39] vnbang2003 commented on #170
I wanted to keep it simple and show proper error message in 403 page.
I think simplest way is define mixin which show error message we define instead of permissionDenied error.
Am thinking while typing so it's just a thought ?

[2015-11-19 01:41] vnbang2003 commented on #201
We don't support delete and it was intentional.
@saideepchandg Can we close the ticket ?

[2015-11-19 01:44] vnbang2003 commented on #197
@staranjeet Can you help with this ?

[2015-11-19 01:52] #181 closed

[2015-11-19 02:02] #201 closed

[2015-11-19 02:02] saideepchandg commented on #201
@vnbang2003 Thanks for confirmation.

[2015-11-19 02:16] vnbang2003 commented on #197
In production the media url is not recognized. Looks like some issue with /media/ url.
GET /media/images/newuser.png HTTP/1.1" 404
@kracekumar @theskumar Any idea ?

[2015-11-19 05:52] skbly7 commented on #197
Happening with me too, even on smaller image.

Are the **permissions** in production server proper ?
Can somebody share screenshot (maybe?) from the core team.

[2015-11-19 10:18] satyaakam opened #208 "Profile pictures showing broken images"
Hi,
profile images after upload are not seen in the profile the path i see is http://beta.pythonexpress.in/media/images/

looks like we are uploading to Heroku directly not storing to file storages like S3,these will be reset after every push to Heroku.

-Satya

[2015-11-19 10:28] vnbang2003 commented on #208
We already have bug for it . https://github.com/pythonindia/wye/issues/197
Marking it as duplicate

[2015-11-19 15:26] vnbang2003 commented on #197
Found that it a nginx configuration issue. @vigneshsarma is help us fix it.

[2015-11-19 19:36] kracekumar commented on #197
![screen shot 2015-11-20 at 1 04 16 am](https://cloud.githubusercontent.com/assets/311929/11281920/ce6c2f8e-8f22-11e5-96c9-de890a6eae25.png)

Top right corner image doesn't load, probably it has `/` at the end.

[2015-11-19 19:40] kirang89 commented on #200
100 sounds good.

[2015-11-19 19:50] vigneshsarma commented on #197
The configuration issue is fixed in pythonindia/magudi@c18c4c8.

**There seems to be two more issue related to this,**

1. `"{{ MEDIA_URL }}{{user.profile.picture}}"` seems to be adding a slash at the end of the url like `.../foo.png/`. This does not work. Refer comment from @kracekumar.

2. The files being uploaded can override existing files. This is because we are using the same name as the one

[2015-11-19 20:10] kracekumar commented on #200
+1 for 100.

On Fri, Nov 20, 2015 at 1:10 AM, Kiran Gangadharan <notifications@github.com

--
Regards
Kracekumar Ramaraj
http://kracekumar.com

[2015-11-20 02:42] theskumar commented on #200
This is case where user is trying to hack into the system, instead of making a genuine workshop with realistic number of participants.

100 seems to me quite limiting, I think it should be 1000 or 2000, instead of 2,147,483,647.

[2015-11-20 02:51] theskumar commented on #197
1. I think the proper way to do is `{{ user.profile.picture.url }}`
2. Use https://pypi.python.org/pypi/django-uuid-upload-path/1.0.0

That said, the profile image should also be resized/cropped to smaller image, https://github.com/WGBH/django-versatileimagefield is a good library we can use.

[2015-11-20 12:30] curioswati commented on #200
Ok, I will do it by evening @vnbang2003.

[2015-11-20 14:31] saideepchandg commented on #197
Guys - I tried today and it still ends in error.
![image](https://cloud.githubusercontent.com/assets/11366144/11302101/5783c4d2-8fc1-11e5-929a-eb17ad083a56.png)

[2015-11-20 14:37] saideepchandg opened #209 "Contact Form - Default 'Your Name' and 'Your email'"
This is not an issue but enhancement. I think it would be good to default name and email if the user is logged in.
Any thoughts on whether we would like to allow the user to update those fields after it defaults?
![image](https://cloud.githubusercontent.com/assets/11366144/11302164/bffab0fc-8fc1-11e5-8d35-667e8ee9d922.png)

[2015-11-20 14:38] saideepchandg commented on #18
@vnbang2003 - Is anyone working on this? It would be good to have a small team who can prepare list of probable questions and then share with the wider team. Your thoughts please.

[2015-11-20 15:25] vigneshsarma commented on #197
@saideepchandg The issue that has been fixed is https://github.com/pythonindia/wye/issues/197#issuecomment-157926277

@vnbang2003 What should be the maximum size we should support?

[2015-11-20 15:59] vnbang2003 commented on #18
I had discuss this with @harisibrahimkv during last F2F meetup . I don't recall those question now.
@harisibrahimkv do you recall ?

[2015-11-20 16:08] harisibrahimkv commented on #18
Oh hmm... Let me try to jot them down:

1. Why are we doing free workshops?
2. Can anyone be a tutor?
3. Is there a selection process?
4. Can anyone attend the workshops?
5. Whom do you conduct workshops for?
6. Can I use this to organize a training in my company?
7. How do I become a tutor?
8. How do I organize a workshop?
9. Is there any kind of fee associated with PythonExpress?
10. What is the

[2015-11-20 16:23] saideepchandg commented on #18
As we have the exhaustive list, we can consider grouping them based on where they can come from.

**_From Tutors_**
- Is physical presence required or I can do remotely via skype, hangouts etc.?
- What is the typical duration of these workshops ?
- I accepted the workshop and now I cant make it? Is it ok to cancel ? How early should I intimate?
- Can I get help in the form of decks or sample code

[2015-11-20 16:28] saideepchandg commented on #197
@vigneshsarma - I was trying to load a file larger than 1MB and getting 413 error. We need to handle that. Either give a message that only 1MB is allowed or resize as suggested by @theskumar.
I would prefer option 2 of resizing.

[2015-11-21 04:59] #200 closed

[2015-11-21 05:05] vnbang2003 commented on #18
Looks very good set of questions

[2015-11-21 05:08] vnbang2003 commented on #197
I think we can limit it to 30 KB. @theskumar @vigneshsarma @saideepchandg @kirang89 @kracekumar What do you guys think ?

@staranjeet Can you look into this ? with Library what @theskumar Suggested. Shall i assign this PR to you ?

[2015-11-21 05:11] vnbang2003 commented on #209
@saideepchandg Let keep it simple but looks good idea.
We can plan it for v0.3 this

[2015-11-21 05:12] #82 closed

[2015-11-21 05:13] #17 closed

[2015-11-21 05:14] vnbang2003 commented on #147
@ultimatecoder Can you help us with this ?

[2015-11-21 13:19] saideepchandg commented on #209
@vnbang2003 - Agreed. This is not priority.

[2015-11-21 16:28] kracekumar commented on #197
1 MB is my choice.

On Sat, Nov 21, 2015 at 10:38 AM, Vijay <notifications@github.com> wrote:

--
Regards
Kracekumar Ramaraj
http://kracekumar.com

[2015-11-22 04:12] vnbang2003 commented on #197
@vigneshsarma @kracekumar for 1000 user it will almost 1 GB . Do we have enough space on server ?

[2015-11-22 04:18] bhanuvrat commented on #202
@saideepchandg
soft delete with flipping the `is_active` flag would be more appropriate.

Imagine a begrudged co-ordinator maliciously purging the records of all workshops held at their former place of work.

[2015-11-22 05:04] kirang89 commented on #197
I'm not sure if 1 MB is big enough a size for a profile image. It'd better if keep the limit to, say 5-10 MB or so, and internally resize/compress the image to keep it within 1 MB.

[2015-11-22 20:20] staranjeet commented on #197
I was a little busy this weekend. I will look into this today and get back then

[2015-11-23 06:31] vigneshstack opened #211 "Inviting colleges from pythonexpress"
Option to invite college/organizations via email from pythonexpress

[2015-11-23 06:47] kracekumar commented on #197
+1 for resizing the image. We have 12G in our machine. Other options are
gravatar image and use cdn to store images.

On Mon, Nov 23, 2015 at 1:50 AM, Taranjeet Singh <notifications@github.com>
wrote:

--
Regards
Kracekumar Ramaraj
http://kracekumar.com

[2015-11-23 16:43] vnbang2003 commented on #197
cdn slow so am -1

[2015-11-23 16:53] staranjeet commented on #197
Regarding 413, we should set the following in nginx conf
`client_max_body_size 2M`
or if we want the user to upload image of any size, we can disable the check by setting it to zero as
`client_max_body_size 0`
and then reducing the size of image at our end.
I will prefer that we should keep a limit.

We can also enforce the validation in django by overriding clean. At nginx, it can be 10/5 Mb and

[2015-11-23 16:55] vnbang2003 commented on #197
@staranjeet Can we take care of backend. @vigneshsarma Can help with Nginx configuration

[2015-11-23 16:57] staranjeet commented on #197
Ok, so let me do some more research on backend part so that I can select the library.

[2015-11-24 17:18] staranjeet commented on #197
We can use `PIL` and then resize the image as per this [link](https://github.com/tBaxter/tango-shared-core/blob/master/tango_shared/models.py#L208). If this is ok, then I can work on this. Also the reduced  size needs to be discussed upon.

[2015-11-25 03:56] vnbang2003 commented on #197
i had faced PIL issue with Virtualenv . If our production is not having this problem we should be fine to use PIL. Did you take a look on @theskumar suggestion for libraries ?

[2015-11-25 04:05] vigneshsarma commented on #197
Why not consider gravatar(https://en.gravatar.com/support/what-is-gravatar/)
as @kracekumar was suggesting?

On Wed, Nov 25, 2015 at 9:26 AM, Vijay <notifications@github.com> wrote:

[2015-11-25 04:09] vnbang2003 commented on #197
@vigneshsarma Thanks i just forget about this.

[2015-11-25 08:53] vnbang2003 opened #212 "Added tutor in CC once workshop is accepted"
We should show profile pic of the tutor in the twitter message once tutor accept any workshop.

@harisibrahimkv @kracekumar @theskumar @kirang89  What do you guys think ?

[2015-11-25 08:54] harisibrahimkv commented on #212
Sounds too cheesy to me. Just tagging his handle should be enough.

[2015-11-25 12:40] kracekumar commented on #212
I agree with Haris.

On Wed, Nov 25, 2015 at 2:24 PM, Haris Ibrahim K. V. <
notifications@github.com> wrote:

--
Regards
Kracekumar Ramaraj
http://kracekumar.com

[2015-11-26 06:30] kirang89 commented on #212
I agree with Haris, too.

[2015-12-01 11:53] shankisg commented on #162
Started working on it

[2015-12-02 04:54] vnbang2003 opened #213 "Refactor testing code"
Refactor testing code
@theskumar @kracekumar i did some random coding with test coverage to increase percentage but i am sure there is lot of place code can be improvised.
As am not very good at py.test Let me know if you have any recommended way to handle duplication of code.

[2015-12-02 05:03] theskumar commented on #213
There is nothing fancy about pytest as such. If you like you can still write normal Django tests. That said, there are few advantages of pytest.

- You can write nomal functions instead creating a class everytime.
- make use abstracted fixtures like `browser` (See `fixtures.py`) in an easy way.

There are no rules, just test what need to be tested not more not less. Keep it intuitive for the perso

[2015-12-02 06:30] aniketmaithani opened #214 "Failed building wheel for Pillow"
Though this is not related to `wye` code base in particular. But one of the requirements `Pillow` library gives me this error while I try to install the requirements.

[code]

Can anybody help me out with this??

My system configuration :
1. Ubuntu-14.04 LTS
Python Version 3.x

[2015-12-02 06:34] harisibrahimkv commented on #214
@aniketmaithani IIRC, there are a few system packages that you need to install for jpeg support. Unless you use a certain flag to exclude that feature from Pillow during compilation, it will spit this error out. Didn't the traceback show which package was missing?

[2015-12-02 06:59] aniketmaithani commented on #214
@harisibrahimkv
[code]

[2015-12-02 07:00] harisibrahimkv commented on #214
@aniketmaithani Try installing `sudo apt-get install libjpeg-dev`and then Pillow again.

[2015-12-02 07:04] aniketmaithani commented on #214
@harisibrahimkv thanks. Solved! Closing the issue

[2015-12-02 07:04] #214 closed

[2015-12-02 08:39] aniketmaithani commented on #152
@theskumar correct me if I am wrong. You mean to say we need to mock the whole `flow` of the `signup` process upto the point where user signs in once his email id is confirmed and he can login using the chosen email and password?

[2015-12-02 10:41] vnbang2003 opened #216 "Upgrade to Django version 1.9 and python 3.5"
We need to migrate to new version of Django 1.9.
@vigneshsarma Can you confirm  we are using python3.4 or 3.5 on production.

[2015-12-02 14:17] vigneshsarma commented on #216
We are using `python 2.7.6`. The machine has python 3.4.0. I can switch to that if required.

So just tell me which version of python you need and i can figure out how to set it up.

[2015-12-03 04:13] aniketmaithani commented on #152
#217 does this.

[2015-12-03 05:09] theskumar commented on #152
@aniketmaithani yes.

[2015-12-03 05:10] aniketmaithani commented on #152
Though it is merged can you still look at PR #217 and let me know if there are any upgrades/changes you want? as I am thinking of writing a test-case for "REQUIRED" fields also

[2015-12-03 13:55] vnbang2003 commented on #216
Are not we using python3 for pythonexpress ?

[2015-12-03 13:57] vigneshsarma commented on #216
No.

[2015-12-03 13:59] vnbang2003 commented on #216
I was under impression we are using python3.4 and django 1.8.
Can we migrate to python3.5 as first steps ?

[2015-12-03 14:33] vigneshsarma commented on #216
Will try to set it up by sunday.

[2015-12-05 18:24] vigneshsarma commented on #216
I am facing https://github.com/mozilla/unicode-slugify/issues/16 issue with python3.4 and python3.5.

Trying to find the least disruptive solution.

[2015-12-11 09:33] curioswati opened #218 "Render the choice list for regional lead according to the selected location."
The dropdown should only contain the names of the user that belongs to the selected location. So that the error in the picture below does not occur.

![screenshot from 2015-12-11 14 42 10](https://cloud.githubusercontent.com/assets/8040201/11739981/75ec84b8-a015-11e5-9ae9-38df379acd22.png)

[2015-12-12 02:21] vnbang2003 commented on #218
Presently we show all user and location in the system here.
@curioswati you are asking to apply ajax call to display only those user who have chosen selected location as the present location right ?

[2015-12-12 02:22] vnbang2003 commented on #212
@harisibrahimkv Can you help us with this?

[2015-12-12 02:22] #98 closed

[2015-12-12 02:23] #124 closed

[2015-12-12 02:23] #166 closed

[2015-12-12 02:24] vnbang2003 commented on #171
@curioswati Can you help us with this

[2015-12-12 02:25] #213 closed

[2015-12-12 02:28] vnbang2003 commented on #147
@staranjeet Can you help us with this ?

[2015-12-12 02:29] #152 closed

[2015-12-12 02:31] staranjeet commented on #147
Ok, I will have a look then and  get back on this.

[2015-12-12 02:33] vnbang2003 opened #219 "Workshop details page should be publicly viewable"
As a non-autneticated user i should be allowed to view the workshop details with all the button deactivated.

[2015-12-12 02:45] staranjeet commented on #147
As @theskumar suggested above, we can use `versatileimagefield` to serve images at different resolutions. Now what should be the size for the resized image which we are going to save?

[2015-12-12 03:20] curioswati commented on #218
yes @vnbang2003.

[2015-12-12 03:21] curioswati commented on #171
okay, I am doing it.

[2015-12-12 03:32] curioswati commented on #171
How the regional lead is revoked? Because there is no revoke position button right now.

[2015-12-12 04:57] vnbang2003 commented on #191
open issue #219 hence closing this

[2015-12-12 04:57] #191 closed

[2015-12-12 06:41] #188 closed

[2015-12-12 06:43] vnbang2003 commented on #182
@vigneshsarma Can you help me get dump from old server so i can start plan for migrate to new server ?

[2015-12-12 06:43] vnbang2003 commented on #219
@curioswati Can you help us with this?

[2015-12-12 06:44] vnbang2003 commented on #162
@shankisg Let me know if any info is required on this

[2015-12-12 06:45] vnbang2003 commented on #170
@shankisg Can you look into this also ?

[2015-12-12 06:59] shankisg commented on #170
@vnbang2003 sure

[2015-12-12 06:59] vnbang2003 commented on #18
@vanishan @kracekumar Can you help with FAQ page ?

[2015-12-12 06:59] shankisg commented on #162
Ok

[2015-12-12 07:00] #158 closed

[2015-12-12 09:49] curioswati commented on #219
@vnbang2003 , that is a user without logging in should be able to see the details list? But how would I do that? as right now the workshop tab ask for authentication.

[2015-12-12 10:12] vigneshsarma commented on #182
@vnbang2003 have mailed you the backup.

[2015-12-12 10:46] vnbang2003 commented on #211
Regional Lead can invite college by fill Organization details and add email id for the college representative.
Once lead create organisation email needs to trigger to college poc's email
1) To confirm and reset password
2) Provide details on new college addition to system.

[2015-12-12 11:13] vnbang2003 commented on #219
@curioswati I fixed it . Take a look at commit https://github.com/pythonindia/wye/commit/d2efb8dec3ed429f90857bbd5ec55bedf6c12662

[2015-12-12 11:13] #219 closed

[2015-12-12 11:15] vnbang2003 commented on #218
we are using models forms. Not sure if we can apply ajax on it.
Looks like we need to make it java script page and i am not expert with java script.
@ultimatecoder Can you help with JavaScript ?

[2015-12-12 11:21] vnbang2003 commented on #171
A regional lead is person who usertype is 'lead'. If we removed this type from user profile's usertype's .
Basically we need to user profile.usertype.remove('poc') option. This will make it normal user.
Is that clear ?

[2015-12-12 11:23] vnbang2003 commented on #147
@staranjeet  let make it 1 MB per image.
Please do even handle below usecase
 In case want to update existing profile we need to remove the old one from the filesystem and add new one

[2015-12-12 11:25] vnbang2003 commented on #182
@vigneshsarma Thanks i have received. Let me see if we can migrate all the data.
At the same time can we disable beta.pythonexpress.in

[2015-12-12 11:36] vnbang2003 commented on #19
This been taken care in contact us page hence closing it.

[2015-12-12 11:36] #19 closed

[2015-12-12 11:37] curioswati commented on #218
@vnbang2003, I think we can use ajax. I can try.

[2015-12-12 11:39] #183 closed

[2015-12-12 11:41] vnbang2003 commented on #130
He can use contact us form to reach out to regional lead and get it fixed.
This will help us better understand things

[2015-12-12 12:59] vnbang2003 commented on #218
@curioswati please give a try.

[2015-12-12 14:41] vigneshsarma commented on #182
Since we setup ssl, `beta` is gone.

[2015-12-12 17:57] staranjeet commented on #147
I have created a PR with my [master](https://github.com/staranjeet/wye/pull/3). This does not handles the case of update.

[2015-12-12 18:44] shankisg opened #220 "Cannot resolve keyword 'user' into field. Choices are: id, leads, location, location_id"
In workshop views file the get_context_data method in WorkshopList view contain following query below. But the RegionalLead model does have **user** attribute, its should **leads** in the query.

    regions = RegionalLead.objects.filter(user=self.request.user)

I will fix this issue and add PR for it.

[2015-12-12 18:58] shankisg commented on #162
@vnbang2003 where you are planning to provide assign option to regional leads. As current create/edit workshop form doesn't have tutors select field .

[2015-12-13 12:14] shankisg commented on #170
How about using django message framework with extra_tags=workshop_message, to display the message.

[2015-12-13 16:02] vnbang2003 commented on #147
@theskumar Can you please review it ?

[2015-12-13 16:05] vnbang2003 commented on #162
Yes we are planning to provide assign option to tutor(user)

[2015-12-13 16:08] vnbang2003 commented on #170
@shankisg I think it better to display user friendly message.

[2015-12-13 17:09] theskumar commented on #147
@vnbang2003 For issue with storage of original image on server, I would suggest to use client side resizing before upload, apart from resizing on the server side. User should be able to select a square crop area.

For server side deletion of old photo, just use the same file name for every upload of the profile image for a given person, make use of a unique identifier of a user. e.g. `id` [Since a

[2015-12-14 03:03] shankisg commented on #162
How you are planning to provide assign option,

- whether it would be inside create/update workshop form
- Or somewhere you are planning to give dropdown to select tutor.

According to that I will plan the implementation.

[2015-12-14 04:03] vnbang2003 commented on #162
@shankisg I haven't given thought on this yet on how UI will look. Can you come up with UI so we can decide after looking in UI.

[2015-12-14 14:21] theskumar commented on #147
@staranjeet Forget about my implementation notes, let's just use https://github.com/un1t/django-resized as drop in replacement for ImageField

[2015-12-15 13:15] curioswati commented on #218
@vnbang2003 , I have implemented the ajax and resolved the problem but there's some another problem. On submitting the form, the selected user does not get assigned as the regional lead. There is an entry on the region page but it shows no of leads=0. This problem existed before implementing ajax. So should I resolve this too in this issue or should submit PR and create another issue for that?

[2015-12-15 15:36] vnbang2003 commented on #218
@curioswati  i saw this problem yesterday when assign user as regional lead. it will be great if you fix that also.

[2015-12-15 15:58] vnbang2003 commented on #218
@curioswati With pull request please make sure that test coverage doesn't go down. If possible add test case also as we need to reach to 90+ percentage .

[2015-12-16 12:03] curioswati commented on #218
@vnbang2003, could you please help with tests? I haven't write any before. And I am not able to understand the one's already written. They are each for one app. Now should I write one like them and create a regional lead in the way for exa. an organisation is created in the existing test? Or should I go for assertion based test for the methods I added. Or something else, please help.

[2015-12-17 09:03] vnbang2003 commented on #218
@curioswati Test is very simple . Are you able to run py.test on your local machine ? If yes you would have seen once we run command py.test it open browser and fill data which we have passed in script.
Let take once emample : Organisation functional test(https://github.com/pythonindia/wye/blob/master/tests/functional/test_organsisation_flow.py)
From line 6-25 we are creating user and user type 'p

[2015-12-17 09:04] vnbang2003 opened #222 "As admin user i should be able to see all regions info"
As admin user i should be able to see all regions info

[2015-12-18 19:25] vnbang2003 opened #223 "Remainder to Presenter/Requester"
We need to add cron job to send remainder one week before the workshop day to presenter and requester on the workshop schedule plan.
By this way it will help presenter and requester to pull back if they have changed the plans or forget to plan things .

[2015-12-18 19:44] kracekumar commented on #223
+1.

On Sat, Dec 19, 2015 at 12:55 AM, Vijay <notifications@github.com> wrote:

--
Regards
Kracekumar Ramaraj
http://kracekumar.com

[2015-12-19 02:54] shankisg commented on #223
+1, may be we can use kronos to manage cron jobs.
On 19 Dec 2015 01:14, "Kracekumar Ramaraju" <notifications@github.com>
wrote:

[2015-12-19 06:10] shubhamgupta2021 opened #224 "Tutor able to give a feedback even if it is not related to a workshop"
User type tutor is able to see the workshops and also able to see the share feedback button, even if he is not related to that organization.

[2015-12-19 06:41] shankisg commented on #224
Yes, we should not show the share feedback button to the users, who are not associated with the workshop.

[2015-12-19 07:09] shubhamgupta2021 commented on #224
I am working on it.

[2015-12-19 08:25] HappinesReloded opened #225 "Mandatory fields can be shown as asterisk while updating profile"
Right now if user is not selecting any mandatory field then while submitting ,user will see what and all mandatory fields are.This can be informed to user at earlier stage while updating.

[2015-12-19 08:27] HappinesReloded opened #226 "Validation Check can be included for Mobile Number field on Sign Up page[Enhancement]"
Right Now string values for mobile number getting accepted.

[2015-12-19 08:33] stuckinfront opened #228 "Delhi is displayed as "Dehli" under interested locations on update profile page."

[2015-12-19 08:37] shubhamgupta2021 opened #229 "Workshop list should be sorted based on expected date"

[2015-12-19 08:40] mukeshthawani commented on #157
I am working on this.

[2015-12-19 08:49] iAmMrinal0 opened #230 "When creating new Regional Lead, not supplying any values throw a "KeyError""
There is no check for both parameters existence, "location" and "leads", which results in a Key Error.

[2015-12-19 08:51] shankisg commented on #230
@iAmMrinal0 Could please more information to this issue.

[2015-12-19 09:07] iAmMrinal0 commented on #230
When creating a new Regional Lead if the values for "Location" and "Leads" are not selected, it throws a "KeyError." There is no check to see if they are empty or not. Screenshots:
![2015-12-19-14 32 15_1366x768_scrot](https://cloud.githubusercontent.com/assets/890062/11912329/e3312116-a65d-11e5-8bfb-bb7a3e1fc7ab.png)
![2015-12-19-14 34 34_1366x768_scrot](https://cloud.githubusercontent.com/assets

[2015-12-19 09:23] vnbang2003 commented on #230
@iAmMrinal0 You mean the error message is not properly displayed ? if yes please go ahead and send pull request.

[2015-12-19 09:24] vnbang2003 commented on #228
Fixed thanks

[2015-12-19 09:24] #228 closed

[2015-12-19 09:26] vnbang2003 commented on #229
I think it fine to show as they is no harm in showing this.
Is there anything i am missing ?

[2015-12-19 09:43] shubhamgupta2021 commented on #229
Because of previous workshops, it is difficult to find the new and upcoming workshops

[2015-12-19 09:43] shubhamgupta2021 commented on #229
Then we have to sort them according to there expected date

[2015-12-19 09:45] vnbang2003 commented on #229
:+1:

[2015-12-19 09:49] shubhamgupta2021 commented on #229
should I create a new issue for that?

[2015-12-19 09:51] vnbang2003 commented on #229
no update this pr itself pls

[2015-12-19 10:11] shubhamgupta2021 commented on #224
@vnbang2003, Can I mark it fixed?

[2015-12-19 10:11] vnbang2003 commented on #224
Can we check if build and test coverage is fine then mark as fix.

[2015-12-19 10:12] shubhamgupta2021 opened #232 "Unable to move on hold workshop back to requested or active"
In the workshop list, if organiser marked any workshop on hold, he can't move that to requested or active state with the Publish/Request button.

[2015-12-19 10:14] shubhamgupta2021 commented on #224
OK cool.

[2015-12-19 10:14] vnbang2003 commented on #232
@shankisg can you please verify it. I have test case it allow me to publish/Request .

[2015-12-20 13:58] curioswati commented on #218
@vnbang2003 I was trying the above. But since the region page can only be seen by admin, I need to set the is_staff attribute for the newly created user. How can I do that in test?

[2015-12-20 16:44] vnbang2003 commented on #218
@curioswati When you call "user = f.create_user(is_staff=True)" will create user with admin right.
Even once you complete email confirmation you can set is_staff=True for user object like it been in done at line 22-24

[2015-12-22 09:56] curioswati commented on #218
@vnbang2003 , I did the above. The test is going fine but at the point where ajax request is made, it does not work. the leads feild is empty after selecting location. I have used same code from test_org_flow to select field for location. But after that the leads field should have name of users where it does not. Do I need to do something else or the tests itself can make ajax request?

[2015-12-22 11:27] curioswati commented on #218
@vnbang2003 , sorry, it was not the problem. I didn't create a profile factory that's why it was breaking.

[2015-12-22 15:29] shubhamgupta2021 commented on #101
@vnbang2003, Instead of deleting the organization I will suggest, user can leave the organization and if the user is admin/owner of the organization, he can pass the ownership to another user in the organization

[2015-12-23 04:24] vnbang2003 commented on #101
By delete we mean disable

[2015-12-25 09:57] #230 closed

[2015-12-25 09:58] #218 closed

[2015-12-25 10:02] vnbang2003 commented on #147
@staranjeet Any update on this PR please ?

[2015-12-25 11:16] shubhamgupta2021 commented on #229
@vnbang2003 , can you test if issue is resolved?

[2015-12-25 11:18] shubhamgupta2021 commented on #224
@vnbang2003, Can you check the test coveraga and build.

[2015-12-25 11:44] staranjeet commented on #147
[django-resized](https://github.com/un1t/django-resized) officially lists support upto Django 1.7. Also it was updated 10 months back. Should I use that or continue with my previous approach?

[2015-12-25 13:27] shubhamgupta2021 opened #236 "Workshop once rejected moves to declined"
If any workshop is rejected after accepting by a tutor it moves to declined, which can't be accepted by another user.

[2015-12-25 16:42] shubhamgupta2021 commented on #232
@vnbang2003, @shankisg I am working on it. I have done all the changes and able to see it in the UI. But when I am testing the same thing using py.test it is not working, it seems that it is using the previous code.

[2015-12-26 04:59] vnbang2003 commented on #147
@staranjeet Let use the update version library and fix the PR.

[2015-12-26 05:03] vnbang2003 commented on #229
it work on my local hence closing it

[2015-12-26 05:03] #229 closed

[2015-12-26 05:56] vnbang2003 commented on #168
@curioswati Can you help us with this ?

[2015-12-26 05:59] vnbang2003 commented on #157
@mukeshthawani Are you working on it. If yes will assign it to you.
Please take a look at testcase coverage also

[2015-12-26 12:54] shubhamgupta2021 commented on #236
@vnbang2003, @shankisg Is the above behaviour valid?

[2015-12-26 13:10] vnbang2003 commented on #236
@shubhamgupta2021 I think workshop if rejected by tutor should go to "Requested" status but if Organizer reject it should go to Decline status

[2015-12-26 13:15] shubhamgupta2021 commented on #236
@vnbang2003, As far as I understood from the code, right now organizer don't have any method to decline the workshop and if tutor reject it, it will go into declined state instead of requested.

[2015-12-26 14:22] #101 closed

[2015-12-26 16:20] mukeshthawani commented on #157
Yeah, I am working on this.

[2015-12-26 19:16] shubhamgupta2021 opened #239 "Organisations not moved to disabled, even if I am the last user"
If I am the only user in an organisation and I delete it, first I see a 404 as I am not redirected to organization list and second in the organisation list I still see the organisation as I doesn't move to deactivated

[2015-12-26 19:37] shubhamgupta2021 commented on #236
Sure. I will work on this bug from tomorrow.

[2015-12-27 07:37] curioswati commented on #168
Okay @vnbang2003 . I am doing it.

[2015-12-27 08:11] curioswati commented on #168
@vnbang2003, as per my understanding, I am proposing the following way to fulfill the need:
I can either add a button like "Add members" on the org detail page that will take the user to another page having a form with two fields as:
"add existing member" : This will be a drop down containing names of the users that belong to the location of the org.
"add new member": A text box which will accept

[2015-12-27 08:21] vnbang2003 commented on #168
@curioswati Good points. Let add new page as you suggested to keep it clean.
1. In existing member case, the email is sent to the member who is adding a member, as the email template suggests. Should we not send an email to the user being added?
---  We should send to both the parties, Regional lead on new member addition.
2. How would I make sure that the new member has signed up so that the memb

[2015-12-28 02:42] #179 closed

[2015-12-28 02:43] vnbang2003 commented on #178
@DESHRAJ Are you working on it ?

[2015-12-28 02:43] vnbang2003 commented on #180
@DESHRAJ Are you working on it

[2015-12-28 02:45] vnbang2003 commented on #196
I guess both the issue pointed are fixed hence closing this

[2015-12-28 02:46] #222 closed

[2015-12-28 02:47] vnbang2003 commented on #202
Pull request is out hence closing it

[2015-12-28 02:47] #202 closed

[2015-12-28 02:49] vnbang2003 commented on #170
@shankisg Can you take it up as priority as next issue as i have been received couple of email on bug.

[2015-12-28 02:50] vnbang2003 commented on #162
@shankisg Are you working on it ? If yes assign to your self please

[2015-12-28 03:56] curioswati commented on #168
@vnbang2003 , yes I got it. But the second answer is a bit confusing. Maybe I'll first reach that step and then try to clarify.

[2015-12-28 04:02] vnbang2003 commented on #168
Second point is invite user by email id. If you look at our testcase https://github.com/pythonindia/wye/blob/master/tests/functional/test_organsisation_flow.py
We add user and request them to click on confirm link .
That bring to next problem once user click on confirm link we should force him to reset password a bit complex flow. We should probably open new PR and work on it.

[2015-12-28 07:09] shankisg commented on #162
I do not have assign permission

On Mon, Dec 28, 2015 at 8:20 AM, Vijay <notifications@github.com> wrote:

[2015-12-28 09:04] vnbang2003 commented on #162
You should have now.

[2015-12-28 14:28] shubhamgupta2021 commented on #239
@vnbang2003, please have a look

[2015-12-28 16:19] vnbang2003 commented on #239
@shubhamgupta2021 What do you want me to look please ?

[2015-12-28 16:35] shubhamgupta2021 commented on #239
@vnbang2003 Are you able to reproduce that bug in your local environment?

[2015-12-28 16:51] vnbang2003 commented on #239
I haven't tested code will probably do over weekend. I see you sent a pull request on top of my fix.
Looks like test case doesn't cover this use case. Do you mind to add same  ?

[2015-12-29 10:56] DESHRAJ commented on #178
@vnbang2003 I am not working on it currently.

[2015-12-29 10:56] DESHRAJ commented on #180
@vnbang2003 I am not working on it.

[2016-01-01 13:53] BeingAnuj commented on #236
@shubhamgupta2021 , I would like to work on this issue .

[2016-01-02 06:08] vnbang2003 commented on #236
@shubhamgupta2021 Can you confirm @Anuj8826 if you have started work on this.

[2016-01-02 06:27] Anuj8826 commented on #236
@shubhamgupta2021 actually i just wanted to know your progress on this issue
So if u have done a lot i may take any other issue . I have just joined this project and have been studying it

[2016-01-02 10:29] shubhamgupta2021 commented on #236
@Anuj8826  you can work on it.

[2016-01-02 18:06] stalwartrishabh commented on #226
this issue is resolved.

[2016-01-03 06:53] #226 closed

[2016-01-03 10:48] bhanuvrat opened #241 "make dev setup easier"
having a simple `vagrant up` or `docker-compose up` do the initial setup will lower the entry barrier for new comers.

[2016-01-03 11:51] vnbang2003 commented on #147
@staranjeet Let start pushing a bit we need to release version 0.2 by Jan 25th.

[2016-01-03 11:52] vnbang2003 commented on #162
Let start pushing a bit we need to release version 0.2 by Jan 25th.

[2016-01-03 11:53] vnbang2003 commented on #171
@curioswati You are working on it right ? I will assign to you.

[2016-01-03 11:56] vnbang2003 commented on #241
@bhanuvrat Can you help us with this ?

[2016-01-03 12:01] bhanuvrat commented on #241
@vnbang2003
actually, one of my interns shall be taking it up.
I created an issue to contain the discussion in this thread. :)

[2016-01-03 12:13] curioswati commented on #171
@vnbang2003 okay.

[2016-01-03 12:23] vnbang2003 commented on #239
@shubhamgupta2021 Found minor bug and have fixed it . Should be working with my next push.

[2016-01-03 12:23] #239 closed

[2016-01-03 12:26] curioswati commented on #171
@vnbang2003 but how do you remove a person from the position of lead of a region? Because to remove the usertype I need to check on which event should I call the revoking action.

[2016-01-03 12:33] vnbang2003 commented on #171
@curioswati  I think we should write post save signal for regional lead page which will check  if user with role regional lead are assign to any region . In case of he/she is not assign to any region we need to revoke user type 'lead' from his profile.
Is this making sense now ?

[2016-01-03 12:47] curioswati commented on #171
Okay @vnbang2003 , that is when ever we create new regional lead we check for existing whether they still are leads or not, did I get it right?

[2016-01-03 13:50] staranjeet commented on #147
I will definitely look into this week.

[2016-01-03 13:52] vnbang2003 commented on #171
When ever we create/update any regional lead we check for existing of lead and region if lead is not assigned to any region revoke his permissions.

[2016-01-05 09:36] curioswati commented on #171
@vnbang2003, you say that before removing a usertype "lead" from a user, we need to check whether she/he is playing lead's role in other region or not? but how is that possible that one user can play lead for more than one region. As we have made sure in regional lead selection that only those people belonging to a location will be made regional leads for that particular location and one person ca

[2016-01-05 15:37] vnbang2003 commented on #171
Good Point . In this case our work is simple in we remove user from regional lead position remove usertype 'lead'.

[2016-01-05 21:13] ashu94 commented on #225
resolved

[2016-01-08 09:41] kracekumar opened #242 "Display day in workshop details page"
While displaying the date of the workshop like `28, Jan 2015` in detail page https://pythonexpress.in/workshop/12/, display the day like `28, Jan 2015 (Thursday)`. This will be convenient for interested tutor to quickly consider the option.

[2016-01-08 09:53] shankisg commented on #242
+1

[2016-01-08 11:51] curioswati commented on #171
@vnbang2003 then the same question arise, where are you removing a regional lead? As the regions page only list regional leads and lead detail page will bring to the select lead form. Should I add some "remove lead" button to the interface?

[2016-01-08 14:12] vnbang2003 commented on #171
@curioswati We update regional lead and it multi select  in drop down page. if you go there and unselected it it will work as remove.
Once you do that we need to check if regional lead is assign to any region if no we need to revoke his user type to disable his access and don't send email that come to that region.

[2016-01-08 16:24] shankisg opened #243 "Workshop details page shows is active true in table"
Workshop details page show **is active true** in table, Is it expected?
https://pythonexpress.in/workshop/13/

[2016-01-09 09:24] shankisg commented on #162
Ok,will add PR in next few days

[2016-01-10 03:48] shankisg commented on #162
@vnbang2003 what about providing a multiselect field for selecting presenter in workshop edit form, this field will be displayed for only usertype regional lead.

Your thought?

[2016-01-10 15:20] vnbang2003 commented on #162
@shankisg Over the period once user base grow multiselect with be tough to manage.

[2016-01-11 04:10] shankisg commented on #162
@vnbang2003 without having a multiselect how you can allow Regional lead to select multiple tutors.

May be later we can add search capability to multiselect.

[2016-01-11 04:12] vnbang2003 commented on #162
@shankisg  Sounds good

[2016-01-13 10:05] SudShekhar opened #245 "Admin user is created but unverified"
I tried setting up the codebase with the latest code and created the admin user.
However, on trying to login (using admin) I see the email verification required screen.

I was able to login after changing the verified variable to true in the postgres *account_emailaddress* table.

This should be handled by the automatically by the startup script, I think. Any comments?

[2016-01-14 04:50] vnbang2003 commented on #245
Good point .We need to alter sample_data script to make email verified = True.
https://github.com/pythonindia/wye/blob/master/wye/base/management/commands/sample_data.py

[2016-01-14 08:39] #245 closed

[2016-01-15 06:28] Anuj8826 commented on #241
wye_automation : https://github.com/Anuj8826/wye_automation

[2016-01-16 09:27] vsham20 commented on #242
I am working on this bug.

[2016-01-16 10:51] curioswati commented on #168
@vnbang2003 , I am done with adding existing member case but I am stuck with the new user option. As It is still not clear how the flow goes with that. Could you please help. After filling the form, we will send mail to new member for confirmation. Now when it's done. How do I check that user has accepted the invitation? So that I can add her/him to organization and send the adder and regional lea

[2016-01-16 17:12] #171 closed

[2016-01-17 09:50] vnbang2003 commented on #168
This is what is running in mind right now
1) Existing user invite user to join (We ask email, full name) this will work like signup page and make user inactive.
2) We create invited user profile and add him to organisation location and add him there.
3) Once user confirm the email confimraiton link we make him active and ask them to set password as we would have created his profile.
4) Next link o

[2016-01-21 03:15] #208 closed

[2016-01-21 03:17] vnbang2003 commented on #157
I  guess this bug is fixed . @curioswati Can you confirm please ?

[2016-01-25 09:24] curioswati commented on #157
yes @vnbang2003 It was fixed in #171 .

[2016-02-07 08:36] curioswati commented on #168
Okay @vnbang2003 , got it. Summarizing:
So first I will send a mail to user being added with a link to signup page. Also create the user's profile setting her/him inactive and add her/him to organisation as well. When the user accepts the invitation and confirms subscription, It should be set active.

[2016-02-12 12:33] ChillarAnand opened #250 "Auto update year in footer"
![t](https://cloud.githubusercontent.com/assets/4463796/13006988/edf6120c-d1b2-11e5-9e55-e11b89dba6bd.png)

[2016-02-13 02:52] shankisg commented on #250
+1

[2016-02-13 15:45] ChillarAnand opened #251 "PE logo missing in emails"
![i](https://cloud.githubusercontent.com/assets/4463796/13028505/f47b0044-d296-11e5-8941-c33d5bfded35.png)

[2016-02-14 16:31] arunta007 opened #252 "Website Revamp - OId Workshop Data Missing - Migration Possible?"
While the website was revamped, the old data of the workshops conducted is missing. I have created an account with the same old email ID, is there a way to migrate the old content to the present one.

[2016-02-14 17:10] ChillarAnand commented on #252
Yes, old database need  to be merged  with  new  database.

[2016-02-23 17:04] arunta007 opened #253 "'Other' in the Org/Tutor location list"
Can we consider adding 'Other' to the Organization/tutor location list?

[2016-02-27 09:55] shankisg opened #254 "Exception handling not done in Profile details."
It is suggested to wrap the any **get** models query inside try except block . This line **user_profile = models.Profile.objects.get(user__id=self.request.user.id)** in get_context_data method of ProfileView class is throwing exception in production.

One more point, why we are comparing user id rather we can compare user objects in Proffile query. Example below

[code]
Commit # cba45749767c580b5f

[2016-02-27 10:10] shankisg commented on #236
@shubhamgupta2021 & @Anuj8826 could please share update on this issue, it's been long time now.

[2016-02-27 10:13] shankisg commented on #225
Closing this issue as the fix is merged.

[2016-02-27 10:13] #225 closed

[2016-02-27 10:14] shankisg commented on #224
@shubhamgupta2021 any update?

[2016-02-27 11:26] shubhamgupta2021 commented on #224
@shankisg  My [pull request](https://github.com/pythonindia/wye/pull/227) is already merged. You guys need to check if it is working or not.

[2016-02-27 11:28] shubhamgupta2021 commented on #236
@shankisg: @Anuj8826 wants to work on it, so passed it to him.

[2016-02-27 15:55] ChillarAnand opened #255 "Show topic in workshops page"
![pe](https://cloud.githubusercontent.com/assets/4463796/13373842/637a97fa-dd98-11e5-91eb-db706f8792cb.png)

It is better to  show topic to  presenter before  he/she accepts the  workshop.

[2016-03-01 05:42] vnbang2003 opened #256 "Migrate ClassBased View to Function based View"
We need to slowly start migrating from ClassBased View to Function based view to have more controls over exception handling.
Priority
1) Workshop
2) Profile
3) Organisation
4) Others

[2016-03-01 05:44] vnbang2003 commented on #256
@shankisg Can you help us migrate for workshop section ?
@curioswati Can you help us migrate for organisation module ?
@staranjeet Can you help us migrate for profile module ?

[2016-03-01 05:44] vnbang2003 commented on #253
@arunta007 Can you brief a bit more what the use case of others ?

[2016-03-01 05:45] vnbang2003 commented on #251
@ChillarAnand Where do you see this ?

[2016-03-01 05:45] vnbang2003 commented on #252
Marking duplicate #182

[2016-03-01 05:45] #252 closed

[2016-03-01 05:47] vnbang2003 commented on #243
@shankisg We need to display on workshop with are active, Deactivated workshop is equal to delete .
Marking it as not a bug.

[2016-03-01 05:47] #243 closed

[2016-03-01 05:48] vnbang2003 commented on #220
@shankisg Is this bug still open ?

[2016-03-01 05:48] #18 closed

[2016-03-01 05:51] vnbang2003 commented on #224
@shubhamgupta2021 : Can you help us to test on live server . Few completed workshop are
1) https://pythonexpress.in/workshop/14/
2) https://pythonexpress.in/workshop/15/

[2016-03-01 05:54] arunta007 commented on #253
There are situations, for example, Kannur, when there's no value for 'location' that match with where the workshop is to be conducted. In such case, 'other' will come to rescue, no?

[2016-03-01 05:57] vnbang2003 commented on #253
Yes that will help temporary but for long run we need to allow user to add new location himself.
Can you help us open issue with this feature request to allow user add new location ?
At the same do let me know if you want to add location ?

[2016-03-01 06:23] arunta007 commented on #253
Sure Vijay. Do you want me to open an issue for letting user add location?
Or we can even try importing all cities in India state-wise, which should
be openly available?

Thanks and regards,

Arunanand T A
http://taa.im
On Mar 1, 2016 11:27 AM, "Vijay" <notifications@github.com> wrote:

[2016-03-01 16:42] arunta007 opened #257 "Add an 'Other' option in the workshop/tutor location and allow to add custom location"
This is an enhanced description of the feature request specified at: https://github.com/pythonindia/wye/issues/253

1. We may allow users to specify their location if that's not available on the dropdown list. This pertains to workshop/tutor location. As of now only a limited set of locations is available in the dropdown. We may provide an 'Other' option, and allow user to enter a custom location.

[2016-03-01 16:43] arunta007 commented on #253
Closing, as a better description of the 'enhancement' is opened at: https://github.com/pythonindia/wye/issues/257

[2016-03-01 16:43] #253 closed

[2016-03-03 08:05] curioswati commented on #256
okay @vnbang2003. But currently busy with college stuff. Need some time.

[2016-03-03 09:13] shankisg commented on #256
@vnbang2003 that could done. But any specific reason why we are moving away from CBV.

[2016-03-03 14:16] vnbang2003 commented on #256
To show better error messaging and easier for new comer to start contributing.

[2016-03-05 05:59] #157 closed

[2016-03-05 06:17] vnbang2003 commented on #242
Fixed : https://github.com/pythonindia/wye/commit/dfb705e5b580646bb80d64894aca545a9cbe8610

[2016-03-05 06:17] #242 closed

[2016-03-05 06:17] vnbang2003 commented on #255
Fixed: https://github.com/pythonindia/wye/commit/dfb705e5b580646bb80d64894aca545a9cbe8610

[2016-03-05 06:17] #255 closed

[2016-03-05 06:19] vnbang2003 commented on #220
Looks like query is fixed  hence resolving it
regions = RegionalLead.objects.filter(leads=self.request.user)

[2016-03-05 06:19] #220 closed

[2016-03-05 09:54] #162 closed

[2016-03-05 09:59] vnbang2003 commented on #254
Have converted to function based view and added test error page

[2016-03-05 09:59] #254 closed

[2016-03-05 11:10] #155 closed

[2016-03-05 11:11] vnbang2003 commented on #197
Profile pic are getting loaded. About Resize we can continue discussion in #147

[2016-03-05 11:11] #197 closed

[2016-03-05 12:09] staranjeet commented on #256
@vnbang2003 : Every view or just the `UserDashboard` view in `profiles` app?

[2016-03-05 14:02] ChillarAnand commented on #251
In all PE mails.

[2016-03-06 12:12] vnbang2003 commented on #257
Added FAQ question on how to add location .This should be good for now.

[2016-03-06 12:12] #257 closed

[2016-03-06 12:33] vnbang2003 commented on #251
Taken care it should work once we push code to server

[2016-03-06 12:33] #251 closed

[2016-03-06 12:33] vnbang2003 commented on #250
Taken care

[2016-03-06 12:33] #250 closed

[2016-03-06 12:42] shubhamgupta2021 commented on #224
@vnbang2003 @shankisg : I have checked it on the live servers. I am unable to give feedback for these workshops. I can confirm the issue is resolved.

[2016-03-06 12:44] shubhamgupta2021 commented on #236
@Anuj8826, Are you working on this? Please confirm.

[2016-03-06 12:47] shubhamgupta2021 commented on #232
@shankisg @vnbang2003 Can you guys verify this fix.

[2016-03-06 19:50] shankisg commented on #220
Need to check

[2016-03-06 19:54] shankisg commented on #256
All class based views needs to migrated to functional views

[2016-03-06 19:58] shankisg commented on #224
As per test feedback shared by @shubhamgupta2021 closing this issue.

[2016-03-06 19:58] #224 closed

[2016-03-07 04:51] vnbang2003 commented on #256
Guys,
   Let slowing start migrating  along with other fixes so in next few days we get migrated.

[2016-03-09 05:25] vnbang2003 commented on #236
Looks like @Anuj8826 is busy
@shubhamgupta2021 if you can help us with this please do.

[2016-03-09 05:26] vnbang2003 commented on #220
@shankisg I have fixed it . Once we push to server it will work.

[2016-03-10 15:29] shubhamgupta2021 commented on #236
@vnbang2003 Will start working on this from coming weekend.

[2016-03-29 11:54] lavish205 commented on #223
I want to work on this bug.
For sending reminders can we use celery `crontab` ?

[2016-03-29 12:01] lavish205 commented on #195
Hi
Can't we use Google Places API, as an autocomplete API as it will list all the places and also provide us details related to that place eg: latitude longitude?

[2016-03-30 04:08] vnbang2003 commented on #223
@lavish205 Sound good. @kracekumar @vigneshsarma do we have bandwidth for this on server ?

[2016-03-30 06:33] vigneshsarma commented on #223
Server shouldn't be an issue here. We are hardly using any CPU. Memory we are using 650M of 1500M.

[2016-03-30 08:00] lavish205 commented on #223
Cool, I am working on this bug, can anyone please provide me the template of reminder?

[2016-03-30 08:22] vnbang2003 commented on #223
@lavish205 we don't have template but feel free to create you own for now . we can change later on it.
@harisibrahimkv can you help here with content ?

[2016-03-30 09:14] lavish205 commented on #223
@vnbang2003 where should I define cronjobs?
I prefer to make `cronjobs.py` file on project root, what do you suggest?

[2016-03-30 11:13] kracekumar commented on #223
Django management command is better choice.

On Wed, Mar 30, 2016 at 2:44 PM, Lavish Aggarwal <notifications@github.com>
wrote:

--
Regards
Kracekumar Ramaraj
http://kracekumar.com

[2016-03-30 12:43] lavish205 commented on #223
@kracekumar can you provide some details how to do it with Django management commands?

[2016-03-30 13:19] kracekumar commented on #223
@lavish205 Forget about how to schedule, make sure running the django command will send out emails. https://docs.djangoproject.com/en/1.9/howto/custom-management-commands/

[2016-03-31 05:58] vigneshsarma commented on #223
@kracekumar @lavish205 you don't need any management command or special script. once you have setup celery and django correctly celery provides a way to run it.

Ref:
- http://docs.celeryproject.org/en/latest/userguide/periodic-tasks.html#starting-the-scheduler
- http://docs.celeryproject.org/en/latest/django/first-steps-with-django.html

[2016-03-31 06:09] harisibrahimkv commented on #223
Just a quick note on that. From my experience with celery, I've found cronjobs + django management commands to be more reliable than celery beats / scheduled tasks. Both works, but I've just found the former to be more reliable.

[2016-03-31 06:15] harisibrahimkv commented on #223
@lavish205 I think what @kracekumar meant was something like this:

[code]

You'll need to implement the logic of figuring out who all the email should go to (based on dates). This snippet of code will go into some `app/management/commands/task.py` directory. Once you have that tested and running, hook it up to that runs every morning or something and we'll be good to go.

[2016-03-31 06:17] harisibrahimkv commented on #223
@vnbang2003 Once @lavish205 Implements this as a celery cron or management command, I will fill in the email content in the appropriate place.

[2016-03-31 06:24] harisibrahimkv commented on #223
@lavish205 If you're going with the cronjob model, first implement the management command as I mentioned above and then use `crontab -e` to open up the crontab file and put in something like this:

`*/5 *  *   *   *     cd {project_directory} && {path_to_virtualenv_python} {path_to_manage.py} {your_management_command_name} --settings={path_to_settings_file} >  {path_to_log_file} 2>&1`

[2016-03-31 07:09] lavish205 commented on #223
I have earlier used django mails and celery, I found  `crontab` very reliable. There is no need to add entry in `crontab -e` celery will manage it.
[crontab](http://docs.celeryproject.org/en/latest/userguide/periodic-tasks.html#crontab-schedules) are easy to implement as well.
@harisibrahimkv @vnbang2003 @vigneshsarma do let me know which method should I implement.

[2016-03-31 09:25] harisibrahimkv commented on #223
@lavish205 Any method is fine really. It is you who came forward to work on the bug and we will respect the decision you make. :)

[2016-03-31 10:34] lavish205 commented on #223
Do we have to send reminder to all presenter or requester or both?
If requester, then where I can find requester email?

[2016-04-01 04:32] vnbang2003 commented on #223
@lavish205 Requester  :  IN workshop models requester. user.email .
Where request is Organisation models.

[2016-04-04 08:10] lavish205 commented on #223
@vnbang2003 getting `AttributeError: 'ManyRelatedManager' object has no attribute 'email'` while using `requeste.user.email`

[2016-04-04 09:09] vnbang2003 commented on #223
Organisation can have more than one user hence you need to loop for all requester.user.objects.all()
And send email to members of organisation.
Even presenters can be more than one.

[2016-04-20 10:26] bhanuvrat commented on #196
still listed under open. @vnbang2003

[2016-04-23 02:28] #196 closed

[2016-04-23 02:31] vnbang2003 opened #265 "Register as a student"
Presently we allow user to register either as Tutor or College POC.
We should allow students to register by selecting Organisation(College) they belong to so they can see notification for all upcoming event of their college.

[2016-04-23 02:33] vnbang2003 opened #266 "Workshop list display"
Presently we don't display any workshop list if user role is both College POC and Tutor.
If user role is just tutor it show all the list of workshops.

[2016-04-23 02:35] vnbang2003 opened #267 "Allow tutor and Oragniser to view each other contact info"
Once the workshop is accept we should allow tutor's and orgnisers contact info to be visible once they login . This is easy the bottleneck of getting each other contact info.

[2016-04-23 02:40] vnbang2003 opened #268 "Twitter update for workshop accepted"
Presently when workshop is requested we automatically update twitter handler to display workshop request details. We should add functionality to display update once workshop is requested.

[2016-04-23 02:45] vnbang2003 opened #269 "Write Script which will automatically send email to regional mailing list on workshop request"
Presently when new workshop is request , Someone has to manually drop email to malign list requesting for tutor.
We should plan to write script when will send email to mailing list automatically.
Example: If workshop is requested for bangalore location it should send email to bangpyper.
If workshop is requested for Ncr location it should send email to Ncr-python

[2016-04-23 02:49] vnbang2003 opened #270 "Integrate with Facebook"
Facebook looks to presently more powerful medium to share informaiton.
We need to plan to create Facebook page so students can follow and create more awareness about the program.

[2016-05-06 20:30] curioswati commented on #168
@vnbang2003 is this issue still there? Although I am done fixing it, if it's not already resolved, I will create PR.

[2016-05-12 06:17] vnbang2003 commented on #168
@curioswati Please confirm it this is the Pull Request :https://github.com/pythonindia/wye/pull/235
I will close it once you confirm .

[2016-05-12 06:18] vnbang2003 commented on #223
Pull request : https://github.com/pythonindia/wye/pull/262
Closing it

[2016-05-12 06:18] #223 closed

[2016-05-12 16:23] curioswati commented on #168
No, @vnbang2003, it was for  #218. This one's different.

[2016-05-31 06:24] vnbang2003 commented on #147
Closing this for now . If we see similar issue please do reopen.

[2016-05-31 06:24] #147 closed

[2016-05-31 06:32] vnbang2003 commented on #268
@harisibrahimkv Can you help with this ?

[2016-05-31 06:32] vnbang2003 commented on #266
@shankisg : Can you help with this ?

[2016-06-01 03:47] shankisg commented on #266
@vnbang2003 Ok sure

[2016-06-01 03:58] harisibrahimkv commented on #268
@vnbang2003 Yep, can can. Will need some time though. Dealing with a laptop
crisis.

On 31 May 2016 at 12:02, Vijay <notifications@github.com> wrote:

--
Haris Ibrahim K. V.
http://sosaysharis.wordpress.com
@harisibrahimkv <http://twitter.com/harisibrahimkv>

[2016-06-04 06:55] vnbang2003 commented on #268
@harisibrahimkv No Problem .

[2016-06-04 06:56] vnbang2003 commented on #170
I will work on it.

[2016-06-06 11:28] #168 closed

[2016-06-18 05:42] #265 closed

[2016-06-18 05:43] vnbang2003 commented on #236
@shubhamgupta2021 Can you please update the status ?

[2016-06-18 05:45] vnbang2003 commented on #232
Closing it for now.

[2016-06-18 05:45] #232 closed

[2016-06-18 05:46] vnbang2003 commented on #195
Will be opening PR with more details to allow user to enter any new location.

[2016-06-18 05:46] #195 closed

[2016-06-18 05:47] #77 closed

[2016-06-18 05:49] vnbang2003 commented on #130
I think profile creation need some change so we can easy requesting working . Right now it looks not user friendly. Once we fix that the above should be fixed.

[2016-06-18 05:49] #130 closed

[2016-06-18 05:50] vnbang2003 commented on #156
@curioswati Can you help with this ?

[2016-06-18 05:51] vnbang2003 commented on #268
Looks duplicate hence closing it. #212

[2016-06-18 05:51] #268 closed

[2016-06-18 05:52] vnbang2003 commented on #266
@shankisg any update on this ?

[2016-06-18 05:53] vnbang2003 commented on #134
i will be adding easy of add location feature once that done it will resolve this problem also.

[2016-06-18 05:53] #134 closed

[2016-06-18 05:54] vnbang2003 commented on #209
@ultimatecoder Can you help with this ?

[2016-06-18 05:57] vnbang2003 opened #273 "Document the Software usage"
We need to document on usage of Wye/pythonexpress.in so it help first timer to understand flow.

[2016-06-18 05:59] vnbang2003 opened #274 "Workshop request flow change"
Presently the workshop request flow is a bit complex as user need to first create organisation and create workshop.
We need to change workshop request form in such a it allow user to either select existing orgnaisation and allow user to create organisation by requesting those fields in the workshop page it self.

This is some UI work . Requesting some UI expert to help with this

[2016-06-18 06:01] vnbang2003 opened #275 "Profile creation"
In the profile creation page we should hide usertype option.
By default user is given role: tutor , If user has created orgnisation he wil be given two role (1) POC and (tutor).
This is avoid confusion in profile edit page and keep the role internal to the system.

[2016-06-18 06:02] vnbang2003 opened #276 "Organisation creation"
We should allow all user to create organisation and request workshop instead of forcing them to create organisation first , become POC.

This is easy everyone to easy software better.

[2016-06-18 18:17] curioswati commented on #156
okay @vnbang2003 .

[2016-06-22 04:48] #156 closed

[2016-07-06 14:40] shubhamgupta2021 commented on #236
@vnbang2003 The code is already got merged. You can check the commit https://github.com/shubhamgupta2021/wye/commit/c5e82138885590fe46e11ea9c41f37bb0a1c2213

[2016-07-09 07:20] Warlord77 commented on #276
Is this issue solved ?

[2016-07-09 19:15] RishabhJain2018 commented on #270
@vnbang2003 What to do in this issue?

[2016-07-12 03:53] vnbang2003 opened #278 "Upcoimg workshop details"
Need to add page/display in existing page all the upcoming workshop.
This page should have ability to filter based in states/city .

[2016-07-18 18:00] RishabhJain2018 commented on #270
@vnbang2003 any leads please.

[2016-07-20 03:53] vnbang2003 commented on #270
@RishabhJain2018 presently we post new workshop requests in twitter only [0]. I think it be also be good if we do replicate same on Facebook page .

[0] :https://twitter.com/pythonexpress/status/753452014797860864

[2016-07-20 06:42] vnbang2003 commented on #276
@Warlord77 I have made changes and pushed to dev branch.

[2016-07-20 06:42] #236 closed

[2016-07-20 06:46] vnbang2003 commented on #257
@Warlord77 This could be good starting point . Let me know if can work on this.

[2016-07-20 08:08] kracekumar opened #279 "Add Machine Learning workshop"
One of the college professors approached BangPypers meetup for machine learning workshop [0]. Agenda is available in the description.

[0]: http://www.meetup.com/BangPypers/events/225109017/?comment_table_id=467966647&comment_table_name=event_comment

[2016-07-20 17:15] vnbang2003 commented on #279
Have added section called machine learning

[2016-07-20 17:15] #279 closed

[2016-07-23 09:44] vnbang2003 opened #280 "Github login issue"
I see this email coming quite often when user login from Github,

Internal Server Error: /accounts/github/login/callback/
Traceback (most recent call last):
  File "/opt/envs/wye/local/lib/python2.7/site-packages/django/core/handlers/base.py", line 132, in get_response
    response = wrapped_callback(request, *callback_args, **callback_kwargs)
  File "/opt/envs/wye/local/lib/python2.7/site-package

[2016-07-24 03:49] vnbang2003 commented on #278
@shankisg Do you sometime display workshop list which are not compleeted.
Add new page with 3 section
1) Upcoming  (2) Confirmed (3) Unconfirmed

We need this feature for Pythonmonth plan.

[2016-07-24 03:54] vnbang2003 commented on #267
@curioswati Can you help with quick fix with this. We need this feature for PythonMonth planning.

[2016-07-24 03:57] #170 closed

[2016-07-24 03:58] vnbang2003 commented on #211
For now we can use mail chimp hence closing it

[2016-07-24 03:58] #211 closed

[2016-07-24 03:58] vnbang2003 commented on #275
made this change hence closing it.

[2016-07-24 03:58] #275 closed

[2016-07-24 04:00] vnbang2003 commented on #256
Have moved few workshop views.

[2016-07-24 15:06] kracekumar commented on #280
On Sat, Jul 23, 2016 at 3:14 PM, Vijay <notifications@github.com> wrote:

Looks like email is missing.

--
Regards
Kracekumar Ramaraj
http://kracekumar.com

[2016-07-24 16:48] vnbang2003 commented on #278
As we were running short of time i have added it.

[2016-07-24 16:48] #278 closed

[2016-07-24 16:49] vnbang2003 commented on #274
Did fix and check in .

[2016-07-24 16:49] #274 closed

[2016-07-25 14:26] curioswati commented on #267
okay @vnbang2003. but I am not getting exactly what is required..

[2016-07-25 14:28] vnbang2003 commented on #267
Once the workshop is accepted . We need to display to tutor and requester their contact info so they can speak to each other.
Note: This should be only visible to Requester and tutor only.

Let me know if it is clear.

[2016-07-25 14:49] curioswati commented on #267
Sorry but I am unable to understand the flow. I don't have much knowledge of the workshop module. So if you could elaborate please.
These are few questions:
Which page exactly do I need to work on?
What test orgs I will need to create if I have to understand, like for now I create a college as an org to test things. So will it suffice or do I need to create another user/orgs? like the terms tutor/

[2016-07-25 14:57] vnbang2003 commented on #267
Once you have organization created. You can request for workshop.
Once workshop is created tutors can accept the workshop.

In workshop detail page (https://pythonexpress.in/workshop/9/) . HTML file: workshop/details.html.
We need to check condition if logged in person is presenter or requester
In workshop model requester means organisation hence we need to check organization members name against

[2016-07-26 01:21] vnbang2003 opened #282 "twitter update broken"
Looks like the recent changes have broken twitter update url:
https://twitter.com/pythonexpress/status/757674752370626561

@harisibrahimkv Can you help with this ?

[2016-07-26 03:12] vnbang2003 opened #283 "New workshop request emails"
Present once workshop request come we send email to all people expressed interested for that location but problem is we keep everyone email in to list and it exposes everyone emails id.
We need to convert this in for loop to email individually to avoid this.

@kracekumar any suggestion ?

[2016-07-26 03:14] vnbang2003 opened #284 "Display location with combination of name and state"
There are good chances to have duplicate location name across states hence it will good to display location as combination of name and state's name

[2016-07-26 03:14] vnbang2003 commented on #266
https://pythonexpress.in/workshops_upcoming/

[2016-07-26 03:14] #266 closed

[2016-07-26 03:23] vnbang2003 commented on #267
@curioswati at the same in next pull request add you name in contributors list
https://github.com/pythonindia/wye/blob/master/CONTRIBUTORS.txt

[2016-07-26 03:24] vnbang2003 commented on #284
@ultimatecoder @TroJan @stalwart201 Can one of you help with this ?

[2016-07-26 04:08] vnbang2003 commented on #280
@kracekumar Am not very familiar with this section of code. Can you do needful for it work similar to junction ?

[2016-07-26 06:38] kracekumar commented on #283
Yes for loop style is still the best one. That's what [junction](https://github.com/pythonindia/junction/blob/27d39930baffb750031eae7c00def9fa2ae63448/junction/proposals/services.py#L38) does. How about using celery ?

[2016-07-26 08:24] realslimshanky commented on #284
@vnbang2003 would like to help.

[2016-07-26 08:52] vnbang2003 commented on #284
@realslimshanky sure. Let me know if you need any help

[2016-07-26 09:44] vnbang2003 commented on #283
Yeah probably we need to try . We already have celery job for remainder. We can extend it.

[2016-07-26 11:51] curioswati commented on #267
okay just double checking..

Tutors are the users of the organisation, right?

Presenter and requester are on the same side. Requester is the organisation and presenters are the members of the organisation who have accepted the workshop i.e. tutors, right?

So for this task, I have three conclusions:
* if the logged in member is a member of the organisation and they are not the tutor/presenter the