[2016-07-26 14:32] vnbang2003 opened #285 "Admin/Lead to get option to write email from workshop details page"
We need to add feature for the admin/regional lead to be able to write email from workshop details page . This will help in dropping intro and other email between requester and tutor.

[2016-07-26 15:49] realslimshanky commented on #284
@vnbang2003 you want just the "interested locations" with this modification or "location" too ?

[2016-07-26 15:52] vnbang2003 commented on #284
@realslimshanky there are few page we display location
1) Profile(Both interested location and location)
2) Organisation
3) Workshop
4) https://pythonexpress.in/workshops_upcoming/

We need to change or add property for location to send us concatenated location name.

[2016-07-26 17:07] vnbang2003 commented on #283
@lavish205 can you help in writing one more celery job ?

[2016-07-26 17:27] lavish205 commented on #283
@vnbang2003 @kracekumar IMO, instead of looping through each email id, we can send a bulk mail at once keeping all emails in *bcc* and *to* as some fix email like `admin@pythonindia.com`.
This will not expose everyones emails.

[2016-07-26 17:33] vnbang2003 commented on #283
BCC  email goes to spam hence we should avoid it.

[2016-07-26 17:45] lavish205 commented on #283
cool. One more question, do we have to send e-mail to every presenter whenever a workshop request comes in? if yes, then why are we not using post_save signal instead of using celery?

[2016-07-26 18:06] vnbang2003 opened #286 "FAQ page update"
We need to update FAQ page
1) I don't see accept button  ?
2) Every user by default is treated as tutor now .

[2016-07-26 18:08] vnbang2003 opened #287 "In profile creation page we need to add radio button"
With the latest change we mark all user as tutor by default , I think it confusing as tutor count is looking very big on home page. Hence need to revert back old profile page with user type option.

[2016-07-26 18:09] vnbang2003 commented on #283
good point .
We also need to think
How do we manage update ?
If user unassign himself from workshop ?

[2016-07-26 18:21] lavish205 commented on #283
we can add signals for each `update` and `save` or any other db operations. Moreover if user unassigns him/herself from workshop then I think his/her entry will also be deleted from presenters field (I'm not sure how user and workshop mapping is being done)

[2016-07-26 18:34] kracekumar commented on #283
On Tue, Jul 26, 2016 at 11:51 PM, Lavish Aggarwal <notifications@github.com>
wrote:

Signals are hard to debug and test. My opnion is to override save and have
custom method to do work.

--
Regards
Kracekumar Ramaraj
http://kracekumar.com

[2016-07-27 07:02] lavish205 commented on #283
ok if it is so, I'll update `save` and `update` method as per requirement.
@vnbang2003 @kracekumar you can assign this issue to me :)

[2016-07-27 10:33] kracekumar commented on #283
On Wed, Jul 27, 2016 at 12:32 PM, Lavish Aggarwal <notifications@github.com>
wrote:

Please start working on the issue.

--
Regards
Kracekumar Ramaraj
http://kracekumar.com

[2016-07-27 14:44] vnbang2003 commented on #283
@lavish205 we have sent you team member invite. Once you accept i think you can assign to your self.

[2016-07-27 18:54] lavish205 commented on #283
@vnbang2003 I have accepted invite, but still I'm unable to assign it to myself. May be some permission issue

[2016-07-28 04:13] vnbang2003 commented on #283
@lavish205 i will look into it later

[2016-07-30 08:10] kracekumar opened #288 "Add blog option"
Suggestions

- [pelican](http://blog.getpelican.com/)
- [pelican-admin](https://github.com/fjcaetano/pelican_admin)
- [zinnia](http://django-blog-zinnia.com/)

Please feel free to add other appealing packages.

[2016-07-30 09:43] ChillarAnand commented on #288
- [lektor](https://github.com/lektor/lektor) has good admin like django.
- [nikola](https://github.com/getnikola/nikola/)

[2016-07-31 02:07] harisibrahimkv opened #290 "sample_data management command failing."
`python manage.py sample_data` fails with the following traceback:

[code]

[2016-08-01 05:27] #286 closed

[2016-08-01 05:32] vnbang2003 commented on #290
I think this is because of our plan to make each user by default as tutor.
 Fix for it us by add new user type as 'tutor' as first statement.

[2016-08-01 06:35] aniketmaithani commented on #288
my two cents on Nikola

[2016-08-02 08:38] vnbang2003 opened #292 "Request for travel reimbursement"
We need to allow tutor to request for travel reimbursement  and with tentative number.
This details needs to displayed to both tutor and requester.
We can create new model to store this information.

[2016-08-02 13:00] vnbang2003 commented on #290
Fixed the issue: https://github.com/pythonindia/wye/commit/cc006d5354e7f5794cd14e739b53f57290770936

[2016-08-02 13:00] #290 closed

[2016-08-02 13:17] vnbang2003 commented on #288
I think we use pelican for PyCon India  and Bangpypers let use same to avoid too many things .

[2016-08-02 13:18] vnbang2003 commented on #283
@lavish205 Are you working on it ?

[2016-08-02 14:21] lavish205 commented on #283
Yeah I'll work on it and will fix it by end of this week.

[2016-08-03 07:22] harisibrahimkv opened #293 "`Workshop status - Assigned` email getting sent to a whole lot of people."
The following email is being sent to a bunch of people. Why is that? There should be an option to opt out of these notifications.

Also, even if it is being sent, it should be to individual people rather than exposing everyone's email ids.

__Subject__:
`Workshop status - Assigned`

__Body__:
`Hello folks! Just giving you a heads up. The Workshop you are planning to conduct on Aug. 13, 2016 has be

[2016-08-03 10:22] vishnutalanki opened #294 "Unable to register as a volunteer for an accepted workshop"
I want to volunteer for an accepted Python3 workshop on Aug 13 at RNSIT, Bangalore.
Not as a tutor, but a volunteer to help the tutor. Is this option available?.
Thank You.

[2016-08-03 15:41] vnbang2003 commented on #293
We already have ticket and working on fix. #283  hence closing it as duplicate

[2016-08-03 15:42] vnbang2003 commented on #293
Sorry mis understood. Yep we need to find way to add notification  flag in profile

[2016-08-03 15:46] vnbang2003 commented on #282
@harisibrahimkv do you have time to help us with this ?

[2016-08-03 15:46] vnbang2003 commented on #284
@realslimshanky Are you working on it ?

[2016-08-03 15:47] vnbang2003 commented on #267
@curioswati is it possible to get this feature to the earliest as am having tough time to keep writing intro emails

[2016-08-03 16:54] vnbang2003 commented on #294
@vishnutalanki Presently we don't have this feature but we will consider in near feature to get this.

[2016-08-03 17:47] curioswati commented on #267
@vnbang2003, my laptop is not with me for the last week, as it had some issue. Expecting it back in 2-3 days. Then only i will be able to fix the issue.

-----Original Message-----
From: "Vijay" <notifications@github.com>
Sent: ‎8/‎3/‎2016 22:42
To: "pythonindia/wye" <wye@noreply.github.com>
Cc: "Swati Jaiswal" <jaiswalswati94@gmail.com>; "Mention" <mention@noreply.github.com>
Subject: Re: [python

[2016-08-04 03:45] vnbang2003 commented on #267
@curioswati If i find time will fix else pls do help over weekend with fix.

[2016-08-04 23:58] juggernaut451 commented on #282
@vnbang2003 is this bug fixed?

[2016-08-05 00:26] harisibrahimkv commented on #282
@juggernaut451 Apparently not. I was planning to work on it, but just didn't get the time. Could you give me until the end of this weekend to take a stab at it? If I can't do it by then, feel free to fix it.

Thanks!

[2016-08-05 01:27] vnbang2003 commented on #267
Fixed it.

[2016-08-05 01:27] #267 closed

[2016-08-05 01:27] vnbang2003 commented on #293
@curioswati Can you help with this ?

[2016-08-05 01:28] vnbang2003 commented on #282
@juggernaut451 by the time you can pick other bug to work on.

[2016-08-05 04:41] curioswati commented on #293
@vnbang2003, I can once I have my laptop back. Probably 2-3 days.

Regards,
Swati Jaiswal

-----Original Message-----
From: "Vijay" <notifications@github.com>
Sent: ‎8/‎5/‎2016 6:57
To: "pythonindia/wye" <wye@noreply.github.com>
Cc: "Swati Jaiswal" <jaiswalswati94@gmail.com>; "Mention" <mention@noreply.github.com>
Subject: Re: [pythonindia/wye] `Workshop status - Assigned` email getting sentto a w

[2016-08-05 05:00] vnbang2003 commented on #293
@curioswati that not a problem

[2016-08-06 14:35] vnbang2003 opened #297 "Add report tab to display few status and info(Visible only to Admin)"
1) Add page to display all organization which has not requested for workshop yet
2) Workshop declined

[2016-08-06 19:16] kracekumar commented on #288
Pelican is one of the choices, and the `Lektor` looks stellar. I am ok with any of those. The question is should we maintain the blog in this repo or different repo?

[2016-08-07 04:07] ankur0493 commented on #293
@vnbang2003 This is not actually just an enhancement. I think there is some bug or something. I started receiving updates about workshops at GGSIPU though I was neither the requester nor the speaker.

[2016-08-07 04:14] ankur0493 commented on #297
Hi, I can start working on this. Please assign it to me.

[2016-08-07 04:17] harisibrahimkv commented on #293
@vnbang2003 This is not just about the notification flag. Some random workshop assignment is getting sent to a random bunch of people with all addresses in the `to` list. The questions are:

1. Why are all those people getting this email? I am not presenting, requesting or organizing this workshop.
2. Why are all the email ids in the `to` list? They should be either sent individually or on `bcc` a

[2016-08-07 04:19] ankur0493 commented on #293
#283 is an open issue for 1 and 2

[2016-08-07 04:21] harisibrahimkv commented on #293
Ah I see. Thanks @ankur0493.

[2016-08-07 06:40] vnbang2003 commented on #297
@ankur0493 please start working on it . If possible can you first help with existing bugs as this feature is for v1.0 and i need add more .

[2016-08-07 06:45] ankur0493 commented on #297
Sure I can.. But I see a lot of issues are already taken up by someone. Can
you please point out a bug that needs to be addressed soon and is
unassigned? I'll start working on it...

On Sun, Aug 7, 2016 at 12:10 PM, Vijay <notifications@github.com> wrote:

[2016-08-07 06:46] #30 closed

[2016-08-07 06:46] #284 closed

[2016-08-07 06:47] #287 closed

[2016-08-07 06:47] vnbang2003 commented on #297
How about #292 It's a new feature. ?

[2016-08-07 06:49] vnbang2003 commented on #283
@lavish205 Are you on it ?

[2016-08-07 06:59] vnbang2003 commented on #241
@bhanuvrat @Anuj8826 Am not sure of scope . Can we guys close this or send pull request with patch  ?

[2016-08-07 07:04] ankur0493 commented on #292
Do we also intend to facilitate the payment here? Can you please brief the workflow a bit?

[2016-08-07 07:13] vnbang2003 commented on #292
It show happen's that tutor accept workshop and later reject if we don't get travel reimbursement.
I was thinking to add feature to confimr  if requester(college) is ready to pay minimum reimbursement like Cab/Bus/Train along with food and water for tutor.(During request workshop).
At the same time we should ask if tutor really need reimbursement.
If tutor need we need to capture info in our syste

[2016-08-07 07:19] vnbang2003 opened #298 "Add new location"
If user select other option as location, We need to display input box asking location name along with drop down to show all states name.

[2016-08-07 07:24] vnbang2003 opened #299 "While create organisation/profile add state drop down"
The number of location location as increase and it getting tougher for people to select location from huge list .
We should now add drop down to select state , which in turn filter number of location(city) from location drop down. In case  they select others we need to add functionality of #298

[2016-08-07 07:25] vnbang2003 opened #300 "Add address fields for organisation"
In Organization Model needs to add address fields to capture college full address . This will help tutor to plan travel

[2016-08-07 07:26] vnbang2003 opened #301 "Add Celery job to send remainders"
We need to add celery job to
1) send Intro email 7 days before the workshop dates
2) Remainder Email 2 days before workshop
3) Feedback email on workshop day
4) Remainder of Feedback email after 2 days of workshop.

[2016-08-07 07:30] vnbang2003 opened #302 "Add more user roles"
I am think to add more user role
1) Volunteer to support tutors: who help students during workshop day.
2) College PoC(Person who request workshop on behalf of college)
3) Tutor(Presenter of workshop)
4) Student(Student who all attended workshop)
5) Partner organization(Partner like FSMK).

Please let me know inouts

[2016-08-07 07:31] vnbang2003 opened #303 "Workflow for Partner organisations"

[2016-08-07 07:32] vnbang2003 opened #304 "Workfow for Volunteer to support workshop tutor"

[2016-08-07 07:34] vnbang2003 opened #305 "Enhancement for profile"
Lot of colleges are asking us tutor experience info so we need to start asking tutor to fill below info .

1) Previous workshop conduct(Number)(Apart from one from pythonexpress.in) - Mandatory
2) Present working place - Mandatory
3) Years of experience - Mandatory

[2016-08-07 07:38] vnbang2003 opened #306 "Upper limit of number of organisaiton created"
We need to find way to restrict number of organization creation to max 2-3 for all user apart from Partner organization.

[2016-08-07 07:38] vnbang2003 opened #307 "Revisit Email templates content."

[2016-08-07 07:39] vnbang2003 opened #308 "Add more FAQ based on user role for V1.0"

[2016-08-07 07:48] vnbang2003 opened #309 "Documentation about Wye project"
We should document about Wye project so other Foss community can adopt this and conduct more and more workshop. This Software in not intended towards python only.

[2016-08-07 07:56] vnbang2003 opened #310 "Partner's "Create organisaiton""
When a logged in person is partner organisation, we need to ask him to share college POC info  along with creation.
Using email , first name, last name and mobile number we should create profile as ask College POC to confirm to authenticate it and create his profile at the back end.

[2016-08-07 07:57] vnbang2003 opened #311 "Rest API to support mobile App"

[2016-08-07 10:02] harisibrahimkv commented on #282
This doesn't seem to be happening now. I am not sure how that one instance happened.

https://twitter.com/the_test_bold/status/762227075683979264

@vnbang2003 Did you spot any other instances of this happening?

[2016-08-07 11:06] kracekumar commented on #292
I agree with the @vnbang2003 statement and elaborating.

As the first step, the system should capture the facilities offered by the institutions and PSSI and display the relevant information to the potential tutors.

## Financial Support from organiser

### Request Form

The new workshop application form should have checkboxes and text input for `travel/stay` arrangements. Text input captures the

[2016-08-07 13:46] vnbang2003 commented on #282
@harisibrahimkv That because we have hard coded for now.
https://github.com/pythonindia/wye/commit/69e6bdc31b073470658808ccb9d6124150fcbbd8

[2016-08-07 15:20] kirang89 commented on #292
@vnbang2003 It does look like the speaker presumes that the university will take care of his expenses. Making it clear on the website, preferably some sort of notice before the speaker accepts a workshop, should be ideal. I'd like to use some sort of outline, as suggested by @kracekumar.

[2016-08-07 15:22] kirang89 commented on #292
@vnbang2003 Just to reiterate, I think we must show the details about financial support as the last step before the speaker accepts a workshop instead of just having a link to it at the header. This way every speaker understands what he/she must agree to.

[2016-08-07 16:00] harisibrahimkv commented on #282
@vnbang2003 Thanks. Fixed it: https://github.com/pythonindia/wye/pull/312

[2016-08-07 18:11] ankur0493 commented on #292
@kracekumar Thanks for the detailed explanation of what we are looking for here.. I'll start work on this and will try to come back in a couple of days..

[2016-08-07 18:14] ankur0493 opened #313 "Workshop list page should link to workshop detail pages"
The `/workshop/` page currently lists all the upcoming workshops in locations that the user has indicated he'll be able to deliver a workshop in, but it doesn't links to the workshop.

[2016-08-07 18:16] ankur0493 opened #314 "Tutor Should be Able to Contact the Requester"
There seems to be no way for a tutor to contact the requester.. Direct contact details of the requester should be shared as soon as one accepts a workshop. Also, people should be able to comment on the workshops if they need any clarification.

[2016-08-08 05:05] vnbang2003 commented on #314
This feature is live now hence marking it's a not a bug

[2016-08-08 05:05] vnbang2003 commented on #313
@ankur0493 what do you mean by "but it doesn't links to the workshop" ?

[2016-08-08 05:06] #282 closed

[2016-08-08 07:05] kracekumar commented on #313
What he refers is table entry doesn't have a hyperlink to workshop detail page.

[2016-08-08 07:06] ankur0493 commented on #313
@kracekumar right. Just like `/workshops_upcoming` page has hyperlinks to the details pages.

[2016-08-08 07:09] ankur0493 commented on #314
I still do not see an option to contact the college for one of the workshops I accepted. 'College Representative' field is blank. If you were referring to that field when you said that the 'feature is live', then maybe this field needs to be made mandatory.

[2016-08-08 07:11] kracekumar opened #315 "Allow tutor to accept the workshop from detail page"
In email and tweets workshop detail URL is shared, i.e., `https://pythonexpress.in/23`. When a potential tutor lands on the page, he/she views the details of the workshop and cannot perform any action. There should be a button to `accept` the workshop. If the tutor doesn't belong to the workshop region, the button should be grayed out with helper text; you can't take the workshop outside of your p

[2016-08-08 07:11] vnbang2003 commented on #314
Yep looks like display bug needs to be fixed.

[2016-08-08 07:29] bhanuvrat commented on #292
Tutors can set it in their "profile settings" somewhere that they are not interested in workshops if there is no reimbursement to be had. They are able to see it in the listing but aren't notified about them (via email /et el).

Dissenting from @kirang89 all the information should be available upfront for tutors to consider.
The listing page shows a badge / greyed out text that there is no reimbur

[2016-08-08 07:38] bhanuvrat opened #316 "Workshop listings should be sortable on columns"
proposal: use JQuery DataTable for it.

[2016-08-08 08:27] Warlord77 opened #317 "Sign in via github is not working"
It authenticates with github but gives error like this.
![screenshot from 2016-08-08 13-55-30](https://cloud.githubusercontent.com/assets/16765365/17473781/fb33d97e-5d6f-11e6-98c5-92e41c9380bb.png)

[2016-08-08 17:23] bhanuvrat commented on #241
okay. let me check the status.

[2016-08-08 18:33] vnbang2003 commented on #288
If it doesn't mess existing blog and urls am fine to use it , less thing to manage.

[2016-08-08 18:43] shankisg commented on #300
I can work on it.  Question: Do you just want to add TextField for address.

I think it will good have separate field for address, city/town, state and pincode. Let me know what you think.

[2016-08-08 18:45] kracekumar commented on #300
On Tue, Aug 9, 2016 at 12:13 AM, Shanki <notifications@github.com> wrote:

Please add Map URL as well.

--
Regards
Kracekumar Ramaraj
http://kracekumar.com

[2016-08-08 19:03] shankisg commented on #300
Map url meaning:
1.  I need add a Url Field to allow user to put the any map url for the location.
2. Or I need to display map from the address provided by the user.

Which  one of the above point I should consider.

[2016-08-08 19:05] kracekumar commented on #300
On Tue, Aug 9, 2016 at 12:33 AM, Shanki <notifications@github.com> wrote:

Both :-) Collect url in the create page and display map in the detail page.

--
Regards
Kracekumar Ramaraj
http://kracekumar.com

[2016-08-08 19:18] shankisg commented on #300
Ok

[2016-08-08 20:48] lavish205 commented on #283
@vnbang2003 I'm working on it, can you please tell me whom to send mail whenever a new workshop requests comes in?

[2016-08-09 03:51] vnbang2003 commented on #283
@lavish205 it should be sent to people who are expressed interest to conduct workshop for that location.
You might find details of email here: https://github.com/pythonindia/wye/blob/master/wye/workshops/views.py

[2016-08-09 04:56] lavish205 commented on #283
Can you please specify line number? And in which model do we store data through which we can fetch details of people who has shown interest in that location?

[2016-08-09 10:18] harisibrahimkv opened #318 "Date filters on the workshop listing page."
Implement filters on the workshop listing page to filter by dates, topics, location, trainer, etc.

* This came up when we decided to pull up each week's workshops for preparing blog posts on them.

[2016-08-09 10:43] vnbang2003 opened #319 "Allow users to deactive their account"
Allow users to deactivate their account

[2016-08-09 10:45] vnbang2003 commented on #283
See line from 97- 122

[2016-08-09 11:27] kracekumar commented on #288
My vote is for new repo.

[2016-08-09 14:45] vnbang2003 commented on #288
Let create new repo .

[2016-08-09 14:59] lavish205 commented on #283
Cool, and what should be the content of email?

[2016-08-09 15:18] vnbang2003 commented on #283
https://github.com/pythonindia/wye/tree/master/wye/templates/email_messages/workshop/create_workshop

[2016-08-09 20:48] ChillarAnand opened #321 "Add a view to show past workshops?"
I think we can enhance profile page of tutor to display all workshop he conducted like github show commits in profile page. So each user profile page will be one place to get all information about the tutor and history .

[2016-08-12 15:59] vnbang2003 commented on #318
@ankur0493 Would you like to work on it ?

[2016-08-12 16:59] ankur0493 commented on #318
With a long weekend coming up, I guess I can.

Regards,
Ankur Gupta

On 12 Aug 2016 9:29 pm, "Vijay" <notifications@github.com> wrote:

[2016-08-13 06:59] #314 closed

[2016-08-13 07:00] #319 closed

[2016-08-13 07:39] vnbang2003 commented on #316
Add for Datatable plugin , but it need some clean up hence keeping its open.

[2016-08-14 12:37] kracekumar opened #322 "Rate tutors"
After the workshop is complete organizer can rate the tutor. The trainer's average rating can be displayed to the POC while presenting the enthusiastic tutors. The instructor profile can list all workshops tutored along with the rating. This feature helps the POC to choose the tutor based on performance.

[2016-08-15 04:58] shankisg commented on #300
Do we have google map api key generated.

[2016-08-15 06:29] vnbang2003 commented on #300
No yet but we can do when we push to production.

[2016-08-15 10:59] shankisg commented on #300
Ok, I have added GOOGLE_MAP_API constant in common.py . Please generate the key and update production.

Also the detail page will look as below, Let me know if it is fine.

![org-info](https://cloud.githubusercontent.com/assets/1298328/17662735/6a5dac68-6305-11e6-934b-5600500145f1.png)

[2016-08-16 06:24] ankur0493 commented on #318
Working on it.. Should be able to checkin by late evening today..

[2016-08-17 07:09] Anuj8826 commented on #241
@vnbang2003
I needed to know that the code base for automation does not involves modification in pythonindia/wye, so  where exactly am I supposed to do the PR.

[2016-08-17 07:26] bhanuvrat commented on #241
where is the code right now?

On Wed, Aug 17, 2016 at 12:39 PM, Anuj8826 <notifications@github.com> wrote:

--
Anuvrat Parashar
http://anuvrat.in

[2016-08-17 07:35] Anuj8826 commented on #241
https://github.com/Anuj8826/wye_automation

[2016-08-17 11:02] ankur0493 commented on #313
Seems the row is clickable only for regional leads, organizers, and admins (is_not_tutor is True for these):

`{% if is_not_tutor %}
   <tr class="clickable-row" data-href="{% url 'workshops:workshop_detail' workshop.pk %}">
{% else %}
  <tr>
{% endif %}`

Why so?

[2016-08-19 13:41] theskumar opened #327 "In tweets, try including workshop city if not complete addr is not possible."
Currently, the organization (containing name + address) detail is completely omitted if char length > 140, we should be able to optimize further with just including the city of organization and check if that fits within 140 char.

https://github.com/pythonindia/wye/blob/master/wye/workshops/models.py#L205-L209

@harisibrahimkv @vnbang2003  thoughts?

[2016-08-20 03:13] harisibrahimkv commented on #327
@theskumar Valid point. Doesn't hurt anyone to try that. Have pushed a fix.

[2016-08-20 03:46] theskumar commented on #327
Looks great, thanks :)

[2016-08-20 06:15] harisibrahimkv commented on #327
@theskumar Doesn't seem to be merged though: https://github.com/pythonindia/wye/pull/328

[2016-08-20 06:18] theskumar commented on #327
@harisibrahimkv ah my bad. @vnbang2003 can you look into this please. It seems i don't have merge access, so can't help it here.

[2016-08-20 06:19] #327 closed

[2016-08-20 06:20] theskumar commented on #327
Well, found the merge button :D

[2016-08-20 06:21] theskumar commented on #317
@vnbang2003 would it possible for you check if you got something in the email?

[2016-08-20 15:37] GeekyShiva opened #330 "Under Workshops, Github Link not working"
Under workshop section the reference to github link is not working for any workshop mentions on the website -
![github](https://cloud.githubusercontent.com/assets/14253823/17832147/a3431f14-6719-11e6-8b3e-0a1c97d53350.jpg)

[https://pythonexpress.in/workshops_info/](url)

[2016-08-21 14:08] realslimshanky opened #331 "Notification On New Workshop Registration"
If we can get some notification every time a new workshop is added it will be helpful for both volunteers and tutors.

[2016-08-27 04:13] shankisg commented on #300
Implementation merged to matser. #323

[2016-08-27 04:51] #300 closed

[2016-08-27 04:54] vnbang2003 commented on #301
We need to add celery job to
1) send Intro email 7 days before the workshop dates
2) Remainder Email 2 days before workshop
3) Feedback email on workshop day
4) Remainder of Feedback email after 2 days of workshop.

[2016-08-27 05:04] #318 closed

[2016-08-27 13:03] vnbang2003 commented on #301
@lavish205 Can you take up this workshop as part of Celery features ?

[2016-08-28 06:36] surajnarwade opened #333 "Add Aurangabad, Maharashtra as a location profile form"
I want to host python express at Aurangabad, Maharashtra, but it seems that its not in that location list, please add it asap.

[2016-08-28 06:40] ankur0493 commented on #331
@realslimshanky you already get an email everytime a new workshop is added if the workshop location is among your preferred locations

[2016-08-28 06:51] vnbang2003 commented on #333
Done.

[2016-08-28 06:51] #333 closed

[2016-08-28 06:52] vnbang2003 commented on #331
@ankur0493 He is speaking from point of view of organizer as it really tough to know new workshop added.

[2016-08-28 09:11] surajnarwade opened #335 "Reduce timespan of 2 week to organize workshop for convenience"
we want to organize workshop on 10th September but its giving us error of "Workshop request has to future dates at least 2 weeks from today". Please look into it.

Thanks & Regards,
Suraj Narwade

[2016-08-28 16:36] vnbang2003 commented on #335
We need 15 days to find volunteer and plan for logistics hence looks logic is fine.
If we need to customize date we can reachout to admin team and get dates changed.

[2016-08-28 16:36] #335 closed

[2016-08-29 09:45] lavish205 commented on #301
@vnbang2003 sure.
Why I'm unable to assign any issue to myself?

[2016-08-31 10:00] curioswati commented on #293
hey @vnbang2003 , Is there any work required here?

[2016-09-01 04:31] vnbang2003 commented on #293
I think ankur's fix will do

[2016-09-01 04:31] #293 closed

[2016-09-02 18:47] shankisg commented on #304
@vnbang2003 any plan on this.

[2016-09-03 02:08] vnbang2003 commented on #304
I think its dependent on issue : #302 .
Plan here is to get workflow where user can register them self as volunteer for workshop (2-3 user max) . Role of Volunteer is support to students along with tutor.

[2016-09-03 02:10] vnbang2003 commented on #292
@shankisg looks like we have detailed points here. Can you help with this ?

[2016-09-04 03:18] vnbang2003 opened #337 "Way to display feedback for workshop"
We need to add view where site admin can see feedback for each workshop happened.

[2016-09-04 03:24] vnbang2003 commented on #322
Rating feature is already there using feedback button[Both tutor and POC can share feedback]
Allowing POC to choose tutor would be bad idea instead we display tutor's avg rating and workshop conducted by share profile link of tutor.

[2016-09-04 03:32] #316 closed

[2016-09-04 03:38] vnbang2003 commented on #313
@ankur0493 I don't recall exact reason to add this condition but looks we don't need that condition.

[2016-09-04 03:42] vnbang2003 commented on #301
it been assigned to you now. Can we please get this asap

[2016-09-04 05:04] abhi9898 commented on #330
What is was supposed to do then ?

[2016-09-04 06:04] abhi9898 commented on #317
Checked it, there is no its working fine!

[2016-09-04 16:43] theskumar commented on #317
Thanks as we are not getting any other complains I'm closing this now

[2016-09-04 16:43] #317 closed

[2016-09-05 06:11] vnbang2003 commented on #330
It simple we need to link to material so people can use it as foundation.
We need to find material from tutors.

[2016-09-05 06:30] #315 closed

[2016-09-05 19:23] lavish205 commented on #301
@vnbang2003 can you please provide me email text and subject that need to be sent in aforementioned cases

[2016-09-05 19:35] shankisg commented on #304
Proposed plan this ticket/issue:

- Add new role as **Volunteer**
- When to ask for number of Volunteers required
    - When tutor accepts a workshop, it should display a popup asking for number of Volunteer required. Number should be a dropdown, range from 1-10 or 1-5 . (+1 for me) .
    - Or, Ask this to requester for number of Volunteer required, while adding workshop.

- Display **accept as Vo

[2016-09-06 06:31] vnbang2003 commented on #304
@shankisg To start with sound good. Let create new branch called dev and workshop this so we can continue to hot patch to master branch directly.

[2016-09-06 23:31] vnbang2003 commented on #283
@lavish205 Looks like  we have introduced bug and still email goes in bulk.
1) Email still goes in bulk
2) A email goes with None link as per screenshot of email.

All the code changes were pushed last sunday and we started see the above problem.

![screen shot 2016-09-07 at 4 58 04 am](https://cloud.githubusercontent.com/assets/316253/18294574/e96995a8-74b7-11e6-8151-ba73dc1ced34.png)

[2016-09-06 23:55] vnbang2003 commented on #283
I think we need to keep it simple and clear.
In between of lot of things i didn't notice that save is over written same old code to send email so we actually didn't fix bug.

[2016-09-07 02:11] bhanuvrat opened #341 "feature_request: display day along with date"
Instead of cross referencing the day with a calendar, to see if the workshop is on a weekend or not, if its displayed right there; choosing whether to accept a workshop or not would be a faster decision for trainers

[2016-09-07 03:06] shankisg commented on #304
@vnbang2003 , Ok.

To start with, tutor would be asked for number Volunteer required while accepting workshop.

[2016-09-07 07:07] Mehul2802 commented on #302
Hi,

I have volunteered for Python Express event.
I think, on dashboard there should be field called: Workshops that you have Volunteered.

Regards,
Mehul

[2016-09-07 16:21] vnbang2003 commented on #302
@Mehul2802 we can working on second version so it gone take some time.

[2016-09-08 16:58] mehul-m-prajapati opened #342 "Profile Edit button unresponsive on workshop details page"
Hi,

Clicking on edit profile button gives Page not found.

Regards,
Mehul

[2016-09-08 18:20] kracekumar opened #343 "Use dd-mm-yyyy format in tweet"
As of the automated tweet uses `yyyy-mm-dd` from the workshop. `dd-mm-yyyy` is readable and officially used in Indian context. https://twitter.com/pythonexpress/status/773946589744279552

[2016-09-10 12:33] vnbang2003 opened #344 "Add link to blog.pythonexpress.in"
http://blog.pythonexpress.in/posts/

[2016-09-10 12:33] vnbang2003 opened #345 "Add twitter feed in home page"
Add @pythonexpress twitter feed in home page

[2016-09-10 12:34] vnbang2003 commented on #344
@Praseetha-KR  Can you help us design this change in home page ?

[2016-09-10 12:34] vnbang2003 commented on #345
@Praseetha-KR  Can you help us design this change in home page ?

[2016-09-10 12:39] vnbang2003 opened #346 "Display testimony on web page"
@Praseetha-KR  Can you help with design for the same.

[2016-09-13 10:10] akarambir opened #347 "Emails html has no formatting"
Emails being sent regarding workshops are not properly formatted html emails. I didn't find any existing issue regarding this; so filing this one. Example:

<img width="565" alt="screen shot 2016-09-13 at 3 36 51 pm" src="https://cloud.githubusercontent.com/assets/653561/18470010/31d2590a-79c8-11e6-88d9-217a555f43d2.png">
 I would like to work on this one as a start. Then maybe help with #283

[2016-09-15 18:39] RishabhJain2018 commented on #342
@kracekumar @ChillarAnand @vnbang2003 Can I work on this issue?

[2016-09-15 19:09] RishabhJain2018 commented on #330
@vnbang2003 Can I work on this issue?

[2016-09-17 04:54] GeekyShiva commented on #330
please fix this issue because this not letting us use  the tutorials

[2016-09-17 04:56] vnbang2003 commented on #330
@RishabhJain2018 Pls go ahead

[2016-09-17 08:38] RishabhJain2018 commented on #330
@vnbang2003 Who are the current tutors so that I can find the material from them?

[2016-09-17 13:56] vnbang2003 commented on #330
@RishabhJain2018 I need to reach our to tutor and ask permission before we add it here.
Give me couple of days will update here once i listen from tutors

[2016-09-17 14:39] lavish205 commented on #301
@vnbang2003 any updates?

[2016-09-17 15:52] theparadoxer02 commented on #330
is it just going to add the link to the material,or should we have to create it ?
Also what will be taught in that material django or what ?

[2016-09-17 15:55] theparadoxer02 commented on #344
@vnbang2003 i would like to help

[2016-09-17 15:55] vnbang2003 commented on #301
@lavish205 : https://github.com/pythonindia/wye/wiki/Email-Templates

[2016-09-17 15:56] vnbang2003 commented on #344
@theparadoxer02 Please go ahead. Just share plan here only how you want to implement it.

[2016-09-17 16:27] sourabhtk37 opened #348 "Deactivating doesn't delete account from Database"
Things that needs to resolved:
1). Upon deactivating an account,there is no ability to reactivate the account.Maybe upon login in again can do the trick(similar to facebook).
2).Prompt message needs to shown to confirm action upon deactivating account.

[2016-09-17 17:10] theparadoxer02 commented on #344
we can add a new link named 'Blog' beside/between the 'Contact Us' and 'Login' button in header and can redirect to http://blog.pythonexpress.in

[2016-09-17 17:17] vnbang2003 commented on #344
I was thinking to add section in home page and display blogs from this link :http://blog.pythonexpress.in/posts/

Too many tab will look ugly.

[2016-09-17 17:58] lavish205 commented on #301
@vnbang2003 we are already sending workshop email reminder 7 days before the workshop start.
Do you want me to change existing function it to 2 days or you want to send reminder email both 7 days and 2 days before?

[2016-09-17 18:00] vnbang2003 commented on #301
@lavish205 we send two email 7 days before for preparation.
Two days before one to double check to know everything is on track.

[2016-09-17 18:04] theparadoxer02 commented on #344
so what are you planning to do ?

[2016-09-17 18:09] vnbang2003 commented on #344
I think add a tab with twitter feed and blog section would be better. Similar to one we have for PyCon India website's what happening section: https://in.pycon.org/2016/

[2016-09-17 18:12] vnbang2003 commented on #348
Deactivating mean no delete right ?
We don't allow hard delete presently it by design.
Are you suggesting we send email to user confirming account deactivation was successful.

[2016-09-17 18:32] sourabhtk37 commented on #348
1.How can i activate my ID again? email id: sourabhtk37@gmail.com
2.A prompt is what I was suggesting when a user tries to deactivate his account.
:)

[2016-09-17 19:32] RishabhJain2018 commented on #330
@vnbang2003 sure. :smile:

[2016-09-17 20:06] lavish205 commented on #301
@vnbang2003 where is the poc information in `workshop` model?

[2016-09-18 02:33] Warlord77 opened #350 "make a term and conditions checkbox for Python Express"

[2016-09-18 09:14] RishabhJain2018 commented on #350
@vnbang2003 @kracekumar Where this checkbox is required? I would like to help.

[2016-09-18 12:23] vnbang2003 commented on #350
@RishabhJain2018 this issue need more discussion and need to get terms and condition points.

[2016-09-18 12:30] vnbang2003 commented on #301
workshop.presenter.all() -- give you al tutor list
workshop.requester.user.all() - give you all poc from college
You need to send from contact@pythonexpress.in and contact@pythonexpress.in need to CC for each email.

[2016-09-18 12:32] vnbang2003 commented on #348
Good points
1) Please Open new issue on how to reactivate user.
2) We can use this issue with updated comment.

[2016-09-18 13:04] RishabhJain2018 commented on #350
@vnbang2003 okk sure.

[2016-09-19 06:30] PabitraPati commented on #298
I would like to work on this

[2016-09-19 06:41] vnbang2003 commented on #298
@PabitraPati Yes go ahead . TO be on same page can you share brief plan on how you want design it.

[2016-09-19 09:14] PabitraPati commented on #298
First User has the option to select a particular state from Dropdown.
Once selected, the registered locations will be displayed in the next dropdown along with 'Other' as an option. If User selects "Other" in location, then a new input box will be presented for entering the location.

This is what I am thinking of. Please Share your inputs @vnbang2003

[2016-09-19 13:59] sourabhtk37 opened #351 "Deactivating doesn't delete account from Database"
Things that needs to resolved:
1). Upon deactivating an account,there is no ability to reactivate the account.Maybe upon login in again can do the trick(similar to facebook).
2).Prompt message needs to shown to confirm action upon deactivating account.

[2016-09-19 13:59] #348 closed

[2016-09-19 17:00] vnbang2003 opened #352 "Profile: Make linkedin or github link as mandatory for each tutor"
We need to add additional condition for each user with usertype "tutor" to fill either linkedIn or github profile so we can share it with college POC tutor bio.

[2016-09-19 18:03] lavish205 commented on #301
and we are sending emails to all users which we get from `workshop.presenter.all()` + `workshop.requester.user.all()`, right?

[2016-09-20 20:42] RishabhJain2018 commented on #352
@vnbang2003 Can I pick up this issue?

[2016-09-20 20:57] RishabhJain2018 commented on #209
@vnbang2003 @ChillarAnand @kracekumar Can I pick up this issue?

[2016-09-21 04:29] vnbang2003 commented on #209
@RishabhJain2018 Just drop message saying "you are working on it" and short description on how you want to implement it.

[2016-09-21 04:29] vnbang2003 commented on #352
@RishabhJain2018 Just drop message saying "you are working on it" and short description on how you want to implement it.

[2016-09-21 04:33] vnbang2003 commented on #298
That looks good. We might need to make same changes in two location
1) Profile page
2) organisation

[2016-09-21 04:52] vnbang2003 opened #354 "Display tutor's info in workshop details page"
In the workshop details page we display college and tutor contact info.
We have been getting lot of request from college to display tutor's info like location, linkedin, github link .

[2016-09-21 05:42] RishabhJain2018 commented on #352
@vnbang2003 Okk sure I am working on it.

[2016-09-21 06:41] RishabhJain2018 commented on #352
@vnbang2003 I am planning to implement it by writing a decorator for the completion of github or linkedin link . Once the user fills any of  these two fields then he can view other things in the website and if the user doesn't fill, then he can't. I will also display a message saying that "you need to fill github or linkedin " so as to proceed further.

[2016-09-21 06:45] vnbang2003 commented on #352
Sound good. Just one point we need to make one more decorator like from wye.base.views import verify_user_profile to not allow tutor accept without this field been entered.

[2016-09-21 14:09] vnbang2003 opened #355 "send remainder email to college POC on next level of workshop they can request"
Presently college request for begineer level workshop and many time don't know what next can be done.
We can add feature to send email in month or quaterly  to college POC informing them next set of workshop they can request based on what they have requested in the pass.

[2016-09-21 14:09] vnbang2003 opened #356 "In feedback ask if college is interested for next level of workshop"
In the feedback form we can add question asking if college is interested to receive remainder on next level workshop they can request.

[2016-09-22 01:29] PabitraPati commented on #298
While trying to do the setup on my fedora I am facing issue. Any help !!!
Or the setup only can be done in Ubunut machine ?

On Wed, Sep 21, 2016 at 10:03 AM, Vijay <notifications@github.com> wrote:

--

*Thanks,*

*Pabitra*

[2016-09-22 16:08] vnbang2003 commented on #298
@PabitraPati It can be setup on any OS.What error you are facing ?

[2016-09-23 01:57] vnbang2003 opened #357 "In your profile setting change interested location to interested state"
As our database is growing we should not change  In your profile setting change interested location to interested state.

[2016-09-23 02:00] vnbang2003 opened #358 "Ack user via twitter account once workshop is completed"
Once the workshop is completed we should tweet using pythonexpress account thanking user for help in conducting workshop.

[2016-09-23 02:17] vnbang2003 opened #359 "Marking event like pythonmonth."
Every year one month we conduct PyCon india  run up event . We should mark in our Db and pull all workshop list conducted during that month.

[2016-09-23 02:19] vnbang2003 opened #360 "Trigger email for workshop whose rating are having -1 feedback rating"
Trigger email for workshop whose rating are having -1 feedback rating
Will put more detailed explanation soon.

[2016-09-23 02:58] vnbang2003 commented on #330
@RishabhJain2018 Few link are here: https://github.com/pythonindia/wye/wiki/Resources

[2016-09-23 03:24] PabitraPati commented on #298
I could not find libpq-dev & libjpeg-dev for fedora.

[2016-09-23 15:57] vnbang2003 commented on #298
@PabitraPati i think its OS issue.

[2016-09-24 11:31] pulkitpahwa commented on #321
Do you think this would be a good feature?

How about a view for the list of all workshops that were organized in the past?

[2016-09-24 11:49] pulkitpahwa opened #361 "Request to add information about Python on homepage"
We should add information about Python and the companies using Python on the homepage.

This could be a good feature for the college authorities who are visiting PythonExpress on someone's request.

I feel that this would be a good feature because when I asked my college teachers to request a workshop from PythonExpress, the first few questions that I faced were:

- What is Python
- Who is using P

[2016-09-24 11:50] pulkitpahwa commented on #361
@theskumar @vnbang2003 If you think this is a good feature to do, I can make a pull request.

[2016-09-24 12:33] vnbang2003 commented on #321
once we reach 200 + workshop page will go out of control. Instead we can display in profile users workshop they conducted.

[2016-09-25 11:40] kracekumar commented on #288
Blog is at here https://github.com/pythonindia/wye-blog

[2016-09-25 11:40] #288 closed

[2016-09-25 11:45] kracekumar opened #363 "First workshop email"
When a workshop is confirmed, a volunteer sends across templated introduction email to `tutor, POC`. This step can automate using Celery and Sendgrind and removes volunteer bottleneck.

Here is the email

"""
<Salutation>

Welcome aboard. PythonExpress would like to take the liberty of introducing the Trainer and Point of Contact for the workshop scheduled for <date> and on the <topic>.

Point of

[2016-09-26 07:23] theskumar commented on #361
I think it would nice to have. @vnbang2003 thoughts?

[2016-09-26 18:11] sourabhtk37 commented on #269
Will try to implement. @vnbang2003

[2016-09-27 18:33] aniketmaithani commented on #358
Two things that are coming to my mind.
- Do you want to send a generic message static a particular 'TUTOR' has completed the workshop.
- Or Do you want us to tag the user as well. [2]
if 2nd point is to be considered then what if that particular user ID isn't registered on TWITTER? or we don't have his/her credentials.
or as you say "KEEP IT SIMPLE" just thank the TUTOR and that's all. @vnbang2003

[2016-09-28 07:57] ChillarAnand opened #365 "Accept workshop button is not working"

[2016-09-28 15:19] vnbang2003 commented on #361
I think it nice but UX is my worry. Can you send pull request with UI change so we can understand it better.

[2016-09-28 15:24] vnbang2003 commented on #358
I would for now go with
Do you want to send a generic message static a particular 'TUTOR' has completed the workshop.

[2016-09-29 07:40] bhanuvrat commented on #363
Should the requirements / restrictions also be mentioned here, or should they be there before the POC submits the request.

basic requirement
 - decent Internet connection for every attendee.
 - Working Projector and screen.
 - adequate air conditioning systems.

restrictions:
 - Not more than 40 attendees in one room.
 - decent amplifier system with wireless mic if attendees > 25

et, el

Two of

[2016-09-29 10:13] seenureddy commented on #270
Are you guys working on this @vnbang2003 @RishabhJain2018 ? I'm planning to take this ticket.

[2016-09-29 10:32] seenureddy opened #366 "Change the UserType To Enum Kind Of declarations. Remove the hard coding slug values."
I'm suggesting Enum kind of declaration is the best way to remove the hard coding values in UseType model. Check the following links:
1) https://www.quora.com/What-is-the-best-way-to-implement-enums-in-Python
2) http://stackoverflow.com/questions/36932/how-can-i-represent-an-enum-in-python

I have followed this style in one of my projects. This is for Python2.7.

Class Type:
        A,B,C = range(

[2016-09-29 14:45] vnbang2003 commented on #270
Please share plan and let work on it.

[2016-09-29 14:45] vnbang2003 commented on #363
@bhanuvrat We can add in FAQ section.

[2016-09-30 15:20] pulkitpahwa commented on #361
@vnbang2003 It can be done by adding a link to the page containing the details of *Why should anyone be learning Python?*. Check image for more details.

I feel FAQ have a different call to action, adding *Why should you learn Python?* here increases more chances that user will access the page. FAQ (in general) seems to be the answer to user queries regarding workshop content, etc.

![wye-proposal

[2016-09-30 16:28] vnbang2003 commented on #361
@pulkitpahwa That sound good. but add image instead of text.

[2016-09-30 21:38] aniketmaithani commented on #214
Just commenting for future reference :

This problem can be resolved by firing the following command.
[code]

[2016-09-30 21:39] aniketmaithani commented on #358
Cool. Got your point

[2016-10-01 14:27] curioswati commented on #365
@ChillarAnand I just tested, it is working.

[2016-10-02 14:15] curioswati commented on #283
@vnbang2003, @lavish205 does this issue need work and if so, should I take it?

[2016-10-02 14:26] lavish205 commented on #283
I have already created a PR for it.
Anyways thanks @curioswati

[2016-10-02 15:18] curioswati commented on #354
I am working on it.
Just want UI suggestions.
should I add the links next to the name in the same line and show each name on a new line?

like this:

![screenshot from 2016-10-02 20 46 16](https://cloud.githubusercontent.com/assets/8040201/19021527/4eb6a2ec-88e1-11e6-9dfa-7b83f9a4d288.png)

[2016-10-03 05:16] vnbang2003 commented on #354
Let's link with each name user profile link .
Just curious how do you plan to display info using profile page ?

[2016-10-03 05:21] vnbang2003 commented on #283
@lavish205 : Can you please fix the Pull request issues ?
We also would like to see test case you tried on you local to test code.

[2016-10-03 14:03] curioswati commented on #354
That is, on clicking user's name, we should redirect to profile page?

I was using the workshop.presenter.profile to get the details. inspired from a model method in workshop models named `get_presenter_list`.

[2016-10-04 07:25] vnbang2003 opened #367 "Add Facebook link in footer"
Add Facebook page link in footer : https://www.facebook.com/PythonExpressdotin/

[2016-10-05 14:36] curioswati commented on #354
@vnbang2003 will any test be required here?

[2016-10-05 16:07] vnbang2003 commented on #354
@curioswati Yes If we have backend changes.

[2016-10-06 17:53] sourabhtk37 commented on #367
ON it.
Acha and can we use label hacktoberfest to attract more developers to work on issues?
(Just a suggestion :+1: )

[2016-10-06 18:07] sourabhtk37 commented on #367
To be frank I can't find the html file(footer) where I need to put the fb link.There are so many HTML files.

[2016-10-07 04:20] vnbang2003 commented on #367
@sourabhtk37 its in settings.py i guess

[2016-10-07 07:13] mehul-m-prajapati opened #368 "Page for sharing slides and other training materials"
Hi,

I believe, there should be a page to download materials (ppt or pdf files) which are used by tech person who conducts seminars.

This way other people who are at different location can get knowledge from it.

Regards,
Mehul

[2016-10-10 05:47] vnbang2003 commented on #304
@shankisg Any update on this ?

[2016-10-10 05:48] vnbang2003 commented on #294
Closing this issue as we have #304  work in progress to address this.

[2016-10-10 05:48] #294 closed

[2016-10-10 05:49] shankisg commented on #304
@vnbang2003 planning to ad PR by this week.

[2016-10-10 07:51] vnbang2003 commented on #343
https://github.com/pythonindia/wye/tree/profile-enhancement

[2016-10-10 07:51] #343 closed

[2016-10-10 07:52] vnbang2003 commented on #357
https://github.com/pythonindia/wye/tree/profile-enhancement

[2016-10-10 07:52] vnbang2003 commented on #305
https://github.com/pythonindia/wye/tree/profile-enhancement

[2016-10-10 07:52] #305 closed

[2016-10-10 07:52] #357 closed

[2016-10-10 07:52] vnbang2003 commented on #341
https://github.com/pythonindia/wye/tree/profile-enhancement

[2016-10-10 07:52] #341 closed

[2016-10-10 07:52] vnbang2003 commented on #352
https://github.com/pythonindia/wye/tree/profile-enhancement

[2016-10-10 07:52] #352 closed

[2016-10-10 08:05] #330 closed

[2016-10-10 08:05] vnbang2003 commented on #351
@vanishan Any update on this ?

[2016-10-10 08:06] vnbang2003 commented on #365
Marking as duplicate: https://github.com/pythonindia/wye/issues/342

[2016-10-10 08:07] vnbang2003 commented on #342
@RishabhJain2018 Are you working on it ? Any ETA ?

[2016-10-10 08:07] vnbang2003 commented on #368
Marking it as duplicate:  #340
https://github.com/pythonindia/wye/issues/330

[2016-10-10 08:08] #368 closed

[2016-10-10 08:09] vnbang2003 commented on #366
it was by choice we wanted to make it DB table. hence marking it as wontfix.

[2016-10-10 08:09] #366 closed

[2016-10-10 08:09] #365 closed

[2016-10-10 08:12] vnbang2003 commented on #298
@PabitraPati Any update on this ?

[2016-10-10 08:13] vnbang2003 commented on #270
We have got FB page now
@seenureddy  Are you planning to work on it  ?

[2016-10-10 08:16] vnbang2003 commented on #342
@mehul-m-prajapati Can you elaborate more as i see edit button work for us.

[2016-10-10 08:18] vnbang2003 commented on #269
@sourabhtk37 Any update on this ?

[2016-10-10 08:20] #367 closed

[2016-10-10 08:39] mehul-m-prajapati commented on #342
Hi,

I am using Chrome Version 53.0.2785.143 m

1. Logging into account
2. Clicking on Profile.
3. Clicking on Edit button
![capture](https://cloud.githubusercontent.com/assets/7879392/19230599/0c4b6efc-8ef3-11e6-8b3e-aefa93345d16.PNG)

![capture1](https://cloud.githubusercontent.com/assets/7879392/19230609/1ac06032-8ef3-11e6-945a-7879d11bfdc8.PNG)

[2016-10-10 17:15] sourabhtk37 commented on #269
I am still stuck with location thing,still in learning phase na that's why. But trying my level best.

[2016-10-12 09:30] vnbang2003 opened #374 "In Edit profile allow user to change first_name and last_name"
In Edit profile allow user to change first_name and last_name

[2016-10-12 13:16] mehul-m-prajapati opened #375 "Adding new topic on Raspberry-Pi"
Hi,

IoT is booming now a days and R-Pi provides IoT support.

We can run python and by installing its libraries, we can also control some hardware like GPIO.

Simple projects like line follower robot can be made using Python and R-Pi.

I believe, we should add this **topic:** R-Pi with Python

[2016-10-12 19:18] pulkitpahwa commented on #361
@vnbang2003

Did you mean that the text **Why should you learn Python?**  be an image and not text ?

[2016-10-13 06:20] vnbang2003 commented on #361
I mean text looks very long and doesn't fix UX . We need to find better way to display it .
@Praseetha-KR Can you help @pulkitpahwa  on UX here ?

[2016-10-15 11:16] #374 closed

[2016-10-15 11:18] vnbang2003 commented on #375
Couple things before we add
1) How many tutor can help us with this
2) Topic (https://pythonexpress.in/workshops_info/)
3) Material example for reference.

[2016-10-15 17:20] vnbang2003 commented on #363
Closing this as fix it done for #301 and we have pull request for the same.(https://github.com/pythonindia/wye/pull/353)

[2016-10-15 17:20] #363 closed

[2016-10-15 17:23] vnbang2003 commented on #337
@Praseetha-KR Can you help with this UX.
To give more context Once workshop is complete we have tutor and college poc both to share feedback and comments. Presently we don't display it so we want way to display it only to tutor and college poc.

[2016-10-15 17:24] #307 closed

[2016-10-16 11:45] #313 closed

[2016-10-16 11:50] vnbang2003 opened #376 "Seperate Feedback question for tutor and college poc"
Presently we ask same question to both tutor and college poc.
We need to separate feedback question based on user logged in (tutor or college poc).
Designed should be done so that in future we should be able to get feedback from student also.

[2016-10-16 11:55] vnbang2003 commented on #321
Closing this ticket as by design we want to show details on profile page.
This details will be soon display in profile page .

[2016-10-16 11:55] #321 closed

[2016-10-16 11:56] vnbang2003 commented on #304
@shankisg We are getting some help with UX. If you can send pull request asap we can ask our UX expert to take a look and help with design.

[2016-10-16 11:56] #308 closed

[2016-10-16 11:59] #306 closed

[2016-10-16 12:02] vnbang2003 commented on #212
Closing it as wontfix

[2016-10-16 12:02] #212 closed

[2016-10-16 14:16] vnbang2003 opened #377 "Excel export report"
1) All tutor list.
2) All college poc names.
3) All users in our system.

[2016-10-18 13:31] mehul-m-prajapati commented on #375
1) How many tutor can help us with this
-I am the one. May be we need to find some new tutors for this

2) Material example for reference.
-We can add basic porting of Ubuntu file-system, running python, using python libs for H/W handling etc.

I am currently working to make reference materials.

[2016-10-18 14:07] aditya-konarde commented on #347
Hello,
I would like to work on this as my first contribution. Could you please tell me where I can start? :)

[2016-10-18 15:03] vnbang2003 commented on #347
@aditya-konarde I think you need to look at send_email function and check if we pass both html and txt content that would fix the issue.

[2016-10-18 15:04] vnbang2003 commented on #375
Excellent . Let get reference material so we an start moving on this.

[2016-10-19 16:40] taraadiseshan commented on #360
I'm interested in this issue! Setting up the dev env and will be back with any questions

[2016-10-21 17:41] vnbang2003 opened #378 "Add created_user and modified_user fields for workshop Feedback, voting models"
Add created_user and modified_user fields for workshop Feedback, voting models
Default value of created_user and modified is logged in user.

[2016-10-23 04:55] #378 closed

[2016-10-23 04:57] #376 closed

[2016-10-26 04:21] vnbang2003 commented on #342
@Praseetha-KR Can you help us with this ?

[2016-10-26 04:22] vnbang2003 commented on #346
fixed: https://github.com/pythonindia/wye/pull/380

[2016-10-26 04:22] #346 closed

[2016-10-26 04:23] vnbang2003 commented on #345
FIXED : https://github.com/pythonindia/wye/pull/380

[2016-10-26 04:23] #345 closed

[2016-10-26 04:23] vnbang2003 commented on #344
FIXED: https://github.com/pythonindia/wye/pull/380

[2016-10-26 04:23] #344 closed

[2016-10-26 04:24] #256 closed

[2016-10-26 04:25] vnbang2003 commented on #354
@curioswati Can you make UI changes for it asap so we can have @Praseetha-KR  look and share her inputs from UX point of view.

[2016-10-26 18:01] vnbang2003 opened #382 "Feedback form validation"
In the feedback form if we don't enter comment or answer any question it show blank message without reload whole form.

[2016-10-27 04:12] vnbang2003 opened #383 "Add new partnership request form similar to Contact form"
As next steps we are opening up pythonexpress to partners hence we need form where organization can connect to us with queries on this.
The form should have below fields
1) Name of organization ?
2) Type of organization(Profit or Non-profit) ?
3) Describe how your organization will help both of us ?
4) Do you want to sponsors or support financial this project ?
5) Are you aware of PythonExpress pa

[2016-10-27 04:16] vnbang2003 opened #384 "Partnership logo display"
@Praseetha-KR  as we are planing to have partner to pythonexpress project . We need to make place holder for display of logo of partners.
Am assigning it to . Hope this is fine.

[2016-10-29 06:20] #382 closed

[2016-10-29 07:18] #302 closed

[2016-11-01 12:55] #383 closed

[2016-11-03 01:34] seenureddy commented on #270
Yes I'm planing to working on it.

[2016-11-03 02:01] seenureddy commented on #270
<input type="checkbox" value="Facebook Auth"><label for="Facebook Authentication"> Facebook Authentication </label>

[2016-11-05 06:24] sivaa opened #387 "Workshop Section 'Rest apI development' should be 'REST API Development'"
Workshop Section 'Rest apI development' should be 'REST API Development'

[2016-11-05 06:29] sivaa opened #388 "Tutor - Update Profile - Issues on Interested sections & Interested State"
The previously saved values of "Interested Sections" and "Interested State" should be highlighted whenever "Update Profile" screen is opened.

[2016-11-05 19:23] #387 closed

[2016-11-05 19:31] vnbang2003 commented on #388
@sivaa I don't see this bug . Can you check again ?

[2016-11-09 11:09] sivaa commented on #388
"Interested Sections" field is working now. But, "Interested State" is still not highlighting my selections.

[2016-11-10 14:21] curioswati commented on #358
is some one working on it? @vnbang2003 @aniketmaithani could you tell? else l would like to take it.

[2016-11-10 16:07] vnbang2003 commented on #358
@curioswati This is to ack user on successful completion on workshop.
We need to get twitter handler name from the profile twitter fields(User can just share twitter username (vnbang2003) or share profile link (https://twitter.com/vnbang2003)
Once workshop is moved to stage Feedback complete or completed we do auto tweet thanking him.

Clear ?

[2016-11-11 13:58] curioswati commented on #358
okay, I am working on it.

[2016-11-11 14:43] curioswati commented on #358
@vnbang2003 how a workshop is marked completed?

[2016-11-11 15:11] curioswati commented on #358
and few points to clear:
* should I create a celery task? since the function needs to interact with an external API, so if in case it fails it should be re sent.
* what should I do for twitter app credentials, should I create my own twitter app credentials?
* how would I test if its working, should I create a fake account or do we have some fake account already that I can use.

and anything that I

[2016-11-11 17:38] #388 closed

[2016-11-12 04:09] vnbang2003 commented on #298
@Praseetha-KR Can you help on this with front end changes. Backend i will take care to change once front end is done.

[2016-12-04 22:32] PabitraPati opened #390 "Tutor Share Feedback fails with error message."
1. Login as Tutor.
2. Go to workshop page. For any workshop conducted, you will be shown share Feedback link.
3. Click on the link and fill the required details. Click the 'Submit' button

Observation :
 - Currently, clicking on the 'Submit' button, says - "something went wrong. Mail sent to webmaster." (Attached the screenshot for the same).
 - In the top right corner, Login and Sign up buttons a

[2016-12-05 16:37] vnbang2003 commented on #390
@shankisg Can you help with this ?

[2016-12-25 12:48] vnbang2003 opened #391 "Add FSMK as partner(Community)"
Add FSMK as partner(Community)
![fsmk_logo](https://cloud.githubusercontent.com/assets/316253/21471174/91c55d06-cace-11e6-95c2-d924d0605736.png)

[2016-12-28 07:31] #297 closed

[2016-12-28 09:03] #377 closed

[2016-12-28 14:13] #390 closed

[2016-12-31 12:43] vnbang2003 commented on #216
@vigneshsarma  Can we try to move to python3.5 . I am working on migrating to django 1.10 (Branch :https://github.com/pythonindia/wye/tree/pyup-initial-update)

[2016-12-31 14:55] vigneshsarma commented on #216
Let me see...
BTW, wye currently only runs on 3.5, nothing else... https://travis-ci.org/vigneshsarma/wye/builds/187901104

[2017-01-15 14:31] vnbang2003 opened #401 "Clean up : Create One base template and use include for other email templates"
Clean up : Create One base template and use include for other email templates
Presently we copy all html content in all email html file. We need to create one base_email.html and extend the same in other . This will reduce lot of html repeat code.

[2017-01-15 15:19] #301 closed

[2017-01-22 11:23] vnbang2003 commented on #304
@shankisg  I have merged the code with new branch:
Couple of Point
1) opt out as volunteer button  was not working on safari browser
2)Once I opt as volunteer we need to display full name, email id and Mobile number only to tutor.
3) Test Case to support it.

[2017-01-30 14:15] shankisg commented on #304
Ok

[2017-02-05 17:24] vnbang2003 commented on #304
@shankisg  I merged code with development branch . Can you please help test once again so i can plan to push to prod once you give 👍

[2017-02-06 03:25] shankisg commented on #304
@vnbang2003 Will check and let you know.

[2017-02-06 16:08] vnbang2003 opened #405 "Partnership email is not getting delivered"
Partnership email is not getting delivered.

[2017-02-06 16:09] #401 closed

[2017-02-08 12:25] vnbang2003 opened #406 "Add New state of workshop which couldn't be completed"
Add New state of workshop which couldn't be completed

[2017-02-09 07:32] ChillarAnand opened #407 "Show upcoming workshops to tutors"
When user is not logged in, PE shows upcoming workshops

![uw](https://cloud.githubusercontent.com/assets/4463796/22773396/f715afac-ee6f-11e6-89fd-04884d362f69.png)

After logged in its not showing up
![w](https://cloud.githubusercontent.com/assets/4463796/22773401/fc2732a4-ee6f-11e6-87e2-093cdfb90843.png)

[2017-02-11 18:59] shankisg commented on #304
@vnbang2003 tested volunteer flow, looks good to me

[2017-02-12 11:26] #407 closed

[2017-02-12 11:27] #406 closed

[2017-02-12 14:52] #405 closed

[2017-02-12 14:55] vnbang2003 commented on #304
Code is checked in hence closing this issue.
@shankisg  Thanks for helping.

[2017-02-12 14:55] #304 closed

[2017-02-12 14:56] vnbang2003 commented on #337
@shankisg Can you help in design this and come up with plan for this feature ?

[2017-02-12 15:29] vnbang2003 commented on #347
With Latest change with email template, we have fixed hence closing it.
Do reopen if find again email broken.

[2017-02-12 15:29] #347 closed

[2017-02-13 16:04] vnbang2003 opened #409 "Add additional conditional on remainder celery task"
Add additional conditional on remainder celery task to send emails on if presenters are assigned.

[2017-03-05 07:43] #391 closed

[2017-03-05 14:51] #337 closed

[2017-03-12 11:58] vnbang2003 opened #413 "Drop email to mailing list using mailman api"
https://mailman.readthedocs.io/en/latest/src/mailman/rest/docs/domains.html

[2017-03-18 16:52] vnbang2003 commented on #342
Closing it as won't fix as its a rare case.

[2017-03-18 16:52] #342 closed

[2017-03-18 16:54] #354 closed

[2017-03-18 16:54] vnbang2003 commented on #283
Have fixed it hence closing it.

[2017-03-18 16:54] #283 closed

[2017-03-18 16:55] #285 closed

[2017-03-18 16:56] vnbang2003 commented on #269
This is taken care with latest fix.

[2017-03-18 16:56] #269 closed

[2017-03-18 17:04] vnbang2003 commented on #384
For now i have added additional page hence closing it.

[2017-03-18 17:04] #384 closed

[2017-03-18 17:06] vnbang2003 commented on #322
We have fixed this rating issue. hence close it as fix.

[2017-03-18 17:06] #322 closed

[2017-03-26 09:27] #409 closed

[2017-03-26 09:37] vnbang2003 opened #416 "Hide Feedback button"
We should hide feedback button once user had submitted feedback for the workshop.

[2017-03-27 16:11] vnbang2003 opened #417 "Fix the queries to display workshop and organization info based on user"
Fix the queries to display workshop and organization info based on user .
Presently we display almost all workshop in dashboard page which might not be useful for user.

[2017-03-27 16:25] vnbang2003 opened #418 "Workshop listing page"
In the workshop listing page we should all workshop and even completed.
We should just show user completed workshop and upcoming workshop based on user preference location(As defined in profile page) .

[2017-04-05 07:11] kracekumar opened #419 "Prevent inbox flooding for admin"
When a new workshop is accepted, all important folks receive notification. In the process, admins are CC'ed, and this leads to inbox flooding. With mobile push notifications from an email client, the experience annoys me. I'd suggest in bringing in the better experience of not CC'ing admin in the outgoing email and reply to being set as `contact at pythonexpress` (if not already).

Allow the user

[2017-04-10 16:22] vnbang2003 opened #420 "Added about Travel reimbursement in FAQ Page"
Added about Travel reimbursement  in FAQ Page

[2017-04-10 16:25] vnbang2003 opened #421 "Added additional fields in workshop form"
Add new fields in the workshop form page (Travel, certificate, accomdation, in case we don't get local volunteer can they cover travel cost for tutor from other city).

[2017-05-06 17:53] #51 closed

[2017-05-06 17:53] #178 closed

[2017-05-06 17:53] #180 closed

[2017-05-06 17:53] #182 closed

[2017-05-06 18:01] vnbang2003 opened #422 "Autofill location from database"
We should show autofill option for user on location already that been added in our database.
In case user typed location is not present in our database  , we show state drop down also and create new location in our system.

Hint: It could involve a bit of javascript work .

[2017-05-06 18:08] vnbang2003 opened #423 "Add new user role : Student"
we need to add new user role student in our system.
In case user select in profile as student , we need to ask him to select college from our database.
Presently we will allow user only for register database.

[2017-05-06 18:10] vnbang2003 opened #424 "Register for workshop from student"
We should allow user to register for workshop in thier college.
This will provide user to share feedback to us directly .

This issue is depedent on #423.

[2017-05-06 18:11] vnbang2003 opened #425 "Student Feedback form"
We need to come with set of question for student feedback form.
Once question are decide , we need to create form and enable student to fill form if they register for the workshop and it been completed.

[2017-05-06 18:13] vnbang2003 commented on #361
@harisibrahimkv Would you like to help with it.

[2017-05-07 13:32] vnbang2003 opened #426 "User profile page's Contributions table"
Presently in profile page's contributions we display workshop in all text.

![screen shot 2017-05-07 at 6 56 05 pm](https://cloud.githubusercontent.com/assets/316253/25781418/b1807c10-3357-11e7-8695-edc244e05a95.png)

We should divide it to columns like Section, Date , number of participants and location.
Each Column should be filterable.

[2017-05-07 13:37] vnbang2003 opened #427 "Remove location field from workshop model"
We can get the location infomation from requester(organisation) fields so workshop model's location looks to be duplicate.
Scope of change:
1) Change models
2) Change workshop filter queries (multiple files) to use requester__location instead of location

[2017-05-07 14:03] vnbang2003 opened #428 "Naming Milestone/badges for tutors"
Add milestone/badges name based on number of students tutor teaches .
Below is what am thinking
presenter - 0- 500
super teacher :  >1, 000
Lead teacher : > 2, 000
Role models teacher > 4, 000
Inspirations teacher > 6, 000
Community Teacher > 10,000

@all  Can you help us suggesting name ?

[2017-05-07 14:07] kracekumar commented on #428
Six badges sound good for initial launch. More badges can be added later. Please stick with the singular name.

[2017-05-08 03:54] harisibrahimkv commented on #361
@vnbang2003 Are you asking me to do UI / UX? ☺️

If it is content that you're looking for, yes, I'll write up something.

We already have a bit about PythonExpress on the page.

If we are going to put "What is Python" & "Who uses Python" on the homepage too, it might get a bit clunky. Might be best to work together with a UI/UX person so that we can decide how my content to write.

I'll anyway com

[2017-05-08 06:58] vnbang2003 commented on #361
@harisibrahimkv We are looking for content. Once we get content, we can get the suggestion from UI/UX team and place in on website .

[2017-05-08 16:07] morrme commented on #422
but what about https://github.com/pythonindia/wye/issues/427

[2017-05-09 04:10] vnbang2003 commented on #422
@morrme #427 is about removing duplicate location field and this bug to allow a user to add new using organisation creation page.

[2017-05-10 16:50] vnbang2003 commented on #299
Duplicate bug hence closing it

[2017-05-10 16:50] #299 closed

[2017-05-10 16:50] #273 closed

[2017-05-10 17:21] vnbang2003 opened #429 "Remove static web content and make it configurable."
I think to make project adportable by other community we need to remove static conent and make it confirguable though static page.
This wil also help content team to easy change content.
I can be divided in multiple sub tickets
1) Home page
2) FAQ
3) Section on home page should also be confiration so users they can hide section not relevant to them.

[2017-05-11 20:17] sourabhtk37 commented on #428
We can use something similar to StackOverflow badges.
The "Teacher" is not required in badges since I suppose it's inherent.

[2017-05-12 22:39] rahulxxarora commented on #331
Hi, @vnbang2003 I am new to this community and would like to take this up since it was mentioned under 'easy' label. I have already set up the dev env on my machine, can you please let me know where should I begin from?

[2017-05-27 09:38] ashishjain28 commented on #209
@vnbang2003 I am working on it. I will check if the user is already logged in before creating the form instance, if yes then I will initialize the name and email field.

[2017-06-13 09:46] BlackImpermanence commented on #418
= = it's ok

[2017-06-15 08:07] sourabhtk37 commented on #429
Can you please elaborate on this a bit more?
do you want to have static content totally moved to it's own page and be included in the template using
`{% include "page.html" %}`.

[2017-06-17 05:24] #209 closed

[2017-06-17 05:28] vnbang2003 commented on #429
We should add file similar to common/base/constants.py to add all web page static content including logo path.
Each page should render content from this page.

Let me know if it make sense.

[2017-06-19 14:54] sourabhtk37 commented on #429
None whatsoever.

[2017-07-11 10:46] #375 closed

[2017-07-24 17:20] #427 closed

[2017-07-24 17:20] #426 closed

[2017-07-24 17:20] #424 closed

[2017-07-24 17:21] #423 closed

[2017-07-24 17:21] #421 closed

[2017-07-24 17:24] #419 closed

[2017-08-24 06:06] sourabhtk37 opened #433 "Receiving mails not relevant to me"
I have been receiving mails (not that frequently but it's a reproducible) saying `Your organization's workshop request on "Month X, XXXX" has been successfully added!`. Only to see that it's not my organisation. Below are some screenshots of the actual mail and workshop to make things clear:

- This is the recent mail I got.

![screenshot from 2017-08-24 11-26-52](https://user-images.githubusercon

[2017-09-14 09:13] ananyo2012 opened #438 "Add HydPy Logo in Partners page"
As @chirag200666 informed HydPy is now a Partner of Python Express. I will add the logo for HydPy in the Partners page and send a PR.

[2017-09-14 12:54] modestlearner opened #439 "Change [\d]+ to [0-9]+ in urls"
Change the [\d]+ to [0-9]+ according to the newer version of Django.

I'll be glad to work on this issue without disturbing the workflow.

[2017-09-14 12:57] modestlearner commented on #425
@vnbang2003 can you please describe the above issue in a more structured way and also the files we need to alter to fix this.

[2017-09-27 09:12] vnbang2003 commented on #425
Presently we allow only tutor and college POC to share feedback.
We want to add an option where the student can directly share feedback about the workshop.
This will provide us better understanding.

Implementation wise: It's sort of whole module to be developed. with below steps
1) Allow student to register(Done)
2) Allow student to choose college from profile page.
3) Allow student to be notifie

[2017-09-27 09:13] vnbang2003 commented on #439
Please do help

[2017-09-27 09:15] vnbang2003 commented on #429
Yes something similar to constants.py page or DB configurable table.
So it easy to change if any other community is willing to deploy this project.

[2017-09-27 09:17] vnbang2003 commented on #331
@rahulxxarora Email is sent from workshop.models.py file. Probably take a look into it.

[2017-10-09 16:22] vnbang2003 opened #441 "Change functionality of reject button for workshop"
We should change functionality of reject button in case tutor is planning to drop workshop with less than 5 days from workshop.
This button should pop message "As workshop is planned less than 5 days , Request you to drop email to 'contact at pythonexpress dot in' so co-ordinator can do needful"

[2017-10-14 04:37] vnbang2003 commented on #433
Looks to be bug

[2017-10-15 14:28] #310 closed

[2017-10-15 14:29] vnbang2003 commented on #241
Am not sure what this issue about. Closing it

[2017-10-15 14:29] #241 closed

[2017-12-16 01:41] kurianbenoy commented on #439
Can I take up this issue?

Is the issue already closed?

[2017-12-16 13:50] vnbang2003 commented on #439
I think so . but looks like pull request was not accepted due to some reason.

[2017-12-17 02:09] kurianbenoy commented on #439
can So I put a PR for the same

[2018-01-28 09:04] kurianbenoy commented on #441
I would have loved to work in this issue. Is it still open?

[2018-04-05 08:50] akshitac8 commented on #425
Hello, @vnbang2003 Is this bug up for solving?

[2018-04-05 08:50] akshitac8 commented on #441
Hello, @vnbang2003 Is this bug up for solving?

[2018-04-05 14:30] adityac8 commented on #428
Hey, @vnbang2003 Is this issue open to solving?

[2018-04-06 14:58] vnbang2003 commented on #441
@akshitac8 Yep we need to work

[2018-04-06 16:39] akshitac8 commented on #441
I am on it :)

[2018-04-14 19:14] akshitac8 opened #445 "Proposal for Code of conduct"
It would be nice if we had a code of conduct.
Clearly stating ***acceptable and unacceptable behaviour***

[2018-04-14 19:14] akshitac8 commented on #445
Should I work on this?

[2018-07-07 01:22] SystemDisc commented on #214
Command is now
[code]

[2018-07-14 00:16] tanvibhakta commented on #331
Hasn't this issue been solved? Not sure which commit fixed it but on local I see that emails are going out to the account in which I create the workshop as well.

@realslimshanky @vnbang2003 @ankur0493

![screen shot 2018-07-14 at 5 45 05 am](https://user-images.githubusercontent.com/13763558/42718716-25bd8552-8729-11e8-9710-3f2d6d96541b.png)

[2019-08-06 00:45] bobleujr commented on #214
In case you are using alpine
`apk add tiff-dev jpeg-dev zlib-dev freetype-dev lcms2-dev libwebp-dev tcl-dev tk-dev python2-tkinter`

[2019-08-16 13:53] vnbang2003 opened #449 "Change email content to replace pythonexpress.in to pythonexpress.org"
We need to change email content  to use pythonexpress.org .
List of email content : https://github.com/pythonindia/wye/search?q=pythonexpress.in&unscoped_q=pythonexpress.in

[2019-08-26 10:10] gnurenga opened #452 "Repo Description needs to be updated to pythonexpress.org"
wye repo description needs to updated to `Wye is a workshop collaboration software https://pythonexpress.org/`

[2019-09-04 09:08] gnurenga opened #453 "Python express authentication using twitter, google, github needs to be fixed with pythonexpress.org token"
Social network login is getting failed,  seems there is a problem in oath token generated using pythonexpress.in.

[2019-09-27 13:57] deepak1725 opened #454 "Failed building wheel for Pandas in Python 3.7"
Replication steps:
1. Make and activate virtual env with python3.7 interpretter.
2. `pip  install -r requirements.txt`
Pandas compilation failed.
[code]

[2019-10-15 11:35] Hemanth211 commented on #453
We tried with below changes and we are able to log in using github OAuth
       1. Configured GitHub OAuth(refer screenshot)

![](https://lh3.googleusercontent.com/-wiyKM-yJ9R0/XaWttjEVBII/AAAAAAAABRc/HOeL_X7kxY0a_tmmNmOLyQbCux8HndNjgCK8BGAsYHg/s0/Login_using_github_config.png)

       2. Added GitHub config in settings/common.py(refer the diff of the file)

![django_github_user_oauthdetails](http

[2020-02-19 18:49] vinitwadgaonkar commented on #360
i have worked on this issue wanted email address of admin and managers also the port of mailing website

[2020-02-20 08:10] onlinejudge95 commented on #360
Just a thought, are we using services like **SendGrid**, etc or implementing it ourselves by vanilla **smtplib** in context of DRY principle

[2020-02-20 08:31] vinitwadgaonkar commented on #360
Second one vanilla bsmptlib

On Thu, 20 Feb, 2020, 1:40 PM onlinejudge95, <notifications@github.com>
wrote:

[2020-02-22 03:03] vinitwadgaonkar commented on #360
I am still waiting for the email id's or shall I launch a pull request with
mailing address as admin's one please clarify

On Thu, 20 Feb, 2020, 12:19 AM vinit wadgaonkar, <notifications@github.com>
wrote:

[2020-06-21 15:32] SevaShpun commented on #214
Thanks!

[2020-08-15 08:32] mdnaimul22 commented on #454
![IMG_20200815_142801](https://user-images.githubusercontent.com/64520358/90308743-ed753980-df03-11ea-80a3-779324671737.jpg)
hello guys i am fetching issue  pep 517 error after updating python3.8 and termux latest version.

[2021-10-01 12:13] PICKLERICK2005 commented on #454
[https://i.ibb.co/wMgL7JT/image-2021-10-01-150930.png](url)
same issue when trying to install google-colab on python 3.9 and latest pip version